[2020-10-26 10:30] dblachut-adb commented on #735
@hodgef I am having trouble with verifying your change. It seems that neither ```onKeyPress``` nor ```onChange``` callback is called. Is this intended?

[2020-10-26 11:50] faceru commented on #748
I think that in the end, this is a situational task that is not needed by the OpenSource project. Since I tested by writing my keyboard. And I came to the conclusion that since the browser prohibits the launch of the event of pressing the keys of the physical keyboard in the field, we must change the value directly in the field and control the cursor. Accordingly, for this to work, the mask handle

[2020-10-26 13:40] dblachut-adb commented on #735
@hodgef Alright, my bad, I was using ```useMouseEvents``` option for some reason. It works! Thank you!

[2020-10-26 18:32] ZaneL commented on #774
Thank you so much!!

[2020-10-27 07:02] grimace opened #776 "Is there a way to disable a key ( Enter Key )?"
I'm processing the Enter key and not allowing the keyboard to close when the user makes an invalid entry. I would like to be able to show the Enter key as disabled ( greyed out ),  if this is the case.  Do you have any suggestions for that?

[2020-10-27 14:38] d-s-e opened #777 "Using simple-keyboard with Svelte and Rollup not working"
I tried to create a svelte component providing simple-keyboard based on the plain JS example code, but unfortunately it is not working. I always get the following error in the browser:

Maybe I'm missing something, any hints?

[2020-10-27 15:10] hodgef commented on #777
Hello @d-s-e, I would need more details. For example to see how you are instantiating simple-keyboard. My guess is that you're missing the `new` keyword in `new Keyboard(...` but maybe it's something else. I would definitely need more details.

Thanks!
Francisco Hodge

[2020-10-27 15:33] hodgef commented on #776
Hello @grimace,

Maybe the following ticket could help, it's the same request, but for the React version:
https://github.com/hodgef/react-simple-keyboard/issues/645

So you can definitely forbid clicks by giving the CSS `pointer-events: none` to your button. However if you want it to look disabled (grayed out) it could help to have actual button elements for buttons and then using the button attri

[2020-10-27 15:33] #776 closed

[2020-10-27 21:56] d-s-e commented on #777
This is my Keyboard component:

[code]

[2020-10-28 01:11] hodgef commented on #777
Hello @d-s-e - So I've tried to create a Svelte sandbox myself but I wasn't able to do so. I haven't really used it before. Can you provide a sandbox or git repo with the full example? I can't see any mistake with the code provided.

Best,
Francisco Hodge

[2020-10-28 09:21] d-s-e commented on #777
Here is an minimal svelte project including simple-keyboard:
https://github.com/d-s-e/svelte-simplekeyboard-test

[2020-10-28 23:33] hodgef commented on #777
Hello @d-s-e, thanks for the test repo, it's very helpful.

I logged the Keyboard class, and here's what I see:
![image](https://user-images.githubusercontent.com/25509135/97506217-d2d22e80-1950-11eb-86b6-91e8673b4d44.png)

With Webpack we normally get the class directly, but here it's under the "default" property. It might be how Rollup packages things.

So to fix the issue, we change the import

[2020-10-28 23:33] #777 closed

[2020-10-29 09:55] d-s-e commented on #777
Ah, ok, I tried it with onMount already, but as this was only one part of the solution, it couldn't work.
Yes, the CSS is a totally different topic, i think I can solve this.

Thank you very much!

[2020-10-29 09:59] reksc commented on #47
I had exactly this issue today. A word about that calling `setOptions` might overwrite your custom class bindings should be in the docs :).

[2020-10-30 09:01] dblachut-adb opened #781 "Add option to provide simple-keyboard-key-navigation marker color via keyboard options"
**Is your feature request related to a problem? Please describe.**
I would like to be able to specify marker color in a convenient way via keyboard options.

**Describe the solution you'd like**
```markerColor``` option what would be used in simple-keyboard-key-navigation

**Describe alternatives you've considered**
Long css selector with box-shadow property. This have a disadvantage - if simple-k

[2020-11-09 13:35] ifyum opened #794 "Change button labels"
I want to change the name of the "enter" and the "backspace"

[2020-11-09 15:01] ifyum opened #795 "format label"
I want to give it a format, where the ninth number is separated by a hyphen
but when entering numbers by buttons it does not work, but the log says yes
![image](https://user-images.githubusercontent.com/50993196/98557546-1dbe4100-2283-11eb-8f49-a615f3276b37.png)

[2020-11-09 15:04] hodgef commented on #794
Hello @ifyum,

You can use the display option:

[code]

https://hodgef.com/simple-keyboard/documentation/options/display/

Regards,
Francisco Hodge

[2020-11-09 15:04] #794 closed

[2020-11-09 15:08] hodgef commented on #795
Hello @ifyum, I'm not sure where that hyphen is coming from since it's not in your keyboard layout. However perhaps the input mask module might help.

Check out the docs:
https://hodgef.com/simple-keyboard/modules/input-mask/

Thanks,
Francisco Hodge

[2020-11-09 15:08] #795 closed

[2020-11-09 15:13] ifyum commented on #794
sorry for the inconvenience
what would be the correct way?
![image](https://user-images.githubusercontent.com/50993196/98558973-d5078780-2284-11eb-8906-ed285ff42124.png)

[2020-11-09 15:15] hodgef commented on #794
Hello @ifyum, I linked the docs entry in the previous comment. Thanks!

[2020-11-09 15:31] ifyum commented on #794
layout: {
        default: [
          "7 8 9" ,
          "4 5 6",
          "1 2 3",
          "0 k",
          '{enter}'

        ]
        }

,
  display: {
    '{enter}': 'ENTER ',

  },
  mergeDisplay: true

[2020-11-10 03:50] xquitralx opened #796 "Is there a way to make every time you press a number also be like pressing enter?"
I have the following code
if (button === button)
      this.value=this.value.replace(/[.-]/g, '')
        .replace( /^(\d{1,2})(\d{3})(\d{3})(\w{1})$/, '$1$2$3-$4')

so that it gives a format to my "input" but ...
it only grants it when I hit enter
in this other way
(button === '7' ||
      button === "8" || button === "9" ||
      button === "4" || button === "5" ||
      button === "6" || button

[2020-11-10 14:17] hodgef commented on #796
Hello @xquitralx,

Could you provide a test git repository or sandbox that shows the issue? This will help me understand the issue and to find a solution for this.

Thanks!
Francisco Hodge

[2020-11-10 14:17] #796 closed

[2020-11-12 06:53] bkmgit opened #801 "Alt and Fn keys in demo"
**Is your feature request related to a problem? Please describe.**

Many languages have more characters than can be accessed through a two layer keyboard. In addition, when typing in multiple languages, it can be helpful to not have to change keyboard type frequently.

**Describe the solution you'd like**

Many keyboards used in Linux have upto 4 symbols per key, usually accessed through using the

[2020-11-12 15:58] Danieliverant opened #803 "Numeric input layout in RTL"
**Simple-keyboard version**
"simple-keyboard": "^2.32.36",
"simple-keyboard-layouts": "^1.15.43",

**Describe the bug**

1. Why no numeric layout in the layouts package?
2. I've used the layout as in this example:
https://hodgef.com/simple-keyboard/editor/?d=hodgef/simple-keyboard-npm-demos/tree/numeric-theme

but in RTL it looks like that:

![image](https://user-images.githubusercontent.com/13013

[2020-11-13 16:32] hodgef commented on #803
Hey @Danieliverant, there are no numeric layouts in simple-keyboard-layouts just because it's mostly used for language layouts.

I'll look into the styling issue when using RTL. Thanks!

[2020-11-13 16:37] hodgef commented on #801
Hey @bkmgit,

I think this would be excellent to have. My thinking is that this feature could come in handy as a [module](https://hodgef.com/simple-keyboard/modules/). However, I don't think I'll have much time to implement it soon.

I'll move this into the Enhancements project so I can pick this up whenever I have more time.

Regards,
Francisco Hodge

[2020-11-13 16:37] #801 closed

[2020-11-14 11:46] Danieliverant commented on #803
Thank you @hodgef!
but can you add it to the library? I think most of the users need the numeric layout also - and I would like to use only the NPM version and get updates every time you update it.

[2020-11-14 19:22] seAfnan opened #805 "How to handle multiple input fields with one soft keyboard?"

[2020-11-14 19:50] hodgef commented on #805
Hello @seAfnan,

Check out this Q&A entry:
https://hodgef.com/simple-keyboard/questions-answers/use-simple-keyboard-multiple-inputs/

Regards,
Francisco Hodge

[2020-11-14 19:50] #805 closed

[2020-11-15 17:10] seAfnan opened #806 "Multiple keyboards on one HTML page in plane javaScript ?"
How can we declare multiple keyboards in one HTML page with different className in plane javaScript ?bcz I can declare only one keyboard in one HTML page with " .simple-keyboard " class...

[2020-11-15 17:43] hodgef commented on #806
Hello @seAfnan,

Check out this Q&A entry:
https://hodgef.com/simple-keyboard/questions-answers/give-different-base-class-keyboard/

Regards,
Francisco Hodge

[2020-11-15 17:43] #806 closed

[2020-11-17 02:05] hodgef commented on #803
Hello @Danieliverant,

I wanted to apply an upstream fix for your CSS issue by leveraging the [rtl option](https://hodgef.com/simple-keyboard/documentation/options/rtl/). However that option handles input rtl, not button rtl.

In this case your best bet is to simply add this CSS in your code:

[code]

Regarding the request to add the numeric layout in simple-keyboard-layouts, sadly I wouldn't add

[2020-11-17 02:05] #803 closed

[2020-11-18 13:50] xquitralx opened #809 "just erase the last number with mask"
https://twwx2.csb.app/ sanbox link

when I want to delete a number chosen by the cursor it only deletes the last one but this only happens with an "inputmask"

I need to use the mask but I also want that when I choose a number with the course, only that number is deleted and not the last one

[2020-11-18 14:25] hodgef commented on #809
Hello @xquitralx,

When you open your Dev Tools, it'll tell you this
![image](https://user-images.githubusercontent.com/25509135/99542343-f1d84500-297f-11eb-8c35-feccb8df924c.png)

Regards,
Francisco Hodge

[2020-11-18 14:25] #809 closed

[2020-11-18 15:01] xquitralx commented on #809
delete the mask and pass the same, it is any type of format to the input

[2020-11-18 16:36] chetrix opened #810 "Input position uchanged"
Hi,
 I have been facing an issue. Given the scenario-
I have an input field of width 18vw. My input field is incorporated with react simple keyboard. Text is not moving after input field is filled.I have to scroll to the length of the text field to type again. Please help

[2020-11-18 17:17] hodgef commented on #810
Duplicate of #80

[2020-11-18 17:17] #810 closed

[2020-11-18 18:11] chetrix commented on #810
Thanks. it worked !!!

[2020-11-18 18:20] chetrix opened #811 "Keys are not getting clicked from console"
Hi,
I have used your package react-simple-keyboard in my project. However, to implement automation testing or selenium, I am finding it difficult to implement click method on the keys.
For example
if I enter the below statement on the console and by 5th element of <span> is '3' on the keyboard.

document.getElementsByTagName('span')[5].click();

'3' is not getting typed on the input field.
can you

[2020-11-18 18:22] chetrix commented on #811
In another word, how do I type with help of JS from the console?

[2020-11-19 22:44] sfasp opened #813 "Demo not working in IPad Air"
**Simple-keyboard version**
The used by the demo site (https://hodgef.com/simple-keyboard/demos/)

**Describe the bug**
On IPad Air / Software 12.4.9 / Safari or Chrome (86.0.4240.93) browsers:
  - for the demo "default":
       - keys are not highlighted
       - shift and caps do not work
  - for the demo "darkTheme":
       - shift and caps do not work

Aside from that, it is an amazing work. T

[2020-11-20 00:09] hodgef commented on #813
Hello @sfasp,

I think simple-keyboard does work on iPad (based on issue #2), so this might be an issue only limited to the demo.

Unfortunately, I don't have a test device to debug this, and everything seems fine on Chrome's device emulator. I'll add this to my Bugs backlog and revisit this when I get ahold of a test device.

Thank you,
Francisco Hodge

[2020-11-20 00:09] #813 closed

[2020-11-20 15:06] Amstergo opened #815 "Hiding keyboard on first click"
Hello!

I am using your plugin and I really like it!

But I have a little problem with the inputMask module
I have multiply inputs on the page, and I need to show and hide the keyboard on click
If I don't use inputMask everything works fine, but as soon as I enable it the behavior breaks
When you first click on the keyboard, it hides, this should not happen

sendbox with a problem https://codesand

[2020-11-21 05:53] hodgef commented on #815
Hey @Amstergo,

First of all, I'm very sorry that you had this annoying issue. This is the same issue that I saw on #47, but sadly I didn't update the docs and demos accordingly.

The issue is that the "show-keyboard" class is being lost due to a keyboard re-render. The mask module for example calls `setOptions` [here](https://github.com/simple-keyboard/simple-keyboard-input-mask/blob/master/src/i

[2020-11-21 05:53] #815 closed

[2020-11-23 18:53] Naveed1842 opened #821 "Show keyboard only when user type input and hide options."
Hi does the simple keyboard has the feature to visible only when user type input on the screen?If there is already feature please let me know.In case of non-availability please let me know how much time require to develop this feature.

[2020-11-23 19:05] hodgef commented on #821
Hello @Naveed1842,

In the Question and Answers section of the docs there are some examples of visibility toggling:
https://hodgef.com/simple-keyboard/questions-answers/implement-show-hide-toggling/

Feel free to take these examples and adapt them to your needs.

Regards,
Francisco Hodge

[2020-11-23 19:05] #821 closed

[2020-12-05 08:33] skyunBoss opened #832 "Do you have any suggestions for referencing the keyboard globally"
I want to click the input in the project to directly pop up the keyboard instead of introducing no components

[2020-12-05 09:21] hodgef commented on #832
Hey @skyunBoss,

That really depends on your implementation. One way is to attach an onFocus event to your inputs that would in turn instantiate (or display) the keyboard.

Something like this: https://github.com/hodgef/simple-keyboard/issues/340#issuecomment-563493815

Or this (Vue): https://codesandbox.io/s/demo-nuxt-spa-simplekeyboard-vuex-wi3kk?file=/layouts/default.vue

Feel free to try it ou

[2020-12-05 09:21] #832 closed

[2020-12-07 08:30] skyunBoss commented on #832
need react example

[2020-12-07 08:31] skyunBoss commented on #832
need react example

[2020-12-07 15:41] Danieliverant opened #834 "when rtl=true keyboard add invisible string before and after the input"
**Simple-keyboard version**
2.32.51

**Describe the bug**
When adding "rtl: true" to the keyboard config, every value from the "onChange" method returns with empty (invisible!) strings on the sides.

i.e. pressing 1 and splitting to an array will give you ('', '1', '');
or `'key-pressed'.charAt(0)` will give you an empty invisible string.

**to reproduce:**

your numeric layout demo - https://code

[2020-12-07 15:51] hodgef commented on #834
Hello @Danieliverant, this is intended for the `rtl` option.

Please refer to this issue for context:
https://github.com/hodgef/simple-keyboard/issues/712#issuecomment-709776091

Per v2.31.0 release notes:

When set to `true`, this option adds [unicode directional control characters](http://unicode.org/reports/tr9/#Directional_Formatting_Codes) `\u202B` and `\u202C` to `onChange()` and `getInput()

[2020-12-07 15:51] #834 closed

[2020-12-07 16:06] Danieliverant commented on #834
@hodgef
If I enter 1, and then try to parse this string to a number I can't because the string is actually `\u202B1\u202C` and it resolves to "NaN".

Maybe add this unicode directional control characters only around special characters?
and not for letters or numbers and not in the start and end of the input.

i.e. if I press "123&5" it will be "123\u202B&\u202C5"

[2020-12-07 16:19] hodgef commented on #834
I see.. I wonder though, why do you need simple-keyboard's rtl option here? The only purpose of that option is to add those control characters.

The reason these are added is to explicitly tell the browser to handle the whole input as left to right, This is because when you mix ltr ("western") and arabic characters for example, the browser gets confused and the output is messed up sometimes.

In y

[2020-12-07 16:46] Danieliverant commented on #834
@hodgef
got it, thanks

[2020-12-08 00:25] cactilly opened #835 "Re-enabling key navigation fails to restore the active key CSS"
**Simple-keyboard version**
2.32.33

**Simple-keyboard-key-navigation version**
2.3.57

**Describe the bug**
Expected behavior:
When using the simple-keyboard-key-navigation module, setting enableKeyNavigation to false will remove the active key CSS. Setting it to true after that will restore the active key CSS on the same key.

Bug:
Setting it to false does indeed remove the active key CSS, but s

[2020-12-09 01:37] hodgef commented on #835
Hello @cactilly,

When the options are changed, the keyboard is [re-rendered according to the new options](https://hodgef.com/simple-keyboard/documentation/methods/setoptions/). Since the active button class is just attached to the button element (e.g.: not set through an option), the keyboard won't re-add it on re-render.

This is just a side-effect of the current [`setOptions`](https://hodgef.co

[2020-12-09 01:55] hodgef commented on #835
Looks like I missed the part where you referenced `hg-keyMarker`. I thought you were talking about `hg-activeButton` (the onPress class) for some reason. Sorry about that.

I've pushed a fix for your issue which should land with `simple-keyboard-key-navigation@2.3.78` in a couple minutes. Feel free to check it out.

Thanks!
Francisco Hodge

[2020-12-09 01:56] #835 closed

[2020-12-09 16:34] cactilly commented on #835
Thanks, the new version looks good! No worries about the confusion.

[2020-12-16 07:15] skyunBoss opened #842 "Chrome 49 PhysicalKeyboard error"
PhysicalKeyboard.js:113 Uncaught TypeError: Cannot read property 'toUpperCase' of undefined

[2020-12-16 13:50] #842 closed

[2020-12-16 13:52] hodgef commented on #842
Hello @skyunBoss,

I pushed a fix that should address the issue. Feel free to try out the latest version (2.32.65).

Regards,
Francisco Hodge

[2020-12-17 09:08] bjoerndot opened #844 "Key Navigation & preventMouseDownDefault throws error"
**Simple-keyboard version**
simple-keyboard: 2.32.57
simple-keyboard-key-navigation: 2.3.81

**Describe the bug**
[code]

With both **preventMouseDownDefault** and **stopMouseDownPropagation** an error occurs if a key on the keyboard is written through the physical keyboards enter-key.
Error:

**ERROR TypeError: Cannot read property 'preventDefault' of undefined**

This seems to be a problem in th

[2020-12-17 14:46] #844 closed

[2020-12-17 14:48] hodgef commented on #844
Thank you for the detailed report @bjoerndot !

The issue should now be fixed as of version 2.32.66. Feel free to check it out.

Regards,
Francisco Hodge

[2020-12-20 04:19] darda-ergo opened #845 "how to use formik and react-simple-keyboard together"
I am using formik to handle form my react project and i need to use react-simple-keyboard. How can I use both libraries together? Any idea or demo will help. Thank you

[2020-12-22 16:42] swthate commented on #232
Is there any reason why adapting this approach to a CDN-powered Vue instance would not work?

Everything works fine while you tap and enter text to the first input, but when you tap and move focus to the next input and try to type, focus shifts to the first input, and if you type again you see the new characters prepended to the previous value of the first input.

The code looks pretty spot-on to

[2020-12-22 19:37] hodgef commented on #232
Hello @swthate,

I recommend carefully following this example:
https://codesandbox.io/s/github/simple-keyboard/vue-simple-keyboard-multiple-inputs?file=/src/App.vue

To keep focus in the input, you can use [preventMouseDownDefault](https://hodgef.com/simple-keyboard/documentation/options/preventmousedowndefault/) (check out the JS demo in that doc). So you shouldn't need to call `focus` directly o

[2020-12-23 04:07] darda-ergo opened #847 "my backspace button is not working properly."
I am putting some predefined values in input field but while i click the input field and press backspace its not working. But after i press backspace once on pyshical keyboard then the virtual keyboard starts working.

import { Button } from "@material-ui/core";
import { makeStyles } from "@material-ui/core/styles";
import TextField from "@material-ui/core/TextField";
import AssignmentIndIcon from

[2020-12-23 05:40] darda-ergo opened #848 "TypeError: Cannot read property 'setInput' of undefined"
I am getting this error:
![image](https://user-images.githubusercontent.com/61325474/102963497-7126de80-4513-11eb-8999-a1d5007d4fb8.png)

this is my code below:
import { Button } from "@material-ui/core";
import { makeStyles } from "@material-ui/core/styles";
import TextField from "@material-ui/core/TextField";
import AssignmentIndIcon from "@material-ui/icons/AssignmentInd";
import { Alert, Alert

[2020-12-23 13:11] caominhsg opened #849 "Can you demo how to use with tinymce ?"
Can you demo how to use with tinymce ?

[2020-12-23 14:59] hodgef commented on #849
Hello @caominhsg,

Sorry, I currently don't have a demo on how to use with tinymce. However simple-keyboard provides ways to get and set its values.

These are simple-keyboard integration points:

- It outputs through [`onKeyPress`](https://hodgef.com/simple-keyboard/documentation/options/onkeypress/), [`onChange`](https://hodgef.com/simple-keyboard/documentation/options/onchange/) and [`keyboard.

[2020-12-23 14:59] #849 closed

[2020-12-24 00:08] caominhsg commented on #849
The problems is if I use tinymce, its not received any text when I click on virtual keyboard button but text area is fine. Its not work with visual text editor.

[2020-12-24 00:11] hodgef commented on #849
What's your current implementation? For example: How are you sending simple-keyboard's `onChange` value to tinymce?

[2020-12-24 00:25] caominhsg commented on #849
I just implement normal. When not install tinymce plugin. it works fine with text area. But when I active tinymce plugin. It received nothing. So I guest due to visual editor of tinymce blocked. I used tinymce version 5

[2020-12-28 07:40] skyunBoss opened #850 "Do you have any suggestions for referencing the keyboard globally?(React)"
React I want to click the input in the project to directly pop up the keyboard instead of introducing no components

Vue can be two-way binding

[2020-12-30 02:22] Naveed1842 opened #851 "Binding NgModel with Simple Keyboard."
Hi
Please see the below snippet
![Screen Shot 2020-12-30 at 7 22 39 AM](https://user-images.githubusercontent.com/22956528/103325927-dfb5f000-4a6f-11eb-84de-5e4ac0639f57.png)

The problem I am facing is how to set ngModel. I noticed the inputs values are setup but they are not binding to [(ngModel)]

[2020-12-30 14:15] hodgef commented on #851
Hello @Naveed1842,

I would like to help, but an image likely won't be enough. Do you happen to have a demo repository or sandbox where I can debug this? I'll reopen the ticket as soon as I get a repro.

Regards,
Francisco Hodge

[2021-01-03 04:50] Naveed1842 commented on #851
Hi @hodgef  sorry for late reply.Here is repo I created and added instruction in code.
https://github.com/Naveed1842/SimpleKeyboardModelBindingIssue
As discussed earlier need an auto way so we value can bind auto.Currently values are not binding to Model.Please run the angular repo.

[2021-01-03 22:08] hodgef commented on #851
Hey @Naveed1842, thanks for the demo!

I've updated the Angular multiple inputs demo to use ngModel. Here's the link:

https://codesandbox.io/s/github/simple-keyboard/simple-keyboard-angular-multiple-inputs/tree/master/?from-embed=&file=/src/app/app.component.ts

Feel free to take that as a base and adapt it to your needs.

Just a note, when you give an initial value to your inputs, you must sync

[2021-01-03 22:08] #851 closed

[2021-01-04 07:20] skyunBoss opened #855 "checkbox change error"
![9DDCD8B2-78D3-4b46-B36B-299FA23756C9](https://user-images.githubusercontent.com/29365288/103510530-64ee3a00-4ea0-11eb-9a6d-94227e155116.png)
![64FEFD7E-4F37-4199-8E8F-6B6553F7A063](https://user-images.githubusercontent.com/29365288/103510539-6a4b8480-4ea0-11eb-8981-29758a1a4470.png)

[2021-01-04 08:36] hodgef commented on #855
Hello @skyunBoss,

I wasn't able to reproduce this on Chrome 87. However I've added a fix which I hope works in your case.

Feel free to upgrade to the latest simple-keyboard or react-simple-keyboard version (depending on which one you're using).

Thanks!
Francisco Hodge

[2021-01-04 08:37] skyunBoss commented on #855
chrome 49

[2021-01-04 08:38] hodgef commented on #855
Yeah updating Chrome will probably fix it. But if you don't want to update you can install the latest simple-keyboard and hopefully that'll fix it for you. Regards

[2021-01-04 09:49] Ardyey opened #856 "Keyboard not resizing properly on resolutions < 400"
**simple-keyboard v2.32.71**

**Bug**
As you can see in the screenshot below, the keyboard starts to clip the buttons when the resolution of the screen is lower than 400. In the screenshot, the resolution is 360. Same can be said with the height, but height doesn't matter that match. Width is the one that is important.

The reason why I'm implementing this in lower resolutions is because I'm tryin

[2021-01-04 14:57] hodgef commented on #856
Hello @Ardyey,

There's no minimum size implemented, but the buttons cannot be smaller than the text they contain.

What you can do is to switch to a [mobile-style layout](https://hodgef.com/simple-keyboard/demos/?d=mobile) when your screen size reaches mobile size, just like it's done on https://virtual-keyboard.js.org/.

Regards,
Francisco Hodge

[2021-01-04 14:57] #856 closed

[2021-01-05 01:41] ricjonsu-impact360 commented on #856
Sweet. Definitely the best virtual keyboard there is.

[2021-01-05 01:41] Ardyey commented on #856
Sweet. Definitely the best virtual keyboard there is.

[2021-01-05 01:44] hodgef commented on #856
Thanks a lot ! It's very appreciated. If you come across any issues don't hesitate to reach out 👍

[2021-01-05 03:15] Ardyey opened #858 "Backspace not working when input field has a default value"
**Simple-keyboard version**
simple-keyboard v2.32.71

**Describe the bug**
As the title says, when there's a default value for the input field where the keyboard listens to, backspace is not working.
This is taken using the following demo:
https://hodgef.com/simple-keyboard/editor/?d=hodgef/simple-keyboard-js-demos

**GIF**
![Bug](https://user-images.githubusercontent.com/35645526/103602542-4000d2

[2021-01-05 03:36] Ardyey commented on #858
Quick Fix: Check if the input field has a default value, if there is, then set the keyboard input value using `keyboard.setInput(value)`

Example:

[code]

[2021-01-05 04:51] hodgef commented on #858
Hello @Ardyey ,

You've got it right: if an input has a default value, this needs to be synced with simple-keyboard through [`keyboard.setInput()`](https://hodgef.com/simple-keyboard/documentation/methods/setinput/) or [`keyboard.replaceInput()`](https://hodgef.com/simple-keyboard/documentation/methods/replaceinput/).

Closing as duplicate of https://github.com/hodgef/simple-keyboard/issues/55#iss

[2021-01-05 04:51] #858 closed

[2021-01-07 12:51] PozziCode commented on #774
Hi @hodgef,
if while I select the text I leave the input it does not work correctly.
I noticed it in this [example](https://hodgef.com/simple-keyboard/editor/?d=simple-keyboard/simple-keyboard-preventmodefault-caret-pos/tree/master).
![bug](https://user-images.githubusercontent.com/39779328/103894514-55b0fb80-50ef-11eb-8334-49e78a3cae09.gif)

[2021-01-07 13:01] PozziCode commented on #637
Hi @hodgef,
if while I select the text I leave the input it does not work correctly.
I noticed it in this [example](https://hodgef.com/simple-keyboard/editor/?d=simple-keyboard/simple-keyboard-preventmodefault-caret-pos/tree/master).
![bug](https://user-images.githubusercontent.com/39779328/103894514-55b0fb80-50ef-11eb-8334-49e78a3cae09.gif)

[2021-01-07 16:43] hodgef commented on #637
Hello @PozziCode,

Please refer to this comment:
https://github.com/hodgef/react-simple-keyboard/issues/896#issuecomment-722760244

If you come across issues please feel free to create a new ticket. Thanks!

Regards,
Francisco Hodge

[2021-01-12 19:29] mohit1828 opened #863 "Form "textarea" and "input" fields validation error"
Simple keyboard input values does not get validated inside a form.
Step 1: Enter values using touch keyboard (values will get displayed inside element)
Step 2: Press submit/next button on form and the entered input gets cleared and validation error is displayed along.

Your response will be appreciated.

[2021-01-12 19:52] hodgef commented on #863
Hello @mohit1828,

Simple-keyboard just provides a way to turn button presses into a string. It's up to the developer to integrate that input with their application.

That is to say that validation issues are not caused by simple-keyboard. I'd suggest to try setting the input element's value directly with Javascript (`input.value = ...`) and see if they pass. That's essentially what is done in the

[2021-01-12 19:52] #863 closed

[2021-01-13 17:04] xinthose opened #865 "How to access KeyboardOptions interface?"
We import simple keyboard like this: `import Keyboard from "simple-keyboard"` instead of like this: `import { Keyboard } from "simple-keyboard"` because of this line: https://github.com/hodgef/simple-keyboard/blob/852d3049efc31f766f71af11f0715cd4235b39ea/src/lib/%40types/index.d.ts#L328

What I would like to do is install `@types/simple-keyboard` (but I know that this does not exist according to P

[2021-01-13 19:27] #865 closed

[2021-01-13 19:31] hodgef commented on #865
Hello @xinthose,

This should be fixed as of the latest release. Please feel free to update to simple-keyboard@2.32.77.

You can then access `KeyboardOptions` like so:
[code]

Regards,
Francisco Hodge

[2021-01-13 21:57] xinthose commented on #865
@hodgef Thank you for your help.  When I try this line in my code `import { Keyboard } from "simple-keyboard";` after running `npm update` and getting `+ simple-keyboard@2.32.78`, I still get this error in VisualStudio Code:

[2021-01-13 22:03] hodgef commented on #865
Hello @xinthose,

Per the example above, the correct statement is:
[code]

Regards,
Francisco Hodge

[2021-01-14 14:10] xinthose commented on #865
@hodgef ah, I see.  Did not know you could import like that (first time seeing it).  It is working for me.  Thank you for your help sir.

[2021-01-26 10:14] skyunBoss opened #871 "keyboard touch click Event penetration"
keyboard touch click Event penetration

[2021-01-26 15:04] hodgef commented on #871
Hey @skyunBoss,

Sorry, I'm not understanding your request. Please provide more details and I'll reopen the issue.

Thanks!

[2021-01-26 15:04] #871 closed

[2021-01-28 08:48] skyunBoss opened #872 "Event penetration"
My page has a modal, there is a keyboard in the modal, triggering the OK key of the keyboard will trigger the event under the mask

[2021-01-28 14:52] hodgef commented on #872
Hello @skyunBoss,

You can try using the options [`useMouseEvents`](https://hodgef.com/simple-keyboard/documentation/options/usemouseevents/) or [`stopMouseDownPropagation`](https://hodgef.com/simple-keyboard/documentation/options/stopmousedownpropagation/).

Hope that helps,
Francisco Hodge

[2021-01-28 14:52] #872 closed

[2021-02-02 11:49] soumen-cn opened #876 "Input field value with special character input at end or start showing in wrong direction for RTL"
**Simple-keyboard version**
"simple-keyboard": "^2.31.4"

**Describe the bug**
If I type any special character at the start and end of Hebrew text from the Hardware keyboard in an input field the value of the input field direction showing wrong.

HTML code
[code]
TS code

[code]

Keyboard initialize

[code]
**Screenshots**
Please check the screenshot input field and console

![Screenshot 2021-02-0

[2021-02-03 02:34] hodgef commented on #876
Hello @soumen-cn,

I'm not completely sure I understand the issue. To provide a bit of context, simple-keyboard's internal value of the input will always be LTR. We leave the task to render as RTL to the browser (through CSS `direction: rtl`, etc).

For more information on the rtl option, check out this page:
https://hodgef.com/simple-keyboard/documentation/options/rtl/

Regards,
Francisco Hodge

[2021-02-03 02:34] #876 closed

[2021-02-17 10:33] nicoagp opened #891 "Keyboard inside of iframe"
Hi, is there any way to use the keyboard inside of an iframe ? I am using stripe elements and the fields are inserted inside of an iframe. Any solution, hack or alternative ? thanks
![Screen Shot 2021-02-17 at 9 20 49 pm](https://user-images.githubusercontent.com/28281438/108191875-c07e3980-7167-11eb-966f-49718377ed8b.png)

[2021-02-17 17:00] hodgef commented on #891
Hello @nicoagp, could you share a test git repository that shows the issue? I think this is something that would need to be fixed within the application.

Regards,
Francisco Hodge

[2021-02-17 17:00] #891 closed

[2021-02-19 13:51] sasafister opened #896 "Show capitalize letter but work with lowercase and uppercase?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I would love to show keyboard in all capital letter, because that's how keyboard exist in real world, but behind the scenes, I would love to work with lowercase and uppercase letters.

**Describe the solution you'd like**
Some kind of setti

[2021-02-19 16:09] hodgef commented on #896
Hello @sasafister,

You can probably leverage the `display` property for that purpose, like so:
https://codesandbox.io/s/new-sunset-lkniw?file=/src/index.js

It's less elegant but can provide more flexibility.

Regards,
Francisco Hodge

[2021-02-19 16:09] #896 closed

[2021-02-20 17:00] rgrokett opened #897 "Move to Next input field on Enter"
I have a multiple input fields form with 6 input fields and using the "Simple-keyboard with multiple inputs" example which works fine when I click on each field then input using the simple-keyboard.

But I want to jump to the next input field when the user clicks the Enter key and/or Tab key instead of having to click on each specific input field.

I am using the JS (CDN) version code.

[code]

[c

[2021-02-20 21:44] hodgef commented on #897
Hello @rgrokett,

This is a functionality that you would need to do custom for your app. One approach would be to fetch all inputs with `document.querySelectorAll(".input")` which will give you an array of inputs. You could then focus any of them as needed.

Here's some (untested) code. It's rather incomplete, but it's just to give an idea:

[code]

Hope that helps,
Francisco Hodge

[2021-02-20 21:44] #897 closed

[2021-02-24 13:17] maxshuty opened #907 "Virtual keyboard accessibility"
**Is your feature request related to a problem?**
Keyboard only users cannot navigate into and activate virtual keyboard keys

**Describe the solution you'd like**
Keyboard only users can tab into and activate the virtual keyboard keys. Additionally the proper aria labels (if needed) would be applied to the `button`s so that screen readers can read them out for visually impaired users.

On the sur

[2021-02-24 14:26] vPolyovyj opened #908 "Not working with contenteditable elements"
As I understand the problem is here
https://github.com/hodgef/simple-keyboard/blob/master/src/lib/components/Keyboard.js#L848
Is there any workaround?

For now I'am manually setting caret with window.getSelection() and document.createRange()... It's a bit tricky and does not work properly with CKE5, only with simple editable elements.

[2021-02-24 18:33] hodgef commented on #907
Hey @maxshuty,

My general approach with simple-keyboard is to provide flexibility so developers can then adapt the keyboard to their use-cases. This really helps to keep maintenance at manageable levels.

On the topic of accessibility, I have added the ability to add attributes to buttons as requested here: https://github.com/hodgef/simple-keyboard/issues/196

I think if you use [`buttonAttribute

[2021-02-24 18:33] #907 closed

[2021-02-24 22:49] MrYossu opened #909 "KEYBOARD_DOM_ERROR trying to do the simplest test"
**Simple-keyboard version**
2.32.111

**Describe the bug**
Trying the simplest test using the getting started page as a basis. Here is my complete code...

[code]

However, this gives an error in the browser console...

    at new SimpleKeyboard (Keyboard.js:167)
    at demo.html:15

What did I do wrong? Thanks

[2021-02-25 00:53] hodgef commented on #909
Hello @MrYossu,

This is because you're running the script before your DOM fully loads (e.g.: Before `<div class="simple-keyboard"></div>` is declared).

Try putting your script right before the `</body>` closure like this:

[code]

You can also check out the source for the CDN demo:
https://codesandbox.io/s/github/hodgef/simple-keyboard-js-demos/tree/master/?from-embed=&file=/index.html

More det

[2021-02-25 00:53] #909 closed

[2021-02-25 03:52] hodgef commented on #908
Hello @vPolyovyj,

Simple-keyboard is not meant for handling ContentEditable elements, I wouldn't recommend using it for that purpose.

If you still want to go that route, I'd suggest creating a module and overriding simple-keyboard's `caretEventHandler` method.

Here's an example, feel free to adapt it to your needs:
https://codesandbox.io/s/suspicious-franklin-pviwx?file=/src/index.js

Regards,

[2021-02-25 03:52] #908 closed

[2021-02-25 12:13] MrYossu commented on #909
Duh, silly me! Thanks

[2021-02-25 12:52] maxshuty opened #910 "Vue code sandbox breaks with custom `keyboardClass`"
**Simple-keyboard version**
Latest

**Describe the bug**
The [Vue code sandbox](https://codesandbox.io/s/github/hodgef/vue-simple-keyboard/tree/master/?from-embed=&file=/src/SimpleKeyboard.vue) has a prop called `keyboardClass` which gives the impression you can pass it whatever you class you want. As you can see, [this does not work](https://codesandbox.io/s/keen-sanderson-m9voy?file=/src/SimpleK

[2021-02-25 17:01] hodgef commented on #910
Hey @maxshuty,

I've pushed [this commit](https://github.com/simple-keyboard/vue-simple-keyboard/commit/ba6f7ce01cfe51c1f1d62ebd25660b429159f3df) to the main Vue sandbox which should fix the issue.

https://codesandbox.io/s/github/hodgef/vue-simple-keyboard/tree/master/?from-embed=&file=/src/SimpleKeyboard.vue

One heads up though is that the issue might be present in other Vue demos - It'll take

[2021-02-25 17:01] #910 closed

[2021-02-25 17:13] maxshuty commented on #910
Awesome thank you, really appreciate how responsive you are with all of these requests.

[2021-03-02 00:03] yzy0704YZY opened #916 "Is 'Cap' button function already supported?"
**Is your feature request related to a problem? Please describe.**
Currently nothing happens when clicking on the 'Cap'

**Describe the solution you'd like**
After clicking on the 'Cap', it should give us at least one chance to type a capital letter.

[2021-03-02 00:54] yzy0704YZY commented on #916
Or maybe it's already solved in latest...I am still using v2_30_5

[2021-03-02 02:36] hodgef commented on #916
Hello @yzy0704YZY,

Do you mean the `caps` button? It seems to be working in the main demo:
https://codesandbox.io/s/github/hodgef/simple-keyboard-npm-demos/tree/master/?from-embed

Feel free to check out the code in that sandbox for reference.

Regards,
Francisco Hodge

[2021-03-02 02:36] #916 closed

[2021-03-08 15:48] hodgef opened #920 "Version 3.0"
Simple-keyboard's next major version is in progress. Here's some of the planned changes so far:

- [x] Port the codebase to TypeScript - **Done**
- [x] Candidate Box support (involves breaking changes to simple-keyboard-layouts) ([Example](https://www.archchinese.com/type_chinese.html)) - **Done**
- [x] SSR build support - **Done**
- [x] Ability to exclude buttons from layout - **Done**
- [x] Simp

[2021-03-15 11:16] KerenGordon opened #928 "No override on selected text"
**Simple-keyboard version**
As some bugs have been addressed in later versions, please ensure you are running the latest.

**Describe the bug**
A clear and concise description of what the bug is. Providing a [sandbox example](https://codesandbox.io/s/vanilla) or code depicting the issue is important, as this will help us reproduce the issue.

**Screenshots**
If applicable, add screenshots to help

[2021-03-15 11:22] KerenGordon commented on #928
When selecting text in an input and type, text is being added instead of override selected text.
Can be reproduced in demo (see attachments):
1. type some text using keyboard.
2. select element - $0.select()
3. type again using keyboard.

![image](https://user-images.githubusercontent.com/28985810/111145480-f52bb800-8590-11eb-8c06-f844c9f3456a.png)
![image](https://user-images.githubusercontent.co

[2021-03-16 00:34] hunterpp opened #929 "buttonTheme does not work with {shift}"
First, thank you for making such a great thing!!!

**Simple-keyboard version**
v2.28.35

**Describe the bug**
I believe that buttonTheme does not work with {shift}

[2021-03-16 01:00] hunterpp opened #930 "Is it possible to have a layout other than shift?"
Hi Francisco, I don't know where else to ask.
I want a layout for example for when alt is pressed.

I have tried:

layout: {
  altleft: ["A X"]
}

and

layout: {
  alt: ["A X"]
}

Both produce no results. I am inspecting code, but wondering if you have any advice? Thank you.

[2021-03-16 01:04] hodgef commented on #930
Hey @hunterpp,

The layout switching is handled in your `onKeyPress` function. Here's an example with `shift` and `caps` layouts:

https://hodgef.com/simple-keyboard/editor/?d=hodgef/simple-keyboard-npm-demos/tree/uc-shiftandcaps

Regards,
Francisco Hodge

[2021-03-16 01:04] #930 closed

[2021-03-16 01:06] hunterpp commented on #930
Thank you Francisco!!! 🙌

[2021-03-16 04:53] hodgef commented on #929
Hey @hunterpp,

Applying a class to `{shift}` through `buttonTheme` seems to work. Here's a sandbox demo:
https://codesandbox.io/s/simple-keyboard-npm-demos-forked-94r7u?file=/src/index.js

If you still have the issue, could you show it in a demo sandbox? I'll reopen the ticket and continue investigating once I get the repro.

Thanks!
Francisco Hodge

[2021-03-16 04:53] #929 closed

[2021-03-16 04:59] hodgef commented on #928
Hey @KerenGordon, this is now fixed in the [staging branch](https://github.com/hodgef/simple-keyboard/tree/staging).

The fix will be published in the next couple days as part of the [3.0.0 release](https://github.com/hodgef/simple-keyboard/issues/920). I'll leave this ticket open until then.

Thanks!
Francisco Hodge

[2021-03-16 09:23] skyunBoss opened #933 "checkbox select bug"
chrome 49
![image](https://user-images.githubusercontent.com/29365288/111285627-4bc1f080-867c-11eb-9d58-4aad2088bff7.png)

[2021-03-16 19:18] hodgef commented on #933
Duplicate of #855

[2021-03-16 19:18] #933 closed

[2021-03-16 19:26] hodgef commented on #855
@skyunBoss I'll download Chrome 49 later today to see if I can reproduce the issue

[2021-03-17 01:27] skyunBoss commented on #855
thank you very much

[2021-03-17 01:52] #855 closed

[2021-03-17 01:55] hodgef commented on #855
I was able to confirm this issue in Chrome 49. This is now fixed as of simple-keyboard@2.32.128.

Thanks!
Francisco Hodge

[2021-03-21 22:20] hodgef commented on #928
v3.0.0 has been released. Closing.

Regards,
Francisco Hodge

[2021-03-21 22:20] #928 closed

[2021-03-21 22:25] hodgef commented on #212
Update: [simple-keyboard v3+](https://github.com/hodgef/simple-keyboard/releases/tag/3.0.0) now supports IE11 😄

Compatibility list: https://github.com/hodgef/simple-keyboard#compatibility-

Regards,
Francisco Hodge

[2021-03-21 22:27] hodgef commented on #520
Fixed in v3.0.0. Thanks!

[2021-03-21 22:30] hodgef commented on #440
Potentially fixed by v3.0.0 and its new option `layoutCandidates`
https://hodgef.com/simple-keyboard/documentation/options/layoutcandidates/

[2021-03-21 22:33] hodgef commented on #801
The new `layoutCandidates` option (available in v3) shows suggestions when you press a key. While not exactly the same as adding "Alt" of "Fn" keys, this might help address the use-case.

https://hodgef.com/simple-keyboard/documentation/options/layoutcandidates/

![image](https://user-images.githubusercontent.com/25509135/111923089-ca9b9c80-8a73-11eb-9f1d-0d1fe103df05.png)

[2021-03-21 22:35] hodgef commented on #58
The new `layoutCandidates` option (available in v3) shows suggestions when you press a key. While not exactly the same as a long-press-triggered popup, it might provide equivalent functionality. Feel free to check it out:

https://hodgef.com/simple-keyboard/documentation/options/layoutcandidates/

![image](https://user-images.githubusercontent.com/25509135/111923089-ca9b9c80-8a73-11eb-9f1d-0d1fe10

[2021-03-21 22:48] #920 closed

[2021-03-24 19:51] okeoke85 opened #950 "Strongly coupled input element and keyboard"
**I want to use keyboard coupled with input element**
I guess your design aims to be used one keyboard component for entire application, i want to use it coupled with input element and manage seperate text-input variables for every input element, as far as i see keyboard tries to manage of input value which is focused at t moment.

**Keyboard input couple, input html element as option parameter**

[2021-03-25 03:41] hodgef commented on #950
Hello @okeoke85,

The simple-keyboard library actually doesn't manage input elements. You have to tell it where to send the input.

You can see this in demos, such as the multiple inputs demo:
https://hodgef.com/simple-keyboard/questions-answers/use-simple-keyboard-multiple-inputs/

In that demo, we tell simple-keyboard to track a different value when an input is focused. You can adapt this to any

[2021-03-25 03:41] #950 closed

[2021-03-26 14:06] oreons opened #954 "WebPack 5 and old chrome (webview 38)"
**Simple-keyboard version** 3.0.0

**Describe the bug**
In webpack 5, to support older versions of browsers, necessary to include in webpack.config.js option: `target: ["es5"]`.
Otherwise, webpack will use a new syntax in the final bundle (for example, the **_const_** keyword). Some older versions of chrome, such as 38, don't understand the new syntax and throw an error.
Unfortunately, these webvi

[2021-03-26 14:23] hodgef commented on #954
Hey @oreons,

The demos site is not compatible with older browsers, because it's meant for devs.

However, the simple-keyboard library [is compatible with older browsers](https://github.com/hodgef/simple-keyboard/blob/master/babel.config.js#L6).

You can run the following demo in an old supported browser (such as Internet Explorer 11) to verify:
https://hodgef.com/static/simple-keyboard-test-ie.ht

[2021-03-26 14:39] oreons commented on #954
Thanks for the answer.
I tested the keyboard on a separate empty project of mine. The trouble is that this extremely unfortunate and buggy version of webview 38, which is installed on industrial terminals, works even worse than internet explorer 11. Chinese terminals cannot be updated to new versions of webview and I have to adjust the software to support them. I compiled the simple-keyboard proje

[2021-03-26 14:44] hodgef commented on #954
Oh! Sorry - I did use const in that IE demo. Just changed it to `var`. Could you try again?
https://hodgef.com/static/simple-keyboard-test-ie.html

Regards,
Francisco Hodge

[2021-03-26 14:54] oreons commented on #954
There's also "let" in html)
But the first error is due const inside index.js
![Image 3](https://user-images.githubusercontent.com/61789749/112650283-44f56380-8e5c-11eb-9c71-abeb94a3e0f8.png)
![Image 4](https://user-images.githubusercontent.com/61789749/112650291-4757bd80-8e5c-11eb-89f3-db94afc2fdc5.png)

[2021-03-26 14:56] hodgef commented on #954
Interesting... Thanks for the heads up!

[2021-03-26 15:09] hodgef commented on #954
Hey @oreons,

This issue should be fixed in the newly published simple-keyboard@3.0.19. I've also updated the [Internet Explorer demo](https://hodgef.com/static/simple-keyboard-test-ie.html).

Let me know if you're still having this issue!

Regards,
Francisco Hodge

[2021-03-26 15:09] #954 closed

[2021-03-26 15:12] oreons commented on #954
Thank you very much , now its works!

[2021-03-29 19:36] BernhardBehrendt opened #959 "Property 'inputName' in clearInput() method isn't set optional"
**Simple-keyboard version**
Version: 3.0.20 (also in master)

**Description:**
When calling `simpleKeyboard.clearInput()` inside a Typescript project with those compilerOptions:

[code]

 the following error occurs:

**TS2554: Expected 1 arguments, but got 0.**

**Screenshot:**
![Bildschirmfoto 2021-03-29 um 21 35 45](https://user-images.githubusercontent.com/1717382/112890115-c0fae000-90d6-11eb-9

[2021-03-29 19:52] #959 closed

[2021-03-29 19:52] BernhardBehrendt opened #961 "Enable strict mode in tsconfig.json"
**Is your feature request related to a problem? Please describe.**
No not directly realted to a problem. More an code improvement to avoid issues by static type checking.

**Describe the solution you'd like**
Enable **strict mode** inside the `tsconfig.json`

This will actually lead to some errors during build time

[code]
**Describe alternatives you've considered**
If it's possible to fix those e

[2021-03-29 19:56] hodgef commented on #959
Should be fixed as of v3.0.22, please feel free to update. Thanks!

[2021-04-04 17:28] #961 closed

[2021-04-04 17:31] hodgef commented on #961
Fixed as of version 3.0.27. Thanks!

Regards,
Francisco Hodge

[2021-04-12 15:03] Aravind4626 opened #982 "Backspace doesn't delete the existing value in the field by character. Instead, it deletes the entire text."
**Simple-keyboard version**
version: 2.5.186
**Describe the bug**
I tried to add getInput("inputName") and setInput("MyValue")to the keyboard for having a sync whenever that field is selected. I referred the documentation as well. However, it doesn't work as expected. My problem is when I handle multiple Inputs and switch from one field to another field, it works perfectly since the keyboard is op

[2021-04-12 17:46] hodgef commented on #982
Hello @Aravind4626,

Could you provide a test git repo or sandbox that shows the issue? Please refer to the bug template
https://github.com/hodgef/simple-keyboard/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

Regards,
Francisco Hodge

[2021-04-12 18:34] Aravind4626 commented on #982
Hello Hodgef,

I attached the codesandbox link below. There are two fields. Try to give a value to both the fields and close the keyboard by pressing the 'Go' key or 'Esc' key. Then, again click any of the fields and try to append a new value. However, it'll erase the existing ones and replace them with new ones.

https://codesandbox.io/s/compassionate-leaf-78g3u?file=/src/index.js

[2021-04-12 18:35] Aravind4626 commented on #982
Hello Hodgef,

I attached the codesandbox link below. There are two fields. Try to give a
value to both the fields and close the keyboard by pressing the 'Go' key or
'Esc' key. Then, again click any of the fields and try to append a new
value. However, it'll erase the existing ones and replace them with new
ones.

https://codesandbox.io/s/compassionate-leaf-78g3u?file=/src/index.js

On Mon, 12 Apr

[2021-04-21 11:38] tuomassa opened #987 "physicalKeyboardHighlightPress makes multiple presses"
**Simple-keyboard version**
Vue, 2.32.62, but also happens in your playground which is master?

**Describe the bug**
having
[code]
causes physical button to make multiple entries. Usually 2 characters, but sometimes the amount increases every time I create the component.
**Screenshots**

[2021-04-24 20:55] hodgef commented on #987
Hello @tuomassa,

I can't seem to reproduce this in the latest version. I could only repro it in codesandbox which I assume was using a cached version. Once I forked the sandbox the issue disappeared:

https://codesandbox.io/s/blissful-wood-86mpk?file=/src/index.js

Could you update to the latest version and try again?

Regards,
Francisco Hodge

[2021-04-26 08:01] tuomassa commented on #987
I updated to 3.0.0 and the issue remains. Also forking the codesandbox (with cache disabled too) doesn't help, it always inputs double characters.

On my application the amount of extra characters appearing per keypress increases by one every time the keyboard is created. It goes back to one on full page refresh, and then starts again increasing every time it is created.

Also,
Pressing capslock/s

[2021-04-27 15:28] erazmerita opened #999 "On key pressed theme is not applied when change button theme"
**Simple-keyboard version**: 3.0.48

**Describe the bug**
We have a numeric keyboard and would like to block enter button when is not input value yet or value was deleted.
When we add or remove the button theme then pressed button is not shown (css is not applied on it).

Scenario:
- Press buttons: 1 and 'backspace'

Observed: 'backspace' blink is not shown.
Expected: 'backspace' should show blink

[2021-04-27 16:17] hodgef commented on #999
@erazmerita what do you mean by "backspace blink is not shown"/"should show blink"?

What I'm observing is that the enter button is given a the class `hg-disabled`, but I'm not clear on the expected behavior.

Thanks,
Francisco Hodge

[2021-04-27 18:16] erazmerita commented on #999
@hodgef
when press 'backspace' is setted class 'hg-activeButton':
![image](https://user-images.githubusercontent.com/60657830/116291322-1c36f580-a79d-11eb-801d-0eab22224c78.png)
and on release button this class is removed:
![image](https://user-images.githubusercontent.com/60657830/116291418-3a045a80-a79d-11eb-9275-0ed3101908ae.png)
so on click is looks like a blink, which is not happened when is

[2021-04-28 16:06] hodgef commented on #999
Hey Eugeniu,

Thanks for the additional information. `addButtonTheme` and `removeButtonTheme` re-render the keyboard when you call them. This means that "temporary" classes such as `hg-activeButton` will be removed.

What you can do is to call these methods on the [`onKeyReleased`](https://hodgef.com/simple-keyboard/documentation/options/onkeyreleased/) callback instead of the `onChange`. You can

[2021-04-28 16:06] #999 closed

[2021-04-28 16:23] hodgef commented on #987
Hey @tuomassa,

I took another look at the sandbox. Sadly I'm still not able to repro. Could you provide a test git repo of your app that has the issue?

![test](https://user-images.githubusercontent.com/25509135/116438084-192f1a00-a81c-11eb-96ea-e12b8031d341.gif)

Also, if you have to recreate the component, you can call [keyboard.destroy()](https://hodgef.com/simple-keyboard/documentation/method

[2021-04-28 16:23] #987 closed

[2021-04-28 16:28] tuomassa commented on #987
Hi, can you try with the text field selected? So that the caret is visible. That might be the problem.

[2021-04-28 16:34] hodgef commented on #987
I see, in that case it's the effect of typing into the input + having simple-keyboard also type into it.

The increasing character amount will probably be fixed by calling keyboard.destroy() before re-instantiating simple-keyboard.

[2021-04-29 15:28] arwinvdv opened #1007 "Vue: focus is reset after 1 keypress"
**Simple-keyboard version**
Tested in 3.0.40 in latest Chrome and in sandbox: https://hodgef.com/simple-keyboard/editor/?d=hodgef/vue-simple-keyboard/tree/master

**Describe the bug**
When you type for example `test` and you set the cursor between the `e` and `s` and you type for example `x` letter you see `texst`. But if you type another `x` you see `texstx` instead of `texxst`.

**Screenshots**

[2021-04-29 19:11] hodgef commented on #1007
Hello @arwinvdv,

I was not able to reproduce this in the [same vue sandbox](https://codesandbox.io/s/github/hodgef/vue-simple-keyboard/tree/master/).

Unfortunately, sometimes the sandbox is unreliable, so if you're still having this issue locally I'd appreciate if you could provide a test git repo with your implementation so I can take a look.

![test](https://user-images.githubusercontent.com/2

[2021-04-29 19:22] hodgef commented on #1007
Actually you are correct, this is passing in Win10 - Chromium Edge 90,  Firefox 88 but failing on Chrome 90.

I'll take a closer look later today. Thanks!

[2021-05-02 18:10] #1007 closed

[2021-05-02 18:16] hodgef commented on #1007
Hello @arwinvdv,

Sorry for the delay. It appears this issue was caused by a regression introduced while attempting to fix ticket https://github.com/hodgef/react-simple-keyboard/issues/1140. I have reverted that change and the caret positioning appears to be fixed now.

Could you upgrade to **simple-keyboard 3.0.54** (latest) and see if it's fixed in your end? I'm going to deprecate versions 3.0.4

[2021-05-03 09:51] arwinvdv commented on #1007
@hodgef Thank you very much! What a fast fix, I will buy you a coffee!

[2021-05-03 14:53] hodgef commented on #1007
Wow thanks @arwinvdv! Much appreciated!

[2021-05-07 15:41] elrumordelaluz opened #1020 "Chinese Layout isn't working with react"
First of all, thanks for this cool library.

Seems that for some reason the chinese layout isn't working when using `react`.

[Here](https://codesandbox.io/s/staging-silence-1hidc?file=/src/index.js) is a sandbox switching between chinese and japanese, which works as expected.

![keyboard](https://user-images.githubusercontent.com/784056/117474500-40dc5b80-af5b-11eb-8f5d-02a43d5eab09.gif)

I am lo

[2021-05-07 15:47] hodgef commented on #1020
Hey @elrumordelaluz, what isn't working exactly? I find these sentences a bit contradictory

[2021-05-07 16:08] hodgef commented on #1020
Sorry, do you mean that the candidate box doesn't appear when you try to type things like "ni" "hao" ?

I can see them on my end, just wondering what exactly you mean by "isn't working"?

![image](https://user-images.githubusercontent.com/25509135/117478154-c85ea600-af2c-11eb-8cc3-2d31d17a2a1c.png)

[2021-05-08 07:44] #1020 closed

[2021-05-10 07:35] elrumordelaluz commented on #1020
Thank you @hodgef I think I was expecting the keyboard wit chinese characters but probably this is impossible due to language stuff I am missing.

The suggestions works ok.
Thank you again,

[2021-05-12 21:39] philfontaine opened #1029 "Focus is not correctly kept on the input since preventMouseDownDefault is not enough."
**Simple-keyboard version**
3.0.60

**Describe the bug**

In the docs, it is stated that `preventMouseDownDefault` "Prevents loss of input focus from clicking simple-keyboard buttons".

It "works" to keep the focus on the input, but it does not work properly. When the caret is in the middle of the word and we click on a key, the focus will stay on the input, but the caret will be moved to the end

[2021-05-12 23:00] hodgef commented on #1029
Hello @philfontaine,

simple-keyboard does not manage user inputs. It only interacts with inputs in order to update its internal caret position, but that's pretty much it.

In my view, the issue that you're raising is about general Javascript behavior. In your `onChange` you are setting a value for your input. If you would like to also set the caret position, then you have to call [element.setSele

[2021-05-12 23:00] #1029 closed

[2021-05-13 14:10] philfontaine opened #1033 "Implementation of the {delete} function."
**Is your feature request related to a problem? Please describe.**

Right now, the {backspace} function is fully implemented, and even handles the cases where there is a selection in the current input.

However, the {delete} button is not implemented.

**Describe the solution you'd like**
I would want the exact same behavior for {delete} (only difference is that it deletes the next character inste

[2021-05-13 18:46] hodgef commented on #227
Update: IE is now supported
Here's more info https://github.com/hodgef/simple-keyboard/issues/212#issuecomment-803670666

Regards,
Francisco Hodge

[2021-05-13 18:46] hodgef commented on #241
Update: IE is now supported
Here's more info https://github.com/hodgef/simple-keyboard/issues/212#issuecomment-803670666

Regards,
Francisco Hodge

[2021-05-16 18:05] #1033 closed

[2021-05-16 18:30] hodgef commented on #1033
Hey @philfontaine,

Thanks for submitting this request. This is now available as of simple-keyboard@3.1.0, please feel free to check it out.

If you come across any issues with it, let me know and I'll fix it.

Regards,
Francisco Hodge

[2021-05-16 19:19] inglesuniversal opened #1034 "What are the steps necessary to make a custom keyboard like this with your script?"
We built this keyboard with css and a few svg images but it breaks really easy as you adjust the screen size.

[BEE_HIVE_KEYBOARD_STYLE](https://inglesuniversal.s3.amazonaws.com/images/SPELLING_BEE_KEYBOARD.png)

Best regards and #STAYSAFE

[2021-05-16 19:29] hodgef commented on #1034
Hey @inglesuniversal,

Can you provide a sandbox or git repository showing the issue? Unfortunately an image is not enough to debug this.

Regards,
Francisco Hodge

[2021-05-16 19:29] #1034 closed

[2021-05-16 23:49] inglesuniversal commented on #1034
Please let me clarify the image shown above was not made using your script so I would like to know if your script has capabilities to customize the look of the keys and only make use of the alphabet in a few extra keys as the picture shows if you still need to take a look at the code please let me know but once again I made it by hand per se and without any particular library

[2021-05-17 00:01] hodgef commented on #1034
Hello @inglesuniversal,

In the example linked above you can see an implementation using simple-keyboard. Feel free to adapt it to your needs.

Regards,
Francisco Hodge

[2021-05-17 00:47] inglesuniversal commented on #1034
You've got to be kidding.... You recreated my layout from scratch using your script?

Wooooow.... Now you blew me away!!!!

You see, it's been a while since I have a bunch of issues of native keyboards on both Android and iPhone... mess up my work and web-app usability since the "weirdness" of their keyboard tends to block the view to the user or has a bunch of key that are not needed for my custo

[2021-05-17 02:21] skyunBoss opened #1035 "Chrome 49 physicalKeyboardHighlight Out of service"
Chrome 49 physicalKeyboardHighlight Won't highlight

[2021-05-17 04:10] inglesuniversal opened #1036 "Keep simple-keyboard fixed at the bottom of the screen: 0px and make it responsive"
Hi, LOVE the code I got so far.

Is there a way to keep the keyboard fixed to bottom of the page: 0px and the size of the keys, letters and the whole keyboard... keep it at 100vw (full width) and proportional height no more than 50% page height) so it adjust from small cell phones to large laptop screens (always center)

Current DEMO link:

[DEMO](https://inglesuniversal.com/keyboard/simple_keyboa

[2021-05-17 04:30] hodgef commented on #1036
Hello @inglesuniversal,

I think you can accomplish all of this with CSS. As noted in the previous ticket, you can take the provided demo and adapt it to your needs.

Quick note regarding tickets: If your request is generic/something you can figure out by browsing Google or StackOverflow, I suggest you try those sites instead.

Regards,
Francisco Hodge

[2021-05-17 04:30] #1036 closed

[2021-05-17 05:41] #1035 closed

[2021-05-17 05:46] hodgef commented on #1035
Hey @skyunBoss,

Thanks for this bug report. Indeed it appears `KeyboardEvent.key` was [introduced in Chrome 51](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key#browser_compatibility).

I have added a fix in simple-keyboard@3.1.3. Feel free to check it out.

Regards,
Francisco Hodge

[2021-05-17 17:57] philfontaine commented on #1033
Thanks @hodgef it works great. really appreciated 🙏

[2021-05-19 14:37] erazmerita opened #1045 "Duplicate keyboard created instead of overriding existing one"
**Simple-keyboard version** : 3.1.8

**Describe the bug** :
When 2 keyboards is created for the same 'selector', I expected that first one will be removed (overridden).
Use case: When user click on input field and keyboard is already created from another input field then keyboard is overridden with new options for new input field without destroying previous one.

I checked keyboard options and did

[2021-05-19 15:42] hodgef commented on #1045
Hello @erazmerita,

You can use [`keyboard.destroy()`](https://hodgef.com/simple-keyboard/documentation/methods/destroy/) when you want to discard a simple-keyboard instance. It's pretty straightforward so I don't think this needs to be automated.

Let me know if you come across any issues with that approach.

Regards,
Francisco Hodge

[2021-05-19 15:42] #1045 closed

[2021-05-21 06:36] shuai4983958 opened #1046 "How to input Chinese"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-21 07:11] hodgef commented on #1046
Hello @shuai4983958,

Check out this Pinyin layout with Candidate Box support
https://hodgef.com/simple-keyboard/demos/?d=chinese

![image](https://user-images.githubusercontent.com/25509135/119096858-1ae69a80-b9e2-11eb-9677-e217c7255efa.png)

You can also create a custom layout to fit your needs. Taking this one for example:
https://github.com/simple-keyboard/simple-keyboard-layouts/blob/master/s

[2021-05-21 07:11] #1046 closed

[2021-05-21 07:33] shuai4983958 commented on #1046
thank you,&nbsp;I will read the documentation carefully;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "hodgef/simple-keyboard"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年5月21日(星期五) 下午3:11
***@**

[2021-05-22 12:06] mar1798 opened #1049 "usage with Typesctipt"
I have some troubles using simple-keyboard-layouts with Typescript in my react-app.
There is no declare module for it.

[2021-05-26 14:26] Danieliverant opened #1058 "initial value as same as the next value not trigger onChange"
**Simple-keyboard version**
2.32.51

If my input has a value, and I want the keyboard continue to write from this value I use `.setInput(initialValue)`
but then if the value is "3" for example and the user clicks "3" again (as he want "33")
the onChange won't fire because of this if:
`this.input[inputName] !== updatedInput`
line 415 in Keyboard.ts

a possible solution can be to remove this if or t

[2021-05-26 23:39] hodgef commented on #1058
Hello @Danieliverant,

I could not reproduce this issue, here's the test sandbox:
https://codesandbox.io/s/charming-waterfall-iy3ew?file=/src/index.js

Feel free to submit a repro sandbox for this bug and I'll take a look.

Regards,
Francisco Hodge

[2021-05-27 07:28] Danieliverant commented on #1058
@hodgef I forgot to mention that happens when the element selected

repro in your sandbox: https://codesandbox.io/s/distracted-wiles-kzsu6?file=/src/index.js

[2021-05-27 16:18] hodgef commented on #1058
Hey @Danieliverant,

You're right, this is a bug. I will try to get this addressed before the end of the week if possible.

Regards,
Francisco Hodge

[2021-05-31 06:32] Romko775 commented on #520
@hodgef Hi! Having same issue with Angular 11 SSR & self

[code]

[code]

[2021-05-31 15:20] magicjj opened #1068 "Swipe Keyboard module docs CDN example doesn't include the swipe-keyboard module."
Just simple thing I wanted to point out...
https://hodgef.com/simple-keyboard/modules/swipe-keyboard/

Copying the CDN example yields an error on the 2nd line of JS, because the swipe-keyboard CDN isn't included.

This line:
[code]
Should be:
[code]

[2021-06-08 18:10] #1068 closed

[2021-06-09 05:04] #1058 closed

[2021-06-09 05:10] hodgef commented on #1058
Hello @Danieliverant,

Sorry for the delay. I managed to fix the issue, although I might need to improve this logic in the future.

Feel free to update to 3.1.30 and give it a try. Let me know if you come across any issues.

Regards,
Francisco Hodge

[2021-06-10 12:38] Danieliverant commented on #1058
@hodgef updated and works as expected. Thank you!

[2021-06-13 21:59] meblum opened #1090 "Keyboard does not render correctly in rtl mode"
latest version

**Describe the bug**
When document is set `dir="rtl`, keyboard buttons on the left side are loose their space.  [sandbox example](https://codesandbox.io/s/laughing-black-cc6mv?file=/index.html)

![Screenshot 2021-06-13 175931](https://user-images.githubusercontent.com/33358938/121823119-25a6ef00-cc71-11eb-8dd3-d2d3799013ea.png)

[2021-06-13 22:27] hodgef commented on #1090
Duplicate of #803

[2021-06-13 22:27] #1090 closed

[2021-07-01 06:37] paulo-coutinho opened #1125 "How to auto show and auto hide?"
Hi,

Im building a web app that will run fullscreen and is only for touch devices.

How i can auto run/hide using this library and vuejs?

https://github.com/paulo-coutinho/cef-sample

Thanks.

[2021-07-04 18:12] hodgef commented on #1125
Hello @paulo-coutinho,

Please refer to this documentation article:
https://hodgef.com/simple-keyboard/questions-answers/implement-show-hide-toggling/

Regards,
Francisco Hodge

[2021-07-04 18:12] #1125 closed

[2021-07-07 12:20] pawel-elmi commented on #62
Hello @hodgef,

It seems that I run into the same problem. However I didn't manage to make it working on codesandbox, because of some dependencies problem, have a look at the repo I prepared:
https://github.com/pawel-elmi/SimpleKeyboardForms

What I figured out is that the refresh of the reactive form depends on "input" event which simple-keyboard(later S-K) doesn't emit. This can be seen clearly

[2021-07-08 07:14] hodgef commented on #62
Hello @pawel-elmi,

If your 3rd-party dependency requires an event to be sent, you can send it yourself using `dispatchEvent`.

In your test repo, add the following line in the simple-keyboard `onChange` callback:
[code]

Please feel free to create a new thread if you run into issues.

Regards,
Francisco Hodge

[2021-07-17 10:30] m-waqarhussain opened #1145 "Layouts not working"
This demo layout is not working.

This is the default demo layout located here, https://hodgef.com/simple-keyboard/editor/?d=hodgef/simple-keyboard-layouts-demos/tree/cdn is not working. it just keeps saying transpiling modules.

![image](https://user-images.githubusercontent.com/87567017/126033912-a4e964c3-811b-42a0-a052-f7a717583a1c.png)
a

When i rant it locally it is showing this error

![imag

[2021-07-17 10:43] #1145 closed

[2021-07-18 16:52] hodgef commented on #1145
I tried this locally and it works just fine

![image](https://user-images.githubusercontent.com/25509135/126075546-87cb951a-616b-4a9e-8161-962d4f1ea5cd.png)

CodeSandbox goes down quite often though, I suspect your issue might have been because of it being unable to fetch simple-keyboard-layouts.

![image](https://user-images.githubusercontent.com/25509135/126075577-83613253-b4bf-4b8a-842d-fb24493

[2021-07-21 21:25] Nevitones opened #1157 "SimpleKeyboard object not set to window"
I'm trying to use the Simple Keyboard on a project that already uses the RequireJs 2.1.6.

But the SimpleKeyboard is not set to the window.

[code]

It seems that the Simple Keyboard script detects that the `define` and `define.amd` are not undefined and ends up not setting the `window.SimpleKeyboard` but executing the following instead:

[code]

Here is the example of the possible issue:
https://

[2021-07-21 21:53] hodgef commented on #1157
Can you share a full repro with your requireJS logic?

I see `window.SimpleKeyboard.default` being populated without issues in the following demo:
https://playcode.io/792129/

Regards,
Francisco Hodge

[2021-07-21 21:53] #1157 closed

[2021-07-22 11:13] Nevitones commented on #1157
Sorry, I've probably removed the line importing the requirejs script by mistake.
Please check the codepen again.

Here is the code there anyway:

HTML
[code]

Javascript
[code]

[2021-07-22 15:03] Nevitones commented on #1157
Hey @hodgef

I've changed the code above to load the Simple Keyboard via RequireJS and it worked as you can see:
https://codepen.io/nevitones/pen/xxdXywV?editors=1011

But now, I don't know if I was stupid by trying to embed the Simple Keyboard via script tag,
or if it should work both ways, require and script tag(with RequireJS embeded before the Simple Keyboard).

[2021-07-22 16:01] hodgef commented on #1157
I think the way you've done it in your last demo is correct. It's the way shown in the RequireJS demo:
https://requirejs.org/docs/api.html#config

In any case, glad it works now!

Regards,
Francisco Hodge

[2021-08-03 11:57] darda-ergo opened #1175 "Keyboard's keys which are laid over the input filed is not responding."
i am using this keyboard for multiple input fields but Keyboard's keys which are laid over the input field is not responding. Rather it is focusing the input field below.

[2021-08-03 15:11] hodgef commented on #1175
Hey @darda-ergo, if you can provide a test sandbox or repo showing the issue I'd be glad to look into this.

I will reopen this ticket once that is provided. Thanks!

Regards,
Francisco Hodge

[2021-08-03 15:11] #1175 closed

[2021-08-04 00:11] yanjiekee opened #1176 "The specified value "1." cannot be parsed, or is out of range."
**Versions**
- simple-keyboard: 3.2.33
- ElectronJS: 13.1.7
- Node: 14.16.0
- Chromium: 91.0.4472.124

**Description**
When using simple-keyboard on an HTML input field type = 'number', warning is given when inputting a dot.

Example: If input given <1> <2> <.>, a _warning_ is given at <.> _"The specified value "12." cannot be parsed, or is out of range"_. Then, the HTML input field value disappea

[2021-08-04 01:44] hodgef commented on #1176
Hello @yanjiekee,

simple-keyboard returns inputs as a `string`. You probably would need to convert the value received in the `onChange` to a number before sending it to any place that expects numbers (`parseFloat(input)`).

Hopefully that addresses the issue, but if not please provide a reproducible example such as a code sandbox or test repository. This way I would be able to debug it and provid

[2021-08-04 01:44] #1176 closed

[2021-08-04 02:25] yanjiekee commented on #1176
Thanks @hodgef !

The warning stop coming once the value received in `onChange` is parsed, it should be an issue from my side.

Thanks for being patient.

[2021-08-04 19:20] sagarkardani opened #1178 "In touchscreen devices Device keybord opens and closes continuously while typing."
**Simple-keyboard version**

-  Used demo from `preventMouseDownDefault` option
[Link](https://hodgef.com/simple-keyboard/documentation/options/preventmousedowndefault/)

**Describe the bug**

- I want to show cursor continuously and do not want to loose focus from input while typing from virtual keyboard so I used `preventMouseDownDefault: true` as shown in demo
- I was able to get desired behavi

[2021-08-05 05:26] hodgef commented on #1178
Hello @sagarkardani,

Check out the following answer
https://stackoverflow.com/questions/7610758/prevent-iphone-default-keyboard-when-focusing-an-input/65358992#65358992

Regards,
Francisco Hodge

[2021-08-05 05:26] #1178 closed

[2021-08-05 09:09] sagarkardani commented on #1178
@hodgef

Thanks for quick reply. Now I am getting the behavior I want.

Regards,
Sagar

[2021-08-06 05:38] x-turbo opened #1183 "Demos are not working on the simple-keyboard website"
for example: https://hodgef.com/simple-keyboard/editor/?d=simple-keyboard/react-simple-keyboard-hooks-multiple-inputs
tested with Chrome and Edge Browser
error in console:
![image](https://user-images.githubusercontent.com/88527004/128461450-d3d892e2-9691-4875-b6fe-723a6f1d6100.png)
![image](https://user-images.githubusercontent.com/88527004/128461429-919ed110-d991-40c0-ac96-26b92d3b08a6.png)

[2021-08-06 08:27] hodgef commented on #1183
Hello @x-turbo, it's working now :

![image](https://user-images.githubusercontent.com/25509135/128480780-a18e18fe-0a82-4e91-9621-c66f3d8e94a3.png)

Codesandbox is rather unstable sometimes. I will look into adding an error message whenever Codesandbox is down.

Regards,
Francisco Hodge

[2021-08-06 08:27] #1183 closed

[2021-08-08 23:30] stepheneb opened #1184 "Can inputMask be used for simple email validation or do I need to write my own module?"
I have simple-keyboard working well and tried to use inputMask for simple email validation.

Am not certain if I understand just how the mask part of the option is intended to work.

The following is blocking all input using the cirtual keyboard.

Thanks for any tips!

[code]

I first tried using just `inputPattern` and that blocked all input keys also:

[code]

[2021-08-09 01:03] stepheneb commented on #1184
Ahhh ... I understand the problem now (and understand how inputMash works too). The answer is yes, I would need to write my own module for doing this.

[2021-08-09 01:03] #1184 closed

[2021-08-09 19:30] instadrew opened #1187 "simple-keyboard accessibility"
My organization has need of a virtual keyboard and I have been trying to determine if simple-keyboard will work for our use case.  We need the virtual keyboard to offer accessibility for blind users who must rely on an external keyboard to interface with the virtual keyboard (including the use case of a Bluetooth hardware keyboard connected to a mobile device).  Here are some more details:

- We'l

[2021-08-09 20:00] hodgef commented on #1187
Hello @instadrew,

I created simple-keyboard to be quite flexible and extensible, so you should be able to achieve most use-cases. I think your best bet though is to try out the keyboard with the available demos/sandboxes & docs, and to surf the issues for similar requests. If you come across any issues during implementation I'd be glad to assist.

Thanks!
Francisco Hodge

[2021-08-09 20:00] #1187 closed

[2021-08-12 08:04] Sudhakarareddyn opened #1193 "Need the strike the keys from system keyboard"
Hi,
Am using the simple keyboard in my project it's nice and fast.
I need to strike the simple keyboard keys the same as in the keys from the system as well from the laptop/desktop keyboard. Is there anything like that? please help out on this.

[2021-08-13 02:40] hodgef commented on #1193
Hello @Sudhakarareddyn,

You can use the options `physicalKeyboardHighlight` and `physicalKeyboardHighlightPress` combined. This way, pressing your physical keyboard keys will trigger a press from simple-keyboard.

For example:
https://codesandbox.io/s/naughty-lederberg-kcym0?file=/src/index.js

Regards,
Francisco Hodge

[2021-08-13 02:40] #1193 closed

[2021-08-13 11:36] Sudhakarareddyn commented on #1193
Hi Francisco Hodge,
   Thank you so much for the fast response,  I tried the above solution, it is working fine for English. But for other languages, it's not striking the physical keys. Is there any solution for other languages? Please let me know any solution.

Regards,
Sudhakara N

[2021-08-13 17:41] hodgef commented on #1193
Hey @Sudhakarareddyn,

For `physicalKeyboardHighlight` to work, your pressed key needs to match what's on your simple-keyboard layout.

If your pressed key is not found in your simple-keyboard layout, it won't work. If your use-case is not satisfied by that built-in logic, you would need to create a custom module such as the following one:

https://codesandbox.io/s/github/hodgef/simple-keyboard-la

[2021-08-16 13:05] cbfrank opened #1196 "layoutCandidates are not shown when using Key Navigation Module"
**3.2.0**
Run with latest stable simple-keyboard version.

**Describe the bug**
When using key navigation module, the layoutCandidates can be shown when user click keys by mouse, but the candidates are not shown when user user key navigation and press enter (hardware keyboard), the input is updated, but no candidates shows.
and also, the candidates can not be select by key navigation, user have to

[2021-08-19 05:55] hodgef commented on #1196
Hello @cbfrank,

When creating the layoutCandidates functionality, I didn't intend for it to be used with the key-navigation module. However, I agree that it makes sense to support it. I would be willing to work on this soon, potentially next week.

I will track this feature request in the Enhancements project and will update this thread as soon as I get to work on it.

Thank you,
Francisco Hodge

[2021-08-24 11:52] stuomas opened #1206 "Usage with Vuetify - problem with v-combobox"
**Simple-keyboard version**
3.2.37

**Describe the bug**
When using with v-combobox or v-autocomplete from Vuetify, the input field needs to be clicked twice to be able to use simple-keyboard to input more that one character. If input field is clicked once, as normally, only one simple-keyboard button can be pressed before input is blurred and a one-character "chip" is created.

I have been strugg

[2021-08-25 15:58] hodgef commented on #1206
Hello @stuomas, as far as I can tell `v-combobox` is calling blur as soon as you click outside of it. You can contrast this with the normal behavior of `v-text-field` which is a real input element.

I believe this is an issue with `v-combobox`'s code and not simple-keyboard.

Regards,
Francisco Hodge

[2021-08-25 15:58] #1206 closed

[2021-09-05 20:03] hodgef commented on #1196
Hey @cbfrank,

I have deployed an update to simple-keyboard-key-navigation (latest) to support layoutCandidates.

The support is quite basic as you can see in the following gif, but it should do the job. Feel free to update the module and give it a try.

![keyNavCandidates2](https://user-images.githubusercontent.com/25509135/132139851-dca2f0c6-e06b-476f-89f7-b5f9155c9141.gif)

Regards,
Francisco H

[2021-09-06 12:46] AnReZa opened #1230 ""TypeError: Cannot call a class as a function" in Vue"
I'm getting the following error message when trying to implement simple keyboard into my page:

The stack trace is:

[code]

Based on your (broken) Vue example (https://hodgef.com/simple-keyboard/editor/?d=hodgef/vue-simple-keyboard/tree/master), my implementation looks as follows (reduced example):

[code]

Any idea, why this doesn't work?

[2021-09-06 14:49] cbfrank commented on #1196
Hello
Thank you so much for supporting this in a very short time. I have download the latest simply-keyboard and simple-keyboard-key-navigation and put the index.js from both lib into my local project. but this seems doesn't work for me and event broken the existing of press enter, with the latest code, I can move with the hardware arrow keys, but press enter does nothing, no soft key is press act

[2021-09-06 17:44] hodgef commented on #1230
Hello @AnReZa, could you provide a test github repo showing your issue?

The sandbox in question hasn't been updated in months, so I suspect a breaking change in CodeSandbox. I have filed an issue with them.

I will reopen this as soon as I get a repro regarding your error above.

Thanks,
Francisco Hodge

[2021-09-06 17:44] #1230 closed

[2021-09-06 21:28] hodgef commented on #1196
Sorry about that, I will clone your repo and investigate. Thanks!

[2021-09-06 22:46] hodgef commented on #1196
Hey @cbfrank,

The issue should be fixed as of simple-keyboard-key-navigation@2.4.3. Feel free to update and give it a try.

Thanks!
Francisco Hodge

[2021-09-06 22:46] #1196 closed

[2021-09-07 14:10] cbfrank commented on #1196
Hello
It works very well!
Thank you very much for helping on this!

Best regards
Frank

[2021-09-22 06:16] AnReZa opened #1258 "Simple keyboard steals focus of editor"
I want to use Simple Keyboard together with DevExtreme's dxDataGrid in cell edit mode. The issue is, that Simple Keyboard is stealing the focus of the editor control after each key stroke. The dxDataGrid control, however, destroys the editor as soon as the focus gets lost, and stores the modified value to the server. Is there a simple way to prevent that loss of focus?

Here is the statement of De

[2021-09-22 07:51] AnReZa commented on #1258
By the way, adding `preventMouseDownDefault: true` didn't help.

[2021-09-22 18:00] hodgef commented on #1258
Hello @AnReZa,

The demo page does not have `preventMouseDownDefault` enabled. If the dev was testing on the demo page then it's expected not to work.

The only repro I have is this sandbox: https://codesandbox.io/s/flamboyant-microservice-ekfvp?file=/src/index.js

This sandbox tells me that when I enable `preventMouseDownDefault` simple-keyboard does not take focus away from the input. This is wh

[2021-09-23 05:45] AnReZa commented on #1258
Hello @hodgef,

I already found a solution to the problem. It is vital, that the popover which contains the keyboard (in my case) is attached to the editor. If I attach it to the main container, it will steal the focus of DevExtreme's grid control, even though I set the `preventMouseDownDefault` option to `true`.

[code]

Thank you!

[2021-09-30 14:22] KyleOng opened #1274 "Edit multiple inputs by using the same keyboard"
Hello,

First of all, love the simple and lightweight on-screen keyboard. So far I have been using it for one input and notice that multiple inputs can't be used by the same keyboard. So this leads to my question, is it possible to edit multiple inputs by using the same keyboard?

Thank you very much

[2021-09-30 17:54] hodgef commented on #1274
Hello @KyleOng,

That can be done for sure. Check out the following for more info:
https://hodgef.com/simple-keyboard/questions-answers/use-simple-keyboard-multiple-inputs/

Regards,
Francisco Hodge

[2021-09-30 17:54] #1274 closed

[2021-10-05 19:46] klossner opened #1281 "Documentation: broken link in Options / physicalKeyboardHighlight"
Documentation page [https://hodgef.com/simple-keyboard/documentation/options/physicalkeyboardhighlight/](https://hodgef.com/simple-keyboard/documentation/options/physicalkeyboardhighlight/) contains a link labeled "Click here" to [https://github.com/hodgef/simple-keyboard/blob/master/src/lib/services/Utilities.js#L42](https://github.com/hodgef/simple-keyboard/blob/master/src/lib/services/Utilities

[2021-10-07 05:12] hodgef commented on #1281
Fixed, thanks for reporting!

[2021-10-07 05:12] #1281 closed

[2021-11-02 13:33] fadime-ozdemir opened #1322 "Import of the Keyboard component in Electron throws an invalid hook error"
**Simple-keyboard version**
version ^3.3.22

**Describe the bug**
Import of the Keyboard component in Electron throws invalid hooks error.
I have tried to add it to whitelistmodule, change webpack configuration of the package , see if there were more instances of react or react-dom.
I still get the same error.

**Screenshots**
more details about the error message
![hook-details](https://user-image

[2021-11-03 05:18] hodgef commented on #1322
Hello @fadime-ozdemir,

It does work for me on latest, can you share a test git repo so I can debug?

![image](https://user-images.githubusercontent.com/25509135/140012873-090cb3b5-358a-49dd-9e51-e2b59d9f33e9.png)

Will re-open as soon as I get the repro, thanks!

Regards,
Francisco Hodge

[2021-11-03 05:18] #1322 closed

[2021-11-10 09:03] sfasp opened #1333 "Weird behavior when key is clicked using the right button of the mouse"
**Simple-keyboard version**
The used in demo site (https://hodgef.com/simple-keyboard/demos/)

**Describe the bug**
When a key is clicked with the right button of the mouse (whatever reason: by mistake, a child, ...) the input key is endlessly repeated until new click.
Tested with Chrome Version 95.0.4638.69 (Official Build) (64-bit)

[2021-11-10 09:16] hodgef commented on #1333
Hey @sfasp,

Sorry, I cannot repro the issue - not sure why you're getting that behavior, but if PointerEvents are giving you trouble you can use mouse events with the option: [`useMouseEvents: true`](https://hodgef.com/simple-keyboard/documentation/options/usemouseevents/)

![cnr](https://user-images.githubusercontent.com/25509135/141084186-9aa84101-3c86-4d23-966b-275f837be11b.gif)

Regards,
Fran

[2021-11-10 09:16] #1333 closed

[2021-11-10 09:29] sfasp commented on #1333
Hi @hodgef,
Thank you very much for your fast response.
Here you have a video reproducing the issue.
I will try your suggestion.

https://user-images.githubusercontent.com/74743015/141086807-1824bac4-5eba-4f79-a75c-872f21095051.mp4

Regards,
Santi

[2021-11-10 09:49] hodgef commented on #1333
Hey Santi, is that Ubuntu? I still cannot repro the issue so it will be tough to proceed. As a workaround: Besides using [`useMouseEvents`](https://hodgef.com/simple-keyboard/documentation/options/usemouseevents/) you can alternatively use [`disableButtonHold`](https://hodgef.com/simple-keyboard/documentation/options/disablebuttonhold/) to get rid of button hold altogether.

If you do have Ubuntu/

[2021-12-07 12:15] SaMs-Hub opened #1362 "React Keyboard Key Size"
**Is your feature request related to a problem? Please describe.**
Problem with using the React version of the Keyboard, Want to change the size of specific keys

**Describe the solution you'd like**
Being able to change the size of keys provided.

- Current usage of the keyboard

![KeyboardSize](https://user-images.githubusercontent.com/76864645/145026673-27a35d1c-98b4-455a-87d0-dc82059e3703.jpg)

[2021-12-07 22:57] hodgef commented on #1362
Duplicate of https://github.com/hodgef/react-simple-keyboard/issues/1660

[2021-12-07 22:57] #1362 closed

[2021-12-25 00:51] hanuz06 opened #1398 "Korean keyboard won't type korean syllables"
Hi Francisco,

For example: it should be "워", but it always types as '우 ㅓ'. How can I fix the problem? Thank you in advance.

![korean-keyboard](https://user-images.githubusercontent.com/17211293/147375132-3dca5fe2-9f78-4e14-949d-b205c6f2bb3a.JPG)

[2022-01-06 19:43] robergwillian opened #1399 "How to get this keyboard to work with shadow-dom?"
Hello!

First of all, great work on this keyboard, I have it fully functional on my application with react and it works great.

My question is, I have another project that uses shadow-dom, and when I implement it the same way I did on the other project I get a Keyboard_dom_error.

I've tryed to add the simple-keyboard div inside the shadow-root-document but that didn't work, could you shed some li

[2022-01-16 03:35] hodgef commented on #1398
Hey @hanuz06,

I have pushed updates to simple-keyboard and simple-keyboard-layouts to support Korean CandidateBox.

To try it out, please upgrade to the following:

- simple-keyboard@3.4.29
- simple-keyboard-layouts@3.1.29

Demo: https://codesandbox.io/s/fragrant-dawn-1w9eh?file=/src/index.js

Here's the layout that was changed:
https://github.com/simple-keyboard/simple-keyboard-layouts/blob/mast

[2022-01-16 03:35] #1398 closed

[2022-01-17 08:02] hanuz06 commented on #1398
Hi Francisco,

Thank you very much for your update. In demo it works fine. I wonder if you can update React version? I tried to implement with simple-keyboard@3.4.29
simple-keyboard-layouts@3.1.29 but it doesn't seem to work. Thank you in advance.

Kind regards,
Andrey

[2022-01-17 08:57] hodgef commented on #1398
No problem, I have published the update to react-simple-keyboard@3.4.38.

You can get your setup to work by following this React example:
https://codesandbox.io/s/mutable-framework-0y51i?file=/src/index.js

Regards,
Francisco Hodge

[2022-01-17 13:04] hanuz06 commented on #1398
Thank you very much, Francisco.

[2022-01-24 12:56] DeeDeeBru opened #1424 "Using the Space to action a submit button"
Hello,
Behind the onKeyPress, I am trying to allow the Space key to work like a physical keyboard e.g. I tab to a submit button then I want the Space on the simple-keyboard to "click" the button.  I have got this to work however somewhere after this, it is assigning focus back to the last input field on the page. I am wondering if this is something inside the simple-keyboard code that is doing thi

[2022-01-24 13:21] DeeDeeBru commented on #1424
Thank you for confirming that.  If it doesn't focus input elements, I may have missed something in the code (apologies, it's inherited code!).  If I need to ask any more questions, I'll try and add a test repo.
Thanks again

[2022-02-07 09:17] gilroh opened #1441 "Moving the cursor via the drop shaped dot/object below the cursor in the middle of text and adding/removing character there is not working"
**Simple-keyboard version**
3.4.37

**Describe the bug**
Steps to reproduce:
1. Write text using the simple keyboard
2. Tap on the input field, so that the cursor and drop shaped object below it are visible at the end of the text
3. Drag the cursor via the tear shaped object somewhere in the middle of the of the text and try to add or remove character there

Expected result: Should be able to edit

[2022-02-07 10:06] hodgef commented on #1441
Hello @gilroh,

Check out this comment https://github.com/hodgef/simple-keyboard/issues/54#issuecomment-466733511. It links to a test sandbox that you can use to see if an event is fired when you drop the pin.

If no event is fired when you drop the pin, there's nothing I can do since I rely on `event.target.selectionStart`.

Regards,
Francisco Hodge

[2022-02-07 10:06] #1441 closed

[2022-02-07 10:09] hanuz06 commented on #1398
@hodgef
Hi Francisco,

I wonder if korean keyboard is in unicode? With korean keyboard it shows correct syllables but it's not recognized by code. I investigated and found that same words typed from keyboard and typed from virtual keyboard have different character code.

I think the problem is that currently words typed from virtual keyboard are considered as a sequence of letters like in English

[2022-02-07 10:34] hanuz06 commented on #1398
Actually the syllable code can be reliably calculated if we know all letters composing that syllable. So when a user clicks on that small window to make a syllable, the program can generate a syllable unicode code.

https://en.wikipedia.org/wiki/Korean_language_and_computers#Hangul_in_Unicode

[2022-02-07 10:35] hodgef commented on #1398
Hello @hanuz06,

Once you select a CandidateBox item, the item is decomposed like this:
https://github.com/hodgef/simple-keyboard/blob/8628bf34a385da7505d99922a71336e1ef1b812d/src/lib/components/Keyboard.ts#L371

This is helpful if you made a mistake, as it allows you to hit backspace and remove that last portion of the syllabe (triggering the CandidateBox) instead of deleting the whole syllabe an

[2022-02-07 11:28] hanuz06 commented on #1398
Thank you very much Francisco. normalize('NFC') works for korean syllables.

[2022-02-12 18:55] NPaolo opened #1446 "Keyboard not displaying after router navigate on Angular"
**Simple-keyboard version**
3.4.44

**Describe the bug**
I'm using the simple-keyboard in an Angular project which basically consists of 2 components with same template (both containing a keyboard), each linked to the other through a router.navigateByUrl.

The keyboard displays fine when I initially land on the root component, but as I navigate to the second component, the keyboard doesn't display

[2022-02-14 04:41] hodgef commented on #1446
Hello @NPaolo,

The keyboard class needs to be instantiated every time the DOM element is recreated. I believe this doesn't happen in your logic as you change pages, but to confirm I would need a repro. Do you mind providing a test git repo or runnable sandbox example that would allow me to debug this?

I will reopen once that's provided, thanks!

[2022-02-14 04:41] #1446 closed

[2022-02-24 17:25] antlam commented on #433
Hey @hodgef ! thank you for putting this together.

Along the same lines, I'm trying to replace the alphabet keys (a, b, c, d, etc) with an image. What's the easiest way to do that?

[2022-02-28 11:18] dmesmin commented on #1446
@NPaolo I have the same issue, I tried to reproduce it with a simple stackblitz but I'm unable to, it's always working :p
Did you solve it ? thanks

[2022-02-28 13:20] tamerhas opened #1463 "Angular 11 and simple-keyboard-input-mask?"
Hello, how to use simple-keyboard-input-mask with angular 11. Any code example please?

[2022-02-28 20:09] hodgef commented on #1446
Hey @dmesmin do you mind providing a test git repository that shows the issue? I'm sure it has something to do with the app logic but I would need to debug to find a solution.

[2022-03-02 07:28] hodgef commented on #1463
Hello @tamerhas,

The module seems to be working well here:
https://codesandbox.io/s/busy-lichterman-gscqol?file=/src/app/app.component.ts

That being said, I had to adjust the types a bit. The types depend on the module you're using, but I plan to roll out an improvement for this later on. In the meantime you can use the module with custom types as shown in the above sandbox.

If you're still hav

[2022-03-02 07:28] #1463 closed

[2022-03-02 09:26] NPaolo commented on #1446
@dmesmin Hi, I also couldn't reproduce it on Stackblitz, but I figured out that the issue only comes up when I navigate from a keyboard page to another keyboard page.

So I solved it with a workaround, navigating first on a different page and then to the target page.

Page 1 (keyboard) --> Page 2 --> Page 3 (keyboard)

[2022-03-02 11:44] hodgef commented on #1446
Sadly I haven't gotten a repro so I cannot tell for sure what the issue is. That being said, you can try giving different classes to each keyboard:

https://hodgef.com/simple-keyboard/questions-answers/give-different-base-class-keyboard/

You can also try calling `destroy` on route unload:
https://hodgef.com/simple-keyboard/documentation/methods/destroy/

Hope that helps. Closing the thread as I c

[2022-03-02 12:55] dmesmin opened #1467 "Keyboard not displayed II"
Hi Francisco,
It's sad that you lock the issue below while I'm still investigating it, 2 hours after I got an answer from OP.
I found what was the issue, it's not in your repo, but I guess I can provide some input if someone had the same issue but I can't in the old one as the issue is locked.

In my case the issue was a side-effect of Ionic:
Ionic sometimes caches angular components and therefore

[2022-03-02 18:08] hodgef commented on #1467
Thanks for sharing the solution Daniel! I locked the issue https://github.com/hodgef/simple-keyboard/issues/1446 because I thought the conversation could end up in a back and forth with no repro provided. I really appreciate that you took the time to share your findings with everyone.

Regards,
Francisco Hodge

[2022-03-02 18:08] #1467 closed

[2022-03-06 21:47] hodgef commented on #595
Update: The Korean keyboard is supported:
https://hodgef.com/simple-keyboard/demos/?d=korean (https://github.com/hodgef/simple-keyboard/issues/1398#issuecomment-1013803909)

[2022-04-12 22:57] jamesgoodhouse opened #1506 "onKeyReleased not working with physicalKeyboardHighlightPress"
**Simple-keyboard version**
`3.4.104`

**Describe the bug**
I'm utilizing `physicalKeyboardHighlightPress` and am noticing that `onKeyReleased` does not seem to do anything when I release a key. It only seems to fire when I click and release the virtual keyboard with my mouse.

**Screenshots**
N/A

[2022-04-13 04:12] #1506 closed

[2022-04-13 04:18] hodgef commented on #1506
Hey @jamesgoodhouse, `onReleased` only triggers "on pointer up", and `physicalKeyboardHighlightPress` triggers the button handler directly.

I have added a new option called `physicalKeyboardHighlightPressUsePointerEvents` which uses onpointerup and should resolve your issue. Feel free to update and give it a try.

Regards,
Francisco Hodge

[2022-04-13 15:30] jamesgoodhouse commented on #1506
Awesome, thank you so much! I'll give it a go.

[2022-04-13 15:42] jamesgoodhouse commented on #1506
So looks like it's working; not as I was expecting, but likely how it's intended. If I hold the key down on the keyboard, it basically does a key repeat (which is normal behavior for a keyboard), and thus firing the "key up" event continually. I was hoping to be able to implement behavior such that when you hold a key down, it registers a single keystroke, and then when you release the key, it tri

[2022-04-15 05:40] hodgef commented on #1506
Sorry about that, I didn't do the initial fix correctly. Feel free to update to latest and give it another try, hopefully this time it works!

Regards,
Francisco Hodge

[2022-04-25 10:42] ray-kay opened #1516 "shift and caps lock button are working the same!?"
**Simple-keyboard version**
3.4.88

**Describe the bug**
Not sure if its a bug or intentional: but shift and caps lock button are currently working the same.

**Expected behavior**
From a regular keyboard I would expect to
- press shift button once (keyboard adds "hg-layout-shift" class)
- next letter would be in uppercase
- now the class "hg-layout-shift" would be removed and any other letter in

[2022-04-25 17:50] hodgef commented on #1516
Hello @ray-kay,

There's a short mention of this behavior in the docs:
https://hodgef.com/simple-keyboard/questions-answers/shift-caps-lock-behaving-same/

The demo in there will not address your feature request however. I think you will need to add your own logic to accomplish this  (perhaps with the use of [`onKeyReleased`](https://hodgef.com/simple-keyboard/documentation/options/onkeyreleased/)

[2022-04-25 17:50] #1516 closed

[2022-04-28 19:56] arnoldtonderaimarunda opened #1522 "Error occurs on typing in a selected input field"
**Simple-keyboard version**
Using CDN     `script src="https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js"`

**Describe the bug**
If I type keys without selecting the field, everything works fine. However, once I select an input field - any typed keys are no longer entered into field. Instead an `(index):133 Uncaught DOMException: Failed to execute 'querySelector' on 'Document': '#

[2022-04-29 00:38] hodgef commented on #1522
Hey @arnoldtonderaimarunda,

I don't think I have this selector anywhere in simple-keyboard's code. In my view this is likely an issue in your app's code. Can you share a sandbox or test git repository so I can run the code that's giving you this error?

Will reopen once I get that. Thanks!
Francisco Hodge

[2022-04-29 08:54] arnoldtonderaimarunda commented on #1522
Hi @hodgef
Thanks for following up this issue. Below is link to sandbox with code.
https://codesandbox.io/s/simple-keyboard-issue-m9xtsr

[2022-04-29 10:24] hodgef commented on #1522
Thanks for the sandbox @arnoldtonderaimarunda. Your issue is in this part of the code:

[code]
As you can see `selectedInput` is set with the id of the selected input. But your input element does not have an id:
[code]

You can debug these issues in the Chrome debugger. By clicking in the source link it takes you straight to the problematic line:

![image](https://user-images.githubusercontent.com

[2022-04-29 10:24] #1522 closed

[2022-05-09 13:00] teetlaja opened #1539 "react-simple-keyboard returns TypeError for handleMaxLength"
**Simple-keyboard version**
"react-simple-keyboard": "^3.1.17",
"simple-keyboard": "^3.1.15"

**Describe the bug**

Got and TypeError from Sentry.
The keyboard input limit is defined as constant:
[code]

and the maxLength is defined as input attribute
[code]

The error appeared after clicking some button but not sure, which:
**ui.click** `div.hg-rows > div.hg-row`
`TypeError: Cannot read propertie

[2022-05-10 08:06] hodgef commented on #1539
Hey @teetlaja, sadly I'm a bit forced to close this since I have no repro and therefore cannot debug. Not sure what else to say since maxLength does work in a [sandbox](https://hodgef.com/simple-keyboard/editor/?d=hodgef/simple-keyboard-npm-demos/tree/uc-maxlength) and the types for it are very permissive. Let me know if you have a "debuggable" example of the issue and I will take a look.

Regards

[2022-05-10 08:06] #1539 closed

[2022-05-12 15:16] Guiladg opened #1544 "Holding key for optional characters (e.g. accented vowels)"
I would like to have the option to add accents to vowels and why not symbols to different keys on hold. I couldn't find if it is possible right now.

[2022-05-13 01:11] hodgef commented on #1544
Hey @Guiladg,

I think you can use the `layoutCandidates` option for this task:
https://hodgef.com/simple-keyboard/documentation/options/layoutcandidates/

This is not triggered by "press and hold" however. I will add this to the Enhancement proposals so I can pick it up in a future version.

Regards,
Francisco Hodge

[2022-05-13 01:11] #1544 closed

[2022-05-23 15:16] davidvandemaele opened #1560 "Simple keyboard on a narrow input field"
**Simple-keyboard version**
2.32.131

**Describe the bug**
If you use the simple keyboard on a narrow field, and you keep typing, the characters you are typing are not visible anymore when you go over the max visible length of the input field. If you type via the physical keyboard, you always see the last character.
I can reproduce it with the demo on the website.

**Screenshots**
![Mozilla Firefo

[2022-05-23 17:26] #1560 closed

[2022-05-26 09:08] dkaklamanis opened #1567 "Shift capitalize only first letter"
**Is your feature request related to a problem? Please describe.**
It would be ideal if the shift button should capitalize only the first letter and after that return the layout to small case letters.
So it would behave as a mobile native keyboard.

**Describe the solution you'd like**
shift option or parameter to capitalize only the first letter.

[2022-05-29 02:19] psugihara commented on #896
I'd also find this useful. For reference, we're adding the keyboard in a context where we only want capital letter input. I'd like to just show capital letters (easy with the layout prop) but "alias" capital and non-capital as the same letter so that if you hit "a" or "A" the key lights up with the physicalKeyboardHighlight prop. Couldn't figure out how to make that work with the module system.

F

[2022-06-02 05:32] rouxster777 opened #1572 "Key sticking and characters repeating indefinitely"
The keyboard key remains in the down state when clicked with the secondary mouse button (right-click). Characters are then added indefinitely.

On further investigation the repeating characters can be resolved with disableButtonHold, however the key still remains in the down state.

[2022-06-03 19:59] hodgef commented on #1572
You haven't provided a repro or OS/Browser details, so I have to close it on that basis. However I'm pretty sure you're using Ubuntu/Linux and that this is a duplicate of https://github.com/hodgef/simple-keyboard/issues/1333

[2022-06-03 19:59] #1572 closed

[2022-06-03 20:04] hodgef commented on #1567
Hey @dkaklamanis,

Thanks for your suggestion. I think this one can be easily implemented by devs, so I wouldn't build this in.

Essentially you can do this is in your onKeyPress handler. If the layout is "shift" and there's already a letter in the input, then change the layout to default.

Regards,
Francisco Hodge

[2022-06-03 20:04] #1567 closed

[2022-06-04 13:19] Guiladg commented on #1544
Thanks a lot!
Your work is truely amazing.

El jue, 12 may. 2022 22:11, Francisco Hodge ***@***.***>
escribió:

[2022-06-06 14:54] dperera-innerspec opened #1578 "Allow custom component to be displayed in place of layout's entries"
As of now, we are only able to add a string instead of a layout entry:

[code]

I'd like to be able to display HTML components instead of strings of text:

[code]

[2022-06-06 16:18] hodgef commented on #1578
Hello @dperera-innerspec,

This is not possible, since the core library is in vanilla JS, and the display values are applied with innerHTML.
https://github.com/hodgef/simple-keyboard/issues/433#issuecomment-594992889

Regards,
Francisco Hodge

[2022-06-06 16:18] #1578 closed

[2022-06-09 06:54] meichuanlong opened #1583 "Arrow buttons, which don't work on Safari, move left or right, type something wrong when the cursor hovers, and click the Backspace button"
import Keyboard from "../lib";
import "./css/BasicDemo.css";
// import "./css/ButtonThemeDemo.css";

const setDOM = () => {
    document.querySelector("body").innerHTML = `
    <input class="input" id="setpwd" autofocus=true placeholder="Tap on the virtual keyboard to start 12">
    <div class="simple-keyboard"></div>
  `;
};

{ /* <textarea class="input" placeholder="Tap on the virtual keyboard t

[2022-06-10 05:11] #1583 closed

[2022-06-13 08:28] ray-kay opened #1586 "Support for <input type="date""
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Simple keyboard also works for <input type="date" like it does for type="text"

[2022-06-13 17:44] hodgef commented on #1586
Hello @ray-kay,

This is a browser limitation. Please see https://github.com/hodgef/react-simple-keyboard/issues/247

Thanks,
Francisco Hodge

[2022-06-13 17:44] #1586 closed

[2022-06-20 12:41] BFernandez-intuiface opened #1597 "Bug with mouse selection of the input"
**Simple-keyboard version**
Version: 3.4.94

Hello Francisco,
When you select multiple letters of your input and then just click to place the caret, the selection disappears as expected but pressing a button of a keyboard act like the selection is still there.
If you select "abc" and then click after the "c", pressing "d" will replace "abc" instead of just adding the "d".

Really nice project by t

[2022-06-22 03:08] hodgef commented on #1597
Hello @BFernandez-intuiface,

I believe this is a Chromium bug. The mouse up event that is fired when we click to unselect the text has the wrong `event.target.selectionStart` and `event.target.selectionEnd` values.

![caret](https://user-images.githubusercontent.com/25509135/174934120-06ccccd7-afa8-45e0-a552-cd698196d2c3.gif)

Repro: https://jsfiddle.net/xcf5saze/7/

If you can repo the issue, it

[2022-06-22 03:08] #1597 closed

[2022-06-23 15:15] quinlo opened #1602 "Enter does not trigger form submission when using simplekeyboard in a form."
**Simple-keyboard version**
3.4.88

**Describe the bug**
Enter does not trigger form submission when using simplekeyboard in a form.  Is there a workaround here using the other options available?  I saw some reference in another ticket discussing accesibility that suggested flexibility using the buttonAttributes or useButtonTag options but I can't understand how that might solve this issue.

[2022-06-24 05:16] hodgef commented on #1602
Hello @quinlo,

Probably something like this:
https://codesandbox.io/s/unruffled-khorana-xdpkbm?file=/src/index.js

Regards,
Francisco Hodge

[2022-06-24 05:16] #1602 closed

[2022-06-28 18:14] DjoleDzele commented on #268
I'm having the exact same issue, tried everything i could think of to solve it but no luck, for example i have two separate input fields that are both registered and working with simple-keyboard, they accept inputs, but as shown in pictures above, after clearing inputs, and try typing again, it just resumes from the last string, i used ` keyboard.clearInput("#myInputId"); ` on each input, and clea

[2022-06-29 16:07] DjoleDzele commented on #268
UPDATE: It seems to work by using this combination of code:
`
document.querySelectorAll('.input').forEach(inp => {
  inp.focus();
  keyboard.clearInput();
  input.value = '';
})
`

[2022-06-30 01:51] hodgef commented on #268
FYI, you can also pass an empty object to `keyboard.replaceInput` to clear the entire input object.
https://hodgef.com/simple-keyboard/documentation/methods/replaceinput/

[2022-06-30 14:09] alexandereneroth commented on #1602
@hodgef With that code all buttons will submit, since the default type of button is already `submit`.

How can i target all buttons and give them `type="button"`?

[2022-06-30 16:06] hodgef commented on #1602
Very true. In that case you can try this out
https://codesandbox.io/s/sweet-worker-r2yx1j?file=/src/index.js

Regards,
Francisco Hodge

[2022-07-01 09:27] ray-kay opened #1614 "Supporting: add columns to layout"
**Is your feature request related to a problem? Please describe.**
I would like to add a numpad with a different row number (Buttons are bigger).  It could be easily done by adding another "column" into the layout for the numpad block

**Describe the solution you'd like**
Like there is the group button in a row syntax  [ ... ] there should be a syntax to add another column

**Describe alternatives

[2022-07-04 07:02] hodgef commented on #1614
Hi @ray-kay, while I agree that having this functionality would be nice to have, I wouldn't implement it for the following reasons:

- It's probably not worth the extra load in terms of dev effort, potential bugs, maintenance and documentation. (This is the main reason, as I'm trying to make simple-keyboard as stable and easy to maintain as possible).
- The current multi-keyboard approach doesn't

[2022-07-04 07:02] #1614 closed

[2022-07-05 14:27] ray-kay opened #1620 "Setting maxLength in one input causes incorrect caret position on another input"
**Simple-keyboard version**
3.4.122

**Describe the bug**
I have one instance of the keyboard an a directive that changes the input id on focus.
Now in my login screen I have a UserId with maxLength: 3 and Password field with no maxLength limitation.

`const options: KeyboardOptions = {
 inputName: this._inputTarget.id || 'default',
 maxLength: this._inputTarget.maxLength > -1 ? this._inputTarget.

[2022-07-05 16:55] hodgef commented on #1620
Hello @ray-kay,

Could you provide a repro for debugging? Will reopen the ticket once that is provided.

Thanks!
Francisco Hodge

[2022-07-07 10:24] ray-kay commented on #1620
Hi @hodgef

please see this demo repo:
https://stackblitz.com/edit/ng-simple-keyboard-maxlength

If you type in more then 3 chars oin the first field and then focus und type in the other field eg 123 its showing 321

![image](https://user-images.githubusercontent.com/12802386/177750577-76d16352-fca7-40ad-8e6b-792e62a4ca58.png)

Thanks for looking into this

Br Ralf

[2022-07-07 16:30] hodgef commented on #1620
Hey Raif,

Thanks for providing the repro. The `maxLength` option should either affect all inputs as a boolean or affect "some" inputs by passing an object.

Here's the fix:
https://stackblitz.com/edit/ng-simple-keyboard-maxlength-d8rmfa?file=src%2Fapp%2Fcomponents%2Fkeyboard%2Fkeyboard.component.ts

Regards,
Francisco Hodge

[2022-07-07 16:30] #1620 closed

[2022-07-08 13:09] ray-kay commented on #1620
Thanks for clarifying  @hodgef
I simply missunderstood the documentation (https://hodgef.com/simple-keyboard/documentation/options/maxlength/)

[2022-07-11 06:27] caiiiycuk opened #1621 "useMouseEvents: true breaks the order of keyPress/keyReleased"
Hi. In last version if you set `useMouseEvents: true` then keyReleased fired before keyPressed.

[2022-07-11 07:37] #1621 closed

[2022-07-13 11:11] naschimhit opened #1628 "Word Suggestions Feature"
I think in this project should add word suggestions from new word in dictionary.

Data a the word from user input. Example if user type a new word then add word suggestions dictionary.

[2022-07-14 04:43] hodgef commented on #1628
Hey @naschimhit,

If you mean something like word suggestions when you type, this is something that you can accomplish with custom code, like this:

https://codesandbox.io/s/00jzw1ry70?file=/src/index.js

For now I don't plan to build this into the core library, but I will track this proposal in the Enhancements project for future tracking.

Regards,
Francisco Hodge

[2022-07-14 04:43] #1628 closed

[2022-07-18 01:29] mabandla2003 opened #1630 "appending a 'class' to each key"
**Is your feature request related to a problem? Please describe.**
similar to how wordle works, I would like to highlight letters that a user has previously submitted. But upon investigation it seems Simple-Keyboard does not append a unique class to each key, so highlighting keys individually is not possible.

**Describe the solution you'd like**
each key is tagged with a class as follows:
{base}_

[2022-07-18 10:31] mabandla2003 commented on #1630
UPDATE: After some time trying the workaround I suggested (https://stackoverflow.com/questions/4480515/jquery-addclass-to-element-based-on-attribute-value) it seems it's just not possible to add a class to a key in order to then style it individually.

Looking forwad to your advice on this  and feedback on my feature request.

[2022-07-18 13:32] anehal123 opened #1634 "If keyboard already has input value. Backspace key doesn't work and keyboard entirely starts new input on pressing any key."
I am using below code to set the value when user gives any input from onscreen kbd.

 public onChange = (input: string) => {
  this.data.content.inputValue = input;
  }

[2022-07-20 20:07] hodgef commented on #1634
Duplicate of #55

[2022-07-20 20:07] #1634 closed

[2022-07-20 20:07] hodgef commented on #1634
More info: https://github.com/hodgef/simple-keyboard/issues/858#issuecomment-754394081

[2022-07-24 10:29] YungMilky opened #1641 "physicalKeyboardHighlight issue with background: linear-gradient()"
**Simple-keyboard version**
react-simple-keyboard 3.4.176 (tested on versions from a few of the sandboxes in the docs, including js version)

**Describe the bug**
Styling .hg-button on custom or default theme with background: linear-gradient(...) results in physicalKeyboardHighlight not displaying properly.

In [this sandbox repro](https://codesandbox.io/s/radial-gradient-background-highlight-fork

[2022-07-24 15:14] romikforest opened #1642 "Dead keys"
I don't see dead keys are working. E.g. on a greek demo I can't input diacritics. If dead keys are not implemented they are really required for many languages.

[2022-07-24 20:15] #1641 closed

[2022-07-24 20:29] hodgef commented on #1641
Hey @YungMilky,

This is now fixed in the latest version of simple-keyboard and react-simple-keyboard.

You can use `physicalKeyboardHighlightBgColor` to pass in your `background` property value:
https://hodgef.com/simple-keyboard/documentation/options/physicalkeyboardhighlightbgcolor/

The value passed there is applied to the button's style tag, as shown here:
https://github.com/hodgef/simple-key

[2022-07-24 20:38] hodgef commented on #1642
Hello @romikforest,

The [Greek layout](https://hodgef.com/simple-keyboard/demos/?d=greek) was submitted by a contributor before the [`layoutCandidates`](https://hodgef.com/simple-keyboard/documentation/options/layoutcandidates/) feature was released.

If you would like to have popups with key suggestions, you can add the layoutCandidates option accordingly:
https://hodgef.com/simple-keyboard/docu

[2022-07-24 20:38] #1642 closed

[2022-07-25 16:22] gvolt opened #1645 ""^" does not call up layoutCandidates selection properly"
**Simple-keyboard version**
3.4.0 stable

**Describe the bug**
Add this code
[code]
to e.g. the french layout.

Pressing the ^ key on the virtual keyboard just prints "^" to the input field instead of opening the layoutCandidates selection which would be the expected behaviour.

After you have entered one or more characters in the input field, surprisingly the layoutCandidates selection field appe

[2022-07-31 23:42] #1645 closed

[2022-07-31 23:58] hodgef commented on #1645
Hey @gvolt, thanks for reporting this issue!

The issue was that "^" is a special regex character and needed to be escaped. The fix has been deployed to the latest version of simple-keyboard.

Regards,
Francisco Hodge

[2022-08-01 06:51] gvolt commented on #1645
Thanks a lot @hodgef! Keep up the excellent work.

[2022-08-04 13:37] joachimek opened #1657 "Keyboard lacks any css"
**Simple-keyboard version**
react-simple-keyboard 3.4.180

**Describe the bug**
Whenever i try to render the keyboard in my app, it is displayed as a column of divs working as buttons, but lacking any css styling.

**Screenshots**
![obraz](https://user-images.githubusercontent.com/45990411/182860558-81d742ff-5382-45bf-b01a-a1046417a6b9.png)

[2022-08-04 20:17] hodgef commented on #1657
Are you importing the CSS file into your project like in the demo?
If so, please provide a repro and I will reopen this and take a closer look.

[2022-08-04 20:17] #1657 closed

[2022-08-14 07:22] reza3vi opened #1663 "Add random keyboard button"
Add random keyboard button for password field

[2022-08-23 15:03] dieterdreist opened #1673 "Shift not working"
**Simple-keyboard version**
As some bugs have been addressed in later versions, please ensure you are running the latest.

**Describe the bug**
A clear and concise description of what the bug is. Providing a [sandbox example](https://codesandbox.io/s/vanilla) or code depicting the issue is important, as this will help us reproduce the issue.

on no browsers I could get the shift working, neither i

[2022-08-23 19:29] hodgef commented on #1673
Clicking shift does change the layout in the demos. Closing issue

[2022-08-23 19:29] #1673 closed

[2022-09-06 06:16] mirodil1 opened #1690 "Customizing keyboard buttons"
I'm trying to customize my keyboard passing the following option in my VUE.
`watch: {
    guessedLetters: {
      handler(guessedLetters) {
        this.keyboard.addButtonTheme(
          guessedLetters.miss.map(name => name.toUpperCase()).join(" "),
          "is-dark"
        );
      );
     }
}`

also tried from documentation by adding `buttonTheme[...]` but not working,
My console shows that

[2022-09-06 06:29] hodgef commented on #1690
Hey @mirodil1, please share a full repro of your current attempt, that will make it easier to debug.

Will reopen the thread once that is provided. Thank you

[2022-09-06 08:04] mirodil1 commented on #1690
@hodgef thanks for answer, [my git repo](https://github.com/mirodil1/wordlefront)

[2022-09-06 14:55] hodgef commented on #1690
As far as I can tell, your watcher's handler (`watch: { guessedLetters: { handler(guessedLetters) {  ...`) is never being called - which is not a simple-keyboard issue.

If I call `addButtonTheme` directly in the Keyboard's onKeyPress, it works:

![image](https://user-images.githubusercontent.com/25509135/188666382-3e661ac0-b19a-4640-8582-4be8fd4e1753.png)

So first I think you'd need to find out

[2022-09-06 14:55] #1690 closed

[2022-09-07 05:30] mirodil1 commented on #1690
I made some changes to repo, can you check it pls, watchers handler is called when a word submitted.

I also checked it gets class but not affecting css, I don't know why, I guess everything is fine on my side.
![Screenshot from 2022-09-07 10-14-23](https://user-images.githubusercontent.com/69641938/188796105-758bcf39-87ad-4089-904b-e3050833960c.png)

![Screenshot from 2022-09-07 10-14-12](https:/

[2022-09-07 05:54] hodgef commented on #1690
Try removing "scoped" from your CSS:

![image](https://user-images.githubusercontent.com/25509135/188799161-5a0a6a8d-f7f8-4be7-9515-51049f188404.png)

simple-keyboard is coded in vanilla JS so Vue is not aware of the elements it creates.

[2022-09-07 08:09] mirodil1 commented on #1690
Thanks very much, worked now

[2022-09-26 13:44] gvolt opened #1719 "Possible bug: Backspace after input of composed characters via layoutCandidates"
**Simple-keyboard version**
3.4.162

**Describe the bug**
1. Have a layout file containing "composed" characters like `Î` in "layoutCandidates" (see below).
2. Enter such a character to the input field by clicking `^` on the "regular" virtual keyboard and then selecting `Î` from the layoutCandidates box.
3. Now hit "backspace": The `Î` seems to be decomposed in that it changes to `I`. "backspace"

[2022-09-26 17:58] hodgef commented on #1719
Hey @gvolt, this is intended behavior. Here's the reasoning behing this:

https://github.com/hodgef/simple-keyboard/issues/1398#issuecomment-1031317567

Regards,
Francisco Hodge

[2022-09-26 19:19] gvolt commented on #1719
Hi @hodgef,

many thanks for your fast response.

Is there a method to change this behaviour so clicking "backspace" once would erase the decomposed character?

[2022-09-29 13:55] gvolt commented on #1719
Thank you very much for considering this as an enhancement.

For now I am using

[code]

in order to make sure a composed character is written to the input field and to correct the caretPosition if necessary.

[2022-09-30 02:06] #1719 closed

[2022-09-30 02:08] hodgef commented on #1719
Hey @gvolt, feel free to try out the new option `disableCandidateNormalization`.
It is available as of the latest version of simple-keyboard.

Thanks!
Francisco Hodge

[2022-09-30 06:26] OikonomouDimitrios opened #1729 "Enable/Disable keyboard feature?"
Hi there!
Is there a keyboard option/method i can call to disable/enable the keyboard? I cannot seem to find one.
My version is 2.28.73.
Thank you!

[2022-09-30 06:30] gvolt commented on #1719
Most excellent! Just tried it and works as expected. Thank you very much!

[2022-09-30 17:18] hodgef commented on #1729
Hello @OikonomouDimitrios,

There's isn't such an option currently. You can toggle the CSS property [`pointer-events`](https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events) or [hide the keyboard](https://hodgef.com/simple-keyboard/questions-answers/implement-show-hide-toggling/) with JS to prevent input.

Regards,
Francisco Hodge

[2022-09-30 17:18] #1729 closed

[2022-10-11 05:13] FarazGolshahii opened #1740 "error in node module when use the library"
**Simple-keyboard version**
"simple-keyboard": "latest",

**Describe the bug**
i install the latest version of the library in my angular project (angular 11) and use
this is my implement code:

in ts file:
[code]

and in html :
[code]

and when i serve the project the following error accurs in my console:

**Screenshots**
![tempsnip](https://user-images.githubusercontent.com/78018888/195001944-05f

[2022-10-11 15:24] hodgef commented on #1740
Wow that's a new one. Do you mind providing a test git repo so I can debug this issue?

Will reopen once I get the repro. Thanks!

[2022-10-11 15:24] #1740 closed

[2022-10-14 19:17] daniel-uribe-sperantus opened #1746 "Keyboard fails to init correctly if attached input has a value"
**Simple-keyboard version**
3.4.120

**Describe the bug**
This only happens with the first input with data that activates simple-keyboard on any page. The issue can be reproduced in your code sandbox https://codesandbox.io/s/github/hodgef/vue-simple-keyboard/tree/dark-theme

In the App.vue file, change the initial data
`data: () => ({
    input: "Some data",
    theme: "hg-theme-default myTheme1"

[2022-10-15 01:28] hodgef commented on #1746
Duplicate of #55

[2022-10-15 01:28] #1746 closed

[2022-10-18 10:23] xi7 opened #1751 "make it fast"
..

[2022-10-18 10:26] #1751 closed

[2022-10-18 11:29] Niharika-Pat opened #1752 "Unable to get correct keyboard's caret position and value entered by keys are appending at the last"
Describe the bug
Steps to reproduce:
I am trying to paste a value on the input field of keyboard using external button. But when I update the input field value with new value by calling onChange(input) and then click on any keyboard key then the values typed are appending always at the end and keyboard.caretPosition returned is null.
I tried explicitly setting the position using keyboard.caretPosi

[2022-10-18 12:10] Niharika-Pat opened #1753 "Unable to get correct keyboard's caret position and value entered by keys after upating input in middle are appending at the last"
I am trying to paste a value on the input field of keyboard using external button. But when I update the input field value with new value by calling onChange(input) and then click on any keyboard key then the values typed are appending always at the end and keyboard.caretPosition returned is null.
I tried explicitly setting the position using keyboard.caretPosition=(length of old value + length of

[2022-10-18 12:10] #1752 closed

[2022-10-18 16:53] hodgef commented on #1753
Hey @Niharika-Pat,

Please provide a full repro. It can be a sandbox or a test git repository. This will be more useful for debugging.

Regards,
Francisco Hodge

[2022-10-18 16:53] #1753 closed

[2022-11-03 12:23] gwinnem opened #1768 "Support for {empty}"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
When {empty} is defined i would like to see a button with no text and the button being disabled

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

[2022-11-04 01:26] hodgef commented on #1768
You can spawn an empty button by adding `{//}` to your layout. For example:

https://codesandbox.io/s/condescending-phoebe-etprbf?file=/src/index.js

If you'd like to style it differently, you can use CSS to that effect like so:

[code]

[2022-11-04 01:26] #1768 closed

[2022-11-06 11:13] m50S79sM6SRNp8Jn opened #1770 "Feature Request: Support Nix package manager"
Please add simple-keyboard to already 80,000 Nix package

https://nixos.org/
https://search.nixos.org/packages
https://nixos.org/manual/nixpkgs/stable/#language-javascript

Thank you.

[2022-11-15 11:29] chiragbytes opened #1788 "Cursor alignment and text adding issue in hebrew keyboard"
**^2.31.4**
I have 2.31.4 in my local, however I have also tried with latest version in this given demo URL, issue exist there also. [hebrew keyboard](https://hodgef.com/simple-keyboard/demos/?d=hebrew)

Scenario:
As you type hebrew letters from keyboard it works fine, suppose after finished typing you want to add some extra text at the first word or starting of the line, you move your cursor ther

[2022-11-25 04:23] hodgef commented on #1788
Hello @chiragbytes,

I think this issue has to do with the usage of `rtl: true`, which adds two invisible characters to the input.

https://hodgef.com/simple-keyboard/documentation/options/rtl/

For example, with the `rtl` option enabled:
![image](https://user-images.githubusercontent.com/25509135/203900733-89624315-5ed8-4aa7-bd77-5bb1e56794ee.png)

And without:
![image](https://user-images.github

[2022-11-25 09:01] #1788 closed

[2022-11-25 09:04] hodgef commented on #1788
I have added a tentative fix for this issue in the latest release. Please feel free to update and try it out.

Regards,
Francisco Hodge