[2018-06-29 20:26] capndave opened #1 "Styling buttons"
Hi. Can we use theme to style individual buttons? I've been unable to do so or to target the buttons themselves, and I'd love to make those buttons taller, adjust padding, etc. Thanks!

[2018-06-29 21:23] capndave commented on #1
Ok I just changed the theme to "hg-layout-custom" and was then able to target .hg-button no problem. Thanks!

[2018-06-29 21:23] #1 closed

[2018-06-29 22:50] hodgef commented on #1
Hello @capndave,

Glad you got it working!

There's definitely some improvements I would like to do in terms of customization. I put it as a todo in a "Roadmap" post:
https://github.com/hodgef/simple-keyboard/wiki/Roadmap

I think I'll start work on this and hopefully release an improvement in the next few hours. :)

Thanks for filing the issue, btw! If you see anything that you think should be im

[2018-06-30 15:42] capndave commented on #1
Awesome, thanks! I was dreading making a custom keyboard so your library is
very useful. Did you just release it?

*David Thompson *
Master of Public Affairs
Data and Visualization Consultant

On Fri, Jun 29, 2018 at 8:27 PM, Francisco Hodge <notifications@github.com>
wrote:

[2018-06-30 18:08] hodgef commented on #1
Glad it's been useful to you! I started it back in March for a small
project. It's pretty much stable now (for my needs) so I mainly come back
and improve it whenever there's an issue, pr or feedback. :)

Have a nice one!

Francisco Hodge
*Full Stack Web Developer*

w : franciscohodge.com  e: hello@franciscohodge.com

On Sat, Jun 30, 2018 at 11:42 AM, David Thompson <notifications@github.com>
wrot

[2018-07-13 19:10] jantuitman opened #2 "Quickly typing on iPads."
This is probably more an issue of your demo and the documentation than of the library: if you quickly type on an iPad  there is a high chance you will trigger a double tap zoom, which is built into mobile safari. So on the page, zooming should probably be disabled for the keyboard to be useful on an iPad.

But great library!

[2018-07-13 19:20] hodgef commented on #2
Hello Jan, I'll take a look into this today and update the CodeSandbox examples, readme and other demos.

Thank you for the feedback!

[2018-07-13 21:52] hodgef commented on #2
Hello @jantuitman,

This bug should now be fixed (as of version ^2.3.7).
If you see this bug pop-up again, please do let me know and I'll reopen the ticket :)

All the best,
Francisco Hodge

[2018-07-13 21:53] #2 closed

[2018-07-14 07:38] jantuitman commented on #2
Thanks! It works.

[2018-08-02 19:08] bpugh opened #3 "Remove react peer dependency"
The package.json specifies react as a peer dependency but it's my understanding the vanillaJS version shouldn't depend on it correct?

[2018-08-02 19:26] hodgef commented on #3
Correct! The library boilerplate uses React, but the built simple-keyboard is vanilla javascript.

[2018-08-02 19:43] bpugh commented on #3
Oh I see. Hmm maybe there is a way we could split it out? Maybe have the demo boilerplate in a subdirectory? since if someone is adding it to an Angular project they wouldn't want to see npm warnings that they're missing react as a peer dependency.

[2018-08-02 20:15] hodgef commented on #3
You're right, that's something that must be corrected. I can take a look into it this week. If you want to have a go at it and submit a PR, I would gladly accept it !

[2018-08-03 19:09] hodgef commented on #3
Hello @bpugh,

This turned out to be easier than expected. Since dist does not need react, I just removed it from the peerDependencies. React will still be in the devDependencies, since it is used to build the live demo.

Here's the commit: https://github.com/hodgef/simple-keyboard/commit/958019199a4ee7cfdfdde66a865ccdad157c2187

The change is live as of ^2.3.11 and I've updated the demos.

e.g.:

[2018-08-03 19:10] #3 closed

[2018-08-03 20:10] bpugh commented on #3
oh nice! Thanks!

[2018-08-31 10:17] o-sewell opened #4 "caps lock not working"
caps lock isn't working on keyboard

[2018-08-31 13:30] #4 closed

[2018-08-31 14:09] o-sewell commented on #4
Great thanks hodgef :-)

[2018-09-18 08:58] m1gu3l opened #5 "Caps Lock should not trigger alternative characters for numeric buttons"

[2018-09-18 11:57] hodgef commented on #5
Hello @m1gu3l, thanks for submitting this issue!

By having caps lock do the same behavior as shift, I tried to simplify the layouts and make it easier for those coming over from Mottie Keyboard.

simple-keyboard fully supports a different layout for caps lock however. Here's an example:
[![Edit simple-keyboard handling shift and caps lock demo - npm](https://codesandbox.io/static/img/play-codesan

[2018-09-18 11:57] #5 closed

[2018-09-24 05:34] MDALIMULALRAZY opened #6 "How can i configure bengali language?"

[2018-09-24 16:33] hodgef commented on #6
Hello @MDALIMULALRAZY,

I personally do not know bengali, but here's a layout that can work for that language:

[![Edit Use-case: simple-keyboard layout customization demo - cdn](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/v388k9zvk0)

Basically the important part is this option:
[code]

Feel free to tweak and configure it to fit your needs.

To get Unicode ch

[2018-09-24 16:33] #6 closed

[2018-09-25 05:27] seal62 opened #7 "console.log on input focus"
Hey,

Firstly, thanks for sharing this awesome library. Very nice keyboard.

I think there might be a console log in the code. Every time I focus on an input Im seeing a log in the console as screenshot shows. Would you be able to remove this? Thanks.
![image](https://user-images.githubusercontent.com/5068912/45994551-7e0bbc00-c0d7-11e8-8fb0-887c825ad620.png)

[2018-09-25 13:52] hodgef commented on #7
Hello @seal62,

Sorry about that! You're using react-simple-keyboard right?

I had pushed version 1.4.2 and when I noticed this console log I quickly pushed 1.4.3.

https://github.com/hodgef/react-simple-keyboard/commit/b10cd932f1144e45091e6ba33fda3d3c122bd9e3

Let me know if the log is gone after an update, if not I'll re-open the issue :)

Regards

[2018-09-25 13:52] #7 closed

[2018-09-25 23:33] seal62 commented on #7
Whoops! Sorry opened the issue on the wrong repo! Yeah it was for react-simple-keyboard. I’ve tested and seems to be resolved. Thanks for the speedy response!

[2018-09-26 10:59] benkas opened #8 "types"
[ts]
Could not find a declaration file for module 'simple-keyboard'. 'd:/.../node_modules/simple-keyboard/build/index.js' implicitly has an 'any' type.
  Try `npm install @types/simple-keyboard` if it exists or add a new declaration (.d.ts) file containing `declare module 'simple-keyboard';`

[2018-09-26 15:33] hodgef commented on #8
Hello @benkas,

Are you using Angular? I can't see reproduce this error on the demo here:
https://codesandbox.io/s/48qqy8mn84

[![Edit simple-keyboard demo - Angular](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/48qqy8mn84)

This error may happen on your end because you have `noImplicitAny` enabled in your config tsconfig.json. Could you check if you do and dis

[2018-09-26 15:33] #8 closed

[2018-09-27 19:35] chhunchha opened #9 "Backspace always deletes last character"
Backspace key is always deleting last character.
Steps to reproduce:

'|' is showing cursor position

Type few characters for example - "REACT|"
move cursor in between some where - for example - "REA|CT"
Press backspace - it deletes 'T' rather than 'A'

[2018-09-28 20:39] hodgef commented on #9
Hello @chhunchha,

Currently text is appended only. However, adding text from the cursor is on the Roadmap.
https://github.com/hodgef/simple-keyboard/wiki/Roadmap

I can't guarantee a delivery date for this, but rest assured this is acknowledged and will ship soon.

Regards

[2018-09-28 20:39] #9 closed

[2018-10-02 18:39] datnordstrom opened #10 "Custom buttons? '{close}': '↓'"
Just wondering if this the correct way to make custom buttons since it wasn't documented.

[code]

[2018-10-02 21:49] hodgef commented on #10
Hello @datnordstrom !

Here's the docs for the properties `layout` and `display`:

Layout:
https://github.com/hodgef/simple-keyboard#layout

Display:
https://github.com/hodgef/simple-keyboard#display

I set up some demos here that you can fork and adapt. They are linked through the Readme:
https://codesandbox.io/u/hodgef/sandboxes/1

For instance, I forked this one and adapted it to your question:

[2018-10-02 21:49] #10 closed

[2018-10-05 11:04] zoolfadhlie opened #11 "Max Length"
Hi thanks for the great work you have done..

how to limit the number of character in the input. Normally we will use maxlength attribute. But in this case maxlength is does not working..

And also is it possible to move to next input box by clicking at tab or enter button?

cheers

zul

[2018-10-05 16:46] hodgef commented on #11
Hello @zoolfadhlie,

Those are great requests. I think this `MaxLength` property should be built-in. I will release it in a few hours.

Regarding the moving to the next input box, you can absolutely do that, but on your own implementation. Simple-keyboard doesn't really handle the input elements, just the string. You can even chose not to use inputs at all. So for your use case I suggest something

[2018-10-06 08:33] #11 closed

[2018-10-07 04:38] hodgef commented on #9
Now supoorted !

https://github.com/hodgef/react-simple-keyboard/issues/5#issuecomment-427621984

[2018-10-09 20:17] babaskate opened #12 "Left and Right Braces do not trigger onChange event"
I'm noticing this in the demo as well, but when you type a left or right brace, the onChange callback does not fire. We have a keyboard config setup such as this:
[code]
Only the button press event fires when you type either the left or right brace, so in that callback, I explicitly check for the values, and reset the simple keyboard input and the value of my text box.
[code]

The above solution w

[2018-10-09 21:06] hodgef commented on #12
Hello @babaskate,

Sorry, I'm not too sure what you're meaning to achieve and the issue.
Could you please edit/fork the following example to show your use-case and send me the link?

[![Edit simple-keyboard demo - npm](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/krzkx19rr)

I'm also available on the chat:
http://franciscohodge.com/simple-keyboard/chat/join

Re

[2018-10-10 17:04] hodgef commented on #12
Hello @babaskate,

Thank so much for this bug report. I was able to reproduce the issue and it is now fixed as of 2.5.8.

[![Edit simple-keyboard demo - npm](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/krzkx19rr?module=%2Fsrc%2Findex.js)

If you still have the issue, please let me know and I will reopen the ticket. Thanks!

[2018-10-10 17:04] #12 closed

[2018-10-12 19:38] chhunchha opened #13 "After deleting first character cursor jumps to an end"
**Describe the bug**
1. Type text in to input for example "123456789"
2. Put cursor between '3' and '4'
3. Hit backspace till it deletes '1'
4. Hit backspace one more time

Expected:
Cursor should have stayed at start of input box and delete nothing

Actual:
It deletes 9

[2018-10-12 22:35] hodgef commented on #13
Hello @chhunchha,

Thank you for this bug report! The issue should now be fixed as of simple-keyboard 2.5.9 and react-simple-keyboard 1.5.6.

[![Edit simple-keyboard demo - npm](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/krzkx19rr?module=%2Fsrc%2Findex.js)

If you notice the problem still, please let me know and I'll reopen the ticket.

Regards

[2018-10-12 22:35] #13 closed

[2018-10-31 15:48] zreese opened #14 "Input loses focus & cursor on simple-keyboard keypress"
Using simple-keyboard v2.6.8. Testing in Chrome 70.0.3538.77 (Official Build) (64-bit) on macOS 10.12.6.

When selecting a text input, it gets a CSS `:focus` selector. When interacting with the keyboard to enter text into the input field, the keyboard steals focus and the `:focus` selector and cursor both disappear.

![image](https://user-images.githubusercontent.com/5454454/47800404-98ead500-dd02

[2018-10-31 16:05] hodgef commented on #14
Hello @zreese,

A loss of input focus when you click away from the input is normal. To handle multiple inputs, check out this example:

https://codesandbox.io/s/github/hodgef/demo_npm_simple-keyboard_multiple-inputs

____
**How simple-keyboard works**

Simple-keyboard has an internal input, so it really isn't aware of input elements - you could even ditch them altogether.

To update an input/texta

[2018-10-31 16:05] #14 closed

[2018-11-06 21:23] hasibr opened #29 "Navigation through keys within keyboard"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like to be able to toggle to a mode where I can navigate through the keys in the keyboard using some configurable input. For example, a cursor would start at the top-left most key in the keyboard [0,0]. Pressing the right arrow key on the physical keyboard as an input (or any other

[2018-11-06 21:32] hodgef commented on #29
Thanks for creating a ticket for this @hasibr !

I will probably start working on this later today or tomorrow. Stay tuned for updates.

Regards,
Francisco Hodge

[2018-11-07 03:29] hodgef commented on #29
Hello @hasibr,

**simple-keyboard-key-navigation** has been released!
https://github.com/hodgef/simple-keyboard-key-navigation

If you have any issues with the module, feel free to open an issue on that repo and I'll check it out.

Regards,
Francisco Hodge

[2018-11-07 03:29] #29 closed

[2018-11-14 18:26] MadDeveloper opened #34 "Use touch events"
I'm actually working on adding an option `useTouchEvents`, because I need it for my project. Are you interested to see it as PR?

[2018-11-14 18:31] hodgef commented on #34
Could you elaborate a bit about the feature? And of course PR are always welcome :+1:

[2018-11-14 18:35] MadDeveloper commented on #34
Instead of just having `onclick` and `onmousedown` events, I would like to add the possibility to handle same events with `ontouchstart`, `ontouchend` and `ontouchcancel` (will permits to handle many touch events in the same time, and having many keyboards on the same app (that's one of my today problem))

[2018-11-14 18:44] hodgef commented on #34
That would be perfect, looking forward to it!
By the way, if you want to instantiate multiple keyboards, check out these:

react-simple-keyboard:
https://codesandbox.io/s/github/hodgef/demo_npm_react-simple-keyboard_multiple-instances

simple-keyboard:
https://codesandbox.io/s/github/hodgef/demo_npm_simple-keyboard_dispatch-method

[2018-11-15 08:02] MadDeveloper commented on #34
I saw this example about multi keyboards, but in my case I don't want to synchronise them, it an interactive tactile table, and two clients in the same time can play with it, so I need to be able to handle two different input at the same time (which is not able by the native way).

[2018-11-15 14:03] MadDeveloper commented on #34
Indeed I've one question, I don't see the `build` directory in the `.gitignore`, is it an oversight or voluntary? Is it required in order to be deployed on npm?

[2018-11-15 14:10] hodgef commented on #34
Yup it's intentional - just so those that want to self-host can download the release and use the assets on the `./build` folder. They're pretty light assets too I thought it was fair enough to add them to version control

[2018-11-15 14:34] MadDeveloper commented on #34
Ok, thank's you!

[2018-11-16 05:27] #34 closed, assigned to MadDeveloper

[2018-11-16 08:13] MadDeveloper opened #36 "ipad iOS keyboard layout"
**EDIT: Sorry, wrong place! Moved to https://github.com/hodgef/simple-keyboard-layouts/issues/23**

[2018-11-16 08:41] #36 closed

[2018-11-20 08:00] SteinRobert opened #37 "Add option for event to keep focus on input field"
**Is your feature request related to a problem? Please describe.**
Clicking a button makes the browser focusing the button - the focus on the input field gets lost

**Describe the solution you'd like**
It would be nice to add an option to keep the focus on the input field. This can be achieved by using the mouse down event in combination with `preventDefault()`.

**Additional context**
Pretty simi

[2018-11-20 22:17] SteinRobert commented on #37
I'll give it a try later this week! Thanks for considering it 👍

[2018-11-21 18:03] hodgef opened #38 "Enhancement: Bind caret handler events only once, regardless of # of instances"
Currently, if you have multiple instances of simple-keyboard, each instance sets caret handling events so they can update their internal cursor position.

It would be more efficient to make only the first instance set these events, then this instance would update all other instances.

As per:
https://github.com/hodgef/react-simple-keyboard/issues/34

Demo (react-simple-keyboard):
https://codesandb

[2018-11-25 01:21] #37 closed

[2018-11-25 17:16] hodgef commented on #38
Fixed as of 2.11.0
https://github.com/hodgef/simple-keyboard/commit/d8c1327efffb1b40186f46013d76df5e4a974a29

[2018-11-25 17:16] #38 closed

[2018-11-26 07:43] deadcoder0904 commented on #4
Hey @hodgef any chance it can recognize Shift & Caps Lock pressed through offline keyboard & change the layout of online keyboard?

[2018-11-28 14:12] hodgef commented on #8
Hello @benkas - Just wanted to let you know that this should now be fixed as of 2.11.6 as per PR #40 by @armno.

Regards

[2018-12-07 03:31] luatnd opened #43 "How can I enable caret ?"
Hi,
I see some caret implementation in the code but I don't know how to handle the caret or at least show it to the users.
Thanks.

[2018-12-07 03:51] luatnd commented on #43
Ah, After read the code I can see caret position is handled but package doesn't have any feature to reflect caret to UI.

[2018-12-07 04:02] hodgef commented on #43
Hey @luatnd, could you elaborate on what you mean by "reflect caret to UI"? As you have correctly noted, the keyboard just handles caret positioning. There's an option to disable this handling (which reverts to always adding text at the end of the string).

Regards,
Francisco Hodge

[2018-12-07 04:44] #43 closed

[2018-12-08 16:36] luatnd commented on #43
Sorry, I described my problem carelessly.
My case is: I'm using this virtual keyboard on touch devices (mobiles) so users can see both virtual and devices keyboard.
That's why I need to call `element.blur()` to hide the device keyboard.
For sure, I cannot see the caret.
--> So I'm asking you.
But after thinking and re-read your code, I know I should forget the caret :(
I could not find a way to hi

[2018-12-08 19:37] hodgef commented on #43
Hey @luatnd. I've been trying this out and it seems there's no way to do this. The device's keyboard will appear whenever element.focus() is called. I've tried setting readonly="true" then triggering a `.focus` with `event.preventDefault()`, but still the device keyboard comes back.

If you find a way to get this use-case to work. Do let me know and I'll add it to the docs. Thanks

[2018-12-10 05:13] luatnd commented on #43
Yes. It's impossible.
Luckily we're running our app via webview so we can ask for help from native code.
Thanks.

[2018-12-27 14:15] mkusher opened #44 "camelCase function is broken"
**Simple-keyboard version**
1.14 and 1.13 versions of react-simple-keyboard are affected

**Describe the bug**
function `camelCase`(https://github.com/hodgef/simple-keyboard/blob/master/src/lib/services/Utilities.js#L362) from utils will fail on a class name with two dashes, e.g. 'my--weird--class`

[2018-12-27 17:49] mkusher commented on #44
So what needs to be added is length check on a word:
[code]

[2018-12-27 18:13] hodgef commented on #44
Hey @mkusher, thanks for the fix! Do you mind sending in a PR so you can be credited as collaborator?
If you don't have the time, I can take care of it.

Regards,
Francisco Hodge

[2018-12-27 18:33] #44 closed

[2018-12-27 18:58] hodgef commented on #44
Fix now released to npm as of
- simple-keyboard `2.13.1`
- react-simple-keyboard `1.14.1`

Thanks!

[2018-12-31 03:56] NSLog0 opened #46 "Does the keyboard has a show/hide function?"
Hi, I very love your library. It's easy to use and simple. Once I tried it, I fund I couldn't hide the keyboard. I would like to open the keyboard when people are clicking on the text box and when they finish typing, they just click on the outside and dismiss the keyboard

[2018-12-31 17:06] hodgef commented on #46
Hello @NSLog0, sorry for the delay - For this issue, I think CSS could prove more powerful than a simple show/hide feature (as css could cover a lot more use cases). For a simple show/hide functionality, you could use the focus selector in CSS to implement such feature.

`.simple-keyboard {
  display: none;
}

input:focus + .simple-keyboard {
  display: block;
}`

Since you already closed the tick

[2019-01-01 09:35] NSLog0 commented on #46
I am solved this issue last night by figured about I could show/hide by using CSS. btw I must sorry to ask about a simple question. I quite confused last night.

Ps. I've open an issue for the react version here https://github.com/hodgef/react-simple-keyboard/issues/35 , Could you please help me to check the problem?

[2019-01-01 16:21] hodgef commented on #46
Sounds good! I'll check that ticket now.

Regards,
Francisco Hodge

[2019-01-11 20:44] erincarignan opened #47 "Caps and Shift buttons trigger hide"
**Simple-keyboard version**
2.13.2

**Describe the bug**
I'm following the sample, [here](https://codesandbox.io/s/github/hodgef/simple-keyboard-npm-demos/tree/uc-showhide/), to show/hide the keyboard on input focus.

I notice that when the Caps or Shift buttons are clicked, the keyboard is hidden.  I'm guessing this is some behavior related to switching out the keyboard layout when those buttons

[2019-01-11 21:06] hodgef commented on #47
Holy crap! Nice catch - I'll get this fixed asap. Please stand by for updates.

Regards,
Francisco Hodge

[2019-01-11 23:08] hodgef commented on #47
Hello @erincarignan ,

The issue was that when `setOptions` was called simple-keyboard re-rendered, losing the "show-keyboard" class. I think the less complicated fix for now is to re-add this class after the `setOptions` call.

This whole process is certainly more lengthy than a simple "show/hide" option, but I think I shouldn't add show/hide logic to the core package as it implies listening to e

[2019-01-11 23:08] #47 closed

[2019-01-14 15:24] erincarignan commented on #47
Works great - thanks for the quick response!

[2019-01-16 14:01] raeffs commented on #43
@hodgef you mentioned that "There's an option to disable this handling (which reverts to always adding text at the end of the string)." How can this be enabled?

[2019-01-16 14:05] hodgef commented on #43
Hey @raeffs ,

Sorry, I forgot to add this one to the docs. The option is called `disableCaretPositioning`.
I will add it to the docs shortly.

Regards,
Francisco Hodge

[2019-01-17 00:57] hodgef commented on #43
Hello @raeffs ,

Thanks for the heads up! I've just added the types for this method (^2.13.3).

Regards,
Francisco Hodge

[2019-01-24 17:03] CPMikeAmato opened #48 "Module Parse Failing during Production Build"
Hi all-

I'm using the on-screen keyboard for a project I've been working on that will be displayed on a touch screen monitor in the cafeteria at my company for employees to enter in their e-mail address and send themselves an email with some info about various topics. I built this web app using Ionic 4 and am running into an issue while building a production version of the application.

The error

[2019-01-24 17:57] hodgef commented on #48
Hello @CPMikeAmato,

I haven't tried simple-keyboard in Ionic, but generally in Webpack projects you have a module called ["css-loader"](https://github.com/webpack-contrib/css-loader) which handles css imports.

If you don't have this kind of module in your project (e.g: if you're not using Webpack), you can just download this css file and load it locally in your project, a bit like in the ["Usage

[2019-01-24 17:57] #48 closed

[2019-01-24 20:51] appskitchen opened #49 "Negative, Floating number value in number type field"
**Simple-keyboard version**
v2.13.4

**Describe the bug**
I tried to put a negative or floating point number in a number type input field, when I put - or .(for example only -, or only 2.), the input field comes empty.

Also if i enter a negative number(lets say -9) and try to use backspace, I can't remove that character. Seems only work around is to define that input as text field.

Please let me

[2019-01-24 21:16] hodgef commented on #49
Hello @appskitchen,

Could you provide a sandbox example of your issue? You can edit the following one for instance then share its link: https://codesandbox.io/s/github/hodgef/simple-keyboard-npm-demos/tree/master/

I will swiftly reopen the issue once you provide a sandbox example.

Thank you,
Francisco Hodge

[2019-01-24 21:25] appskitchen commented on #49
@hodgef Here is the code example -
[https://codesandbox.io/s/n4ymr273nj](https://codesandbox.io/s/n4ymr273nj)

Also caret positioning doesn't work either, if i move the cursor at different position and enter new data, cursor moves at the end although input goes on expected position. You can see this issue on the code sample above.

Thanks for your fast response.

[2019-01-24 21:58] hodgef commented on #49
Hello @appskitchen ,

Thank you for providing the sandbox!

**1. Regarding giving simple-keyboard's input to a `input[type="number"]` element**

- simple-keyboard saves all input inside an internal variable (`keyboard.input`). You can see it's contents by setting option `debug` to true. This input is a string.
- What's happening here is that, on the `onChange` method, we're setting this string as

[2019-01-24 22:04] appskitchen commented on #49
Thanks @hodgef for your prompt response. Trying to find out an workaround.

[2019-01-25 05:11] hodgef commented on #49
The new option `inputPattern` has been added as of 2.14.0, hopefully it helps in your implementation !

**Docs:** https://simple-keyboard.com/documentation/#inputPattern
**Sandbox:** https://codesandbox.io/s/github/hodgef/simple-keyboard-npm-demos/tree/uc-inputPattern/

Regards,
Francisco Hodge

[2019-01-25 05:11] #49 closed

[2019-02-13 12:45] ddahan opened #50 "Can not include multiple keyboards in an Angular component"
**Simple-keyboard version**
2.14.3

**Describe the bug**
In Angular 6, when trying to include multiple keyboards in a component (embedding simple keyboard as a component itself), only the first one is displayed/working.
Here is a minimal Github project that shows the issue: https://github.com/ddahan/pockey

**Screenshots**

![image](https://user-images.githubusercontent.com/1933516/52712568-4a9dd1

[2019-02-13 13:32] hodgef commented on #50
Hey @ddahan,

You need to give a different class to each keyboard instance, otherwise the second instance will just override the first one.

For example:
[code]

[code]

Docs:
https://franciscohodge.com/projects/simple-keyboard/qa-use-cases/#give-different-class-keyboard

Demo:
https://codesandbox.io/s/github/hodgef/simple-keyboard-npm-demos/tree/uc-dispatch/

This should fix your issue, but if it

[2019-02-13 13:58] ddahan commented on #50
Hi @hodgef and thanks for quick reply (and for your amazing job on this).

I understand that there is a conflict between 2 keyboards and I think I understood your code samples.

However, in Angular, the clean way to work when you want to use the same stuff several times is to create a unique component (this is what I did with [`SimpleKeyboardComponent`](https://github.com/ddahan/pockey/blob/master

[2019-02-13 14:07] hodgef commented on #50
Hey @ddahan,

I understand what you mean. To accomplish this use case in react for example, I pass the class name though a parameter (prop). Like so:

https://simple-keyboard.com/react/qa-use-cases/#give-different-class-keyboard

I wonder if using a similar approach would work for your use-case.

In any case, for multiple keyboards you do need multiple instances, as the event listeners are bound t

[2019-02-13 14:45] ddahan commented on #50
You're right it's the way to go for sure.
In Angular, we have `@input` to provide data to children components.
I tried to use `@Input` to provide class name to the keyboard component., I think it's almost done, but something's wrong with the keyboard component instanciation, I got a DOM error:

![image](https://user-images.githubusercontent.com/1933516/52719425-e8999780-2fa5-11e9-8bd8-bec25bc33c19

[2019-02-13 14:52] ddahan commented on #50
The error makes senses because at `OnInit` level, DOM is not created.
Still investigating how to process, using another lifecycle event (like `AfterViewInit`)

[2019-02-13 15:07] hodgef commented on #50
Awesome! Glad you got it figured out. I will update the Angular demos soon to use `ngAfterViewInit` instead of `onInit`. Thanks!

[2019-02-13 15:07] #50 closed

[2019-02-13 15:08] ddahan commented on #50
You are the one to thanks ;)
I updated the Github repo if it can help you to make the demo :)

[2019-02-14 13:47] ejdaly opened #51 "[Feature] [Build] Non-minified Build Files"
Would be nice if non-minified files (simple-keyboard.js, simple-keyboard.css) were available as well as the minified versions provided in /build

Use-case: people who have their own project build steps that bundle / minify code don't necessarily want to use the already minified files; and having non-minified files are much easier to develop with / debug etc..

(Note: I tried un-minifying from inde

[2019-02-14 14:09] hodgef commented on #51
Hello @ejdaly,

Thanks for providing the use-case with the request. I think it makes sense. It should be shipped sometime this week.

The end result will be as follows (for backward compatibility reasons):
[code]

Regards,
Francisco Hodge

[2019-02-14 18:19] ejdaly commented on #51
Perfect - thank you

[2019-02-15 09:35] ddahan opened #52 "[Documentation update] CSS is not loaded in Angular6+"
**Simple-keyboard version**
2.14.2

**Bug**
Following [this reddit thread](https://www.reddit.com/r/Angular2/comments/a2q10z/virtual_keyboard_for_angular/), some users (including me) reported that CSS is not loaded in Angular 6+ using an import statement to load CSS file.

**Solution**
Just don't import the css using `"import 'simple-keyboard/build/css/index.css';"` in the component file. Instead,

[2019-02-15 13:31] hodgef commented on #52
Hey @ddahan,

Thank you so much for this fix! Indeed I had come across this issue and didn't find a solution for it. I thought it just happened to a few people, but I was wrong.

Thanks a lot for investigating and providing the solution. I'll change the demos right away.

Regards,
Francisco Hodge

[2019-02-15 14:26] hodgef commented on #52
The Angular demos are now up to date! Here are the changes:

1. CSS now linked in the component
[code]

2. ngAfterViewInit used instead on ngOnInit
As per #50 :)

**Demos (Angular 5):**
https://simple-keyboard.com/demo/

**Angular 7 demo**
https://codesandbox.io/s/github/simple-keyboard/angular7-simple-keyboard-demo

Thanks again!

Regards,
Francisco Hodge

[2019-02-15 14:26] #52 closed

[2019-02-16 03:17] hodgef commented on #51
Hello @ejdaly,

The unminified dist has been released as of [2.15.0](https://github.com/hodgef/simple-keyboard/releases/tag/2.15.0)!

Feel free to take a look at the non-minified files under the [`./build`](https://github.com/hodgef/simple-keyboard/tree/master/build) folder:

- [css/simple-keyboard.css](https://github.com/hodgef/simple-keyboard/blob/master/build/css/simple-keyboard.css)
- [simple-

[2019-02-16 03:17] #51 closed

[2019-02-19 13:00] jeroentradecast opened #53 "Tabbed/spatial navigation focus lost"
I'd like to use this keyboard when mouse is not available (e.g. keyboard, controller, remote control only). Im currently trying to combine this library with [this spatial navigation library](https://github.com/luke-chang/js-spatial-navigation). That works great, except onClick the key loses its focus.

I've read the source, and it doesn't look like you're rerendering the DOM every press, so do you

[2019-02-19 13:17] hodgef commented on #53
Hello @jeroentradecast,

Could you edit [this sandbox](https://codesandbox.io/s/github/hodgef/react-simple-keyboard-demos/tree/master/) as to show the issue, then provide the link?

This will make it easier to track down what's causing the issue.

I'll reopen this ticket once you provide the edited sandbox link.

Regards,
Francisco Hodge

[2019-02-19 13:31] jeroentradecast commented on #53
Hi @hodgef

[https://codesandbox.io/s/nrqo8l4noj](https://codesandbox.io/s/nrqo8l4noj) here's the sandbox. I've only added some css though.

To reproduce:
Focus the sandbox. Press tab multiple times until it focuses a button (red background). Click enter, which will activate one of the keyboard keys but it'll reset the focussed element. *Something* happens which unfocuses/blurs the key.

[2019-02-19 14:13] jeroentradecast commented on #53
Small update, this does not happen in the non-React version with the following settings
[code]
When I use Chrome devtools in the React version, tab to a button and press enter, it does seem like the full keyboard gets re-rendered by the way. Chrome devtools "unfolds" the keyboard DOM, which afaik means there's a full rerender from scratch.

[2019-02-19 14:18] hodgef commented on #53
Yup I noticed by adding the `onRender` method.
https://codesandbox.io/s/lp65o572pq

Seems to be an instance of:
https://franciscohodge.com/projects/react-simple-keyboard/qa-use-cases/#avoid-unintentional-rendering

I'll come back shortly with a fixed version of the sandbox you've provided.

[2019-02-19 14:27] jeroentradecast commented on #53
Ah allright, thanks!

[2019-02-19 14:29] hodgef commented on #53
Indeed! The issue was the re-rendering caused by onChangeInput's call to this.setState.

Fixed here:
https://codesandbox.io/s/github/simple-keyboard/react-simple-keyboard-github-is-53/tree/master/

The permanent fix to this issue would be to change the demos, but I'm afraid that will make them more difficult to follow (telling people to add keyboard wrapper and whatnot, most users won't need it).

[2019-02-19 14:29] #53 closed

[2019-02-19 15:10] jeroentradecast commented on #53
Yeah, got it. This probably isn't a usecase a lot of people are going to have.

So, if you're interested, [here's](https://codesandbox.io/s/81mk6qm5l2) what I was going for, with spatial-navigation.js hacked in. I'm very, very happy this works so well!
I've been using terrible and device-specific code to control badly performing native onscreen keyboards for Smart TVs (samsung, lg, etc). Your libr

[2019-02-19 15:41] hodgef commented on #53
Very nice! Thanks for sharing. I definitely see the use case there. I had coded a module like this a bit ago (not sure if it works on react though), but this looks definitely cleaner. Feel free to take a look at the module:

Sandbox:
https://codesandbox.io/s/zx58y62xwm

Usage:
https://github.com/hodgef/simple-keyboard-key-navigation

Cheers,
Francisco Hodge

[2019-02-22 11:02] pevgeniev opened #54 "Cursor position in Edge browser for a touch screen device"
**Simple-keyboard version**
2.15.2

**Describe the bug**
On a touch device in Edge browser, there is an issue with synchronizing the caret position. The problem is that Edge doesn't seem to allow placing the caret by clicking somewhere within the bounds of the text, but allows the user to drag the caret cursor. This 'dragging' doesn't fire touchend event, so the input's cursor and virtual keyboard

[2019-02-22 12:58] isdiop opened #55 "can't delete from last character if a value exist"
Hi,
I can't delete from last character if a value exist in my input
`<input class="input" type="text" name="lastName" value="FOO" id="lastName">`
any idea ?

[2019-02-22 13:42] hodgef commented on #54
Hello @pevgeniev,

I would have to investigate this further. I should be providing an update later today. Thanks for submitting the [StackOverflow](https://stackoverflow.com/questions/54825567/edge-browser-caret-positioning-on-touch-device) issue by the way. I'll be keeping an eye on it.

Regards,
Francisco Hodge

[2019-02-22 13:45] hodgef commented on #55
Hello @isdiop,

Simple-keyboard has an internal input value and sets its caret position according to it. Therefore it doesn't really know about your input elements.

To set simple-keyboard's internal input to a default value, you can use `setInput`:
https://franciscohodge.com/projects/simple-keyboard/documentation/#setInput

Regards,
Francisco Hodge

[2019-02-22 13:45] #55 closed

[2019-02-22 13:56] pevgeniev commented on #54
@hodgef thanks for looking it up.
I've kind of worked around it for now by manually calling caretHandler from withing onKeyPress event handler (though caretHandler is private, so that might change in the API)

[2019-02-22 21:05] isdiop commented on #55
Fixed ! thx

FYI
I modified the function onKeyPress like this and it works, thx

`function onKeyPress(button) {
    console.log("Button pressed", button);

    if (button === "{bksp}")  {

        let inputId = selectedInput.replace('#','');
        let val = document.getElementById(inputId).value;

        keyboard.setInput(val,inputId);
    }
    /**
     * Shift functionality
     */
    if (bu

[2019-02-23 03:49] hodgef commented on #54
Hello @pevgeniev,

Unfortunately, I was unable to properly emulate touch functionality in Edge. Unless I get a test device, it won't be something I'll be able to reproduce and fix.

I guess for Edge in touch devices I will be recommending [disableCaretPositioning](https://simple-keyboard.com/documentation/#disableCaretPositioning) for the time being.

I'll be closing this ticket for now, but if I

[2019-02-23 03:49] #54 closed

[2019-02-24 04:38] hodgef commented on #54
Hello @pevgeniev,

I took a second look at this, as I was able to grab a friend's computer for testing. This seems to be a Edge bug. I tried just about any touch event I could think of, and still no event is fired when that selection pin is released on a touch device.

![edgebug](https://user-images.githubusercontent.com/25509135/53295155-3e024f80-37c3-11e9-8c31-c4b2a5b2c5b6.PNG)

Test sandbox: ht

[2019-03-08 17:35] omartoutounji opened #56 "Adding empty rows to layout"
**Is your feature request related to a problem? Please describe.**
I am trying to create a vertical square-like keyboard with simple-keyboard, it involves creating a lot of empty space between each letter. I want simple-keyboard to register those as empty, disabled buttons but it's registering each space as a button.

**Describe the solution you'd like**
I tried using display: { ' ':'' }. However

[2019-03-08 18:09] hodgef commented on #56
Hello @omartoutounji,

Any character between spaces (even a space between spaces), is considered a button by design.

You could create an empty button like this `{//}` (built-in) or just create a custom empty button (like `{empty}`), then give it a desired style in CSS (though [buttonTheme](https://franciscohodge.com/projects/simple-keyboard/documentation/#buttonTheme)).

I'm not completely visual

[2019-03-08 18:09] #56 closed

[2019-03-08 18:26] omartoutounji commented on #56
Hello @hodgef,

Thank you for your prompt reply.

We are trying to create iType, a website allows you to type using your eye gaze which is tracked by your webcam. Fingers? Who needs them!

We tried 'eye-gazing' (as in typing by staring at a letter one-by-one for some time) on a QWERTY and it wasn't a pleasant experience as the letters are so close to each other. So to achieve a better user experie

[2019-03-08 18:56] hodgef commented on #56
@omartoutounji Thanks for this info. I wonder though, couldn't you achieve this behavior through CSS?

Let's say you have this default layout:
[code]
Then in CSS you'd target all the rows that are not the first nor the last one.
![image](https://user-images.githubusercontent.com/25509135/54048879-f7d8c300-41a8-11e9-8be2-14843301c9e1.png)

Perhaps like this
[code]

Here's a sandbox:
https://codesan

[2019-03-11 16:32] digilab2017 opened #57 "Angular tests fail: Error: KEYBOARD_DOM_ERROR"
Hi,
the simple keyboard works very good, but unfortunately now all tests of components that use it fail like this:

WARN: '".simple-keyboard" was not found in the DOM.'
HeadlessChrome 72.0.3626 (Mac OS X 10.14.3) RegistrationComponent should create FAILED
	Error: KEYBOARD_DOM_ERROR

Is there a good solution to this?

[2019-03-11 16:37] hodgef commented on #57
@digilab2017

`KEYBOARD_DOM_ERROR` means that `<div class="simple-keyboard"></div>` was not found in the dom at instantiation.

To make the error go away, simple-keyboard needs to find that element when it's run.
https://github.com/hodgef/simple-keyboard/blob/master/src/lib/components/Keyboard.js#L115

You can have a look at my unit tests here:
https://github.com/hodgef/simple-keyboard/blob/master

[2019-03-11 16:37] #57 closed

[2019-03-11 16:46] digilab2017 commented on #57
Adding that code into the beforeEach of the failing component test fixed it. Thanks

[2019-03-14 21:46] evertfreit77 opened #58 "Long press implementation for keyboards with special characters"
@hodgef
Can this be done only with the features of that application? If yes, what would the implementation be like?
I need 'ç' or 'à' type characters when I click on a button, similar to what is done on Google Keyboard.
Tnks!

[2019-03-14 22:54] hodgef commented on #58
Hello @evertfreit77,

This feature is not available out of the box unfortunately. It can be done custom however.

If you want to implement something like this, you could create a [simple-keyboard module](https://franciscohodge.com/projects/simple-keyboard/modules/) that would override the [`handleButtonHold`](https://github.com/hodgef/simple-keyboard/blob/master/src/lib/components/Keyboard.js#L277

[2019-03-14 22:54] #58 closed

[2019-03-27 00:26] jhepam opened #59 "cursor position"
**Simple-keyboard version**
`"react-simple-keyboard": "^1.21.2"`

**Describe the bug**
I have added logic to keep track of cursor position. This works fine. But have two problems.

1. if you use the js keyboard to type `abc` and move the cursor to be behind `a`. Click `backspace`. The cursor is moved to the back of `bc`. This is the expected behaviour.  Now any input from the js keyboard is still

[2019-03-27 01:39] hodgef commented on #59
Hello @jhepam,

I don't think item 1 is a bug. If I understood your example correctly:

1. You have `abc` as input -> `abc|` (internal simple-keyboard caret is set to null)
2. You place the cursor between `a` and `b`  -> `a|bc` (internal simple-keyboard caret is set to 1)
3. You hit backspace -> `|bc` (internal simple-keyboard caret is set to 0)
4. You type 1 -> `1|bc` (internal simple-keyboard ca

[2019-03-27 01:39] #59 closed

[2019-03-27 03:31] jhepam commented on #59
Thank you. All good. One more question. In the unit test, how do I access the `keyboard` to change the `carePosition`?

[2019-03-27 03:40] hodgef commented on #59
Hello @jhepam,

In Jest, I would get the keyboard's internal caret position like so:
`wrapper.instance().keyboard.caretPosition`

Here's a similar example:
https://github.com/hodgef/react-simple-keyboard/blob/master/src/lib/components/tests/Keyboard.test.js#L35

Regards,
Francisco Hodge

[2019-03-27 04:11] jhepam commented on #59
Thank you!

On Wed, 27 Mar 2019 at 14:40, Francisco Hodge <notifications@github.com>
wrote:

[2019-04-08 22:01] paraviz02 opened #60 "Keyboard numbers vs. number pad numbers"
Hello, we have a "PIN pad" and are trying to figure out how we can map the normal keyboard number keys and the number pad keys together so that they will both highlight the same simple-keyboard key.

For example, if we use the {numpad1} key in simple-keyboard, it only highlights when using the number pad key, but not the "1" key on the keyboard.  And vice versa, if we use the 1 key, only the "1" k

[2019-04-08 22:08] hodgef commented on #60
Hello @paraviz02,

Are you implementing this in vanilla JS, or is it Angular or Vue?

Also, are you using this kind of set-up?
https:///simple-keyboard.com/demo/#fullkeyboard

[2019-04-08 22:14] paraviz02 commented on #60
Hello @hodgef - thanks for the super-quick reply!

We're using vanilla JS, with jQuery. Attached is an image of the way we have styled the number pad.

The layout is:
`layout:{[ "{numpad1} {numpad2} {numpad3}", "{numpad4} {numpad5} {numpad6}", "{numpad7} {numpad8} {numpad9}", "▼ {numpad0} {bksp}" ]}`

Hopefully I'm missing something very obvious. Beautiful keyboard, by the way.
![Screen Shot 2019-

[2019-04-08 22:47] hodgef commented on #60
Hey @paraviz02,

Unfortunately this use-case is not supported out of the box, so instead of `physicalKeyboardHighlight` I believe the feature would have to be custom.

Luckily I had done custom highlighting of the keys before. Here's an implementation resembling your use-case:

https://codesandbox.io/s/github/simple-keyboard/simple-keyboard-custom-highlight-button/tree/master/

Hope that helps! If

[2019-04-08 22:47] #60 closed

[2019-04-08 22:49] paraviz02 commented on #60
Awesome, I will check that out. Thanks Fernando. Cheers!

[2019-04-09 22:32] RedStarThrower opened #61 "KeyboardLayoutObject type not allowing custom layouts"
**Simple-keyboard version**
2.20.3

**Describe the bug**
In your [demo example](https://codesandbox.io/s/github/hodgef/simple-keyboard-js-demos/tree/mobile/), you add a custom layout name to the layout object. However, the interface does not support it, and is impossible to extend, as it is not exported.

[code]
Perhaps it should be like this?

[code]

[2019-04-09 23:44] hodgef commented on #61
Hello @RedStarThrower,

Thanks for reporting this issue! This will be fixed shortly.

Regards,
Francisco Hodge

[2019-04-10 00:46] hodgef commented on #61
Hello @RedStarThrower,

A fixed version (simple-keyboard `2.20.4`) has been released. Feel free to try it out!

Thank you,
Francisco Hodge

[2019-04-10 00:46] #61 closed

[2019-04-10 10:17] tjadea opened #62 "Input isnt validated in Angular forms"
**Simple-keyboard version**
Running 2.20.3

I have noticed that when using Angular form validation that even though the input does show (visually), the form.controls value and Angular validation (like ng-invalid if a field is set to required) do not update.

If you type into an input with the virtual keyboard and inspect the element the ng-reflect-model doesnt update.

This can be replicated withi

[2019-04-10 12:24] hodgef commented on #62
Hello @tjadea,

Generally for these kind of use-cases I ask people to provide a sandbox example showing the issue. Could you please edit the following demo as to show the problem, and provide the new link?

https://codesandbox.io/s/github/hodgef/angular-simple-keyboard/tree/master/?module=%2Fsrc%2Fapp%2Fapp.component.ts

I'll reopen the ticket once that's done.

Best,
Francisco Hodge

[2019-04-10 12:24] #62 closed

[2019-04-10 15:33] RedStarThrower commented on #61
Worked like a charm; thank you for the awesomely quick fix and release!

[2019-04-17 04:49] hupptechnologies opened #63 "Customization of keyboard buttons spacing and large space button"
**Is your feature request related to a problem? Please describe.**
No, i want customize the layout of keyboard [Angular].

**Describe the solution you'd like**
I want to achieve keyboard same attached image below.

**Describe alternatives you've considered**
I can change button style by myself but problem is i want larger width space button and other key buttons height and width should be same and

[2019-04-17 13:33] hodgef commented on #63
Hello @hupptechnologies,

A couple observations:

- If your theme is very different from the default, it might be easier to set your own theme instead of overriding the default one:
https://simple-keyboard.com/documentation/#theme

- If you would like a subset of buttons in your row to have a different styling, you can use button grouping:
https://simple-keyboard.com/qa-use-cases/#button-container

[2019-04-17 13:33] #63 closed

[2019-04-18 09:21] LakeQueen opened #64 "Backspace button is bugged when switching focus with javascript .focus() method"
**Simple-keyboard version**
Latest build from the CDN.

**Describe the bug**
The backspace button doesn't work if input focus is changed by JavaScript. It still works if the input is focused by a mouse click though.
Demo: https://codesandbox.io/s/3y2r1lzlpq

[2019-04-18 13:45] hupptechnologies commented on #63
@hodgef  Thank you so much. 😊 🙏

[2019-04-18 14:25] hodgef commented on #64
Hello @LakeQueen,

Thanks for reporting this issue. Ideally when the `inputName` option is changed, the internal caret position should be reset. However it was not.

This has been fixed as of `simple-keyboard@2.20.8`. Feel free to try it out and let me know if you're still having the problem.

Regards,
Francisco Hodge

[2019-04-18 14:25] #64 closed

[2019-04-27 18:26] hodgef opened #65 "syncInstanceInputs caret position seems to be bugged after #64."
Renders full keyboard demo unusable. Will release fix asap.

[2019-04-27 18:37] #65 closed

[2019-04-28 00:47] hodgef opened #66 "2.21.0"

[2019-04-28 02:35] hodgef commented on #66
Done - https://github.com/hodgef/simple-keyboard/commit/e88d0fdb12d567d11ebb64328f40f9aaa45e3478

[2019-04-28 02:35] #66 closed

[2019-05-02 15:07] leandrosouza0786 opened #67 "How i can use with angular 7 version?"
Hey, can i use that keyboard with angular 7 version or  do you have in that version? the projet i start not work version 5.2 =/

Excellent work!

[2019-05-02 15:29] hodgef commented on #67
Hello @leandrosouza0786,

Check out this Angular 7 demo:
https://codesandbox.io/s/github/simple-keyboard/angular7-simple-keyboard-demo

Let me know if you run into any issues!

Regards,
Francisco Hodge

[2019-05-02 15:29] #67 closed

[2019-05-16 12:43] neXorianus opened #68 "[TS] Property 'shift' of type 'string[] | undefined' is not assignable to string index type 'string[]"
**Simple-keyboard version**
"version": "2.21.1",

**Describe the bug**
Getting type-error in a typescript environment:
[code]
making shift not optional removes the error - but I don't know if this is the best or even correct way to go.

[2019-05-16 12:59] hodgef commented on #68
Hello @neXorianus ,

Could you elaborate on what is triggering that error? I can see the Angular typescript demo working well here: https://codesandbox.io/s/y5pkc

A code sample, repo or sandbox would help! I'll reopen once that's provided.

Regards,
Francisco Hodge

[2019-05-16 13:09] neXorianus commented on #68
I'm using the repo with a vue-cli3 with typescript installation.
A simple `yarn serve|build` brings up the error.
I try to create a test repo for you, but that might need to wait until next week.

[2019-05-16 13:11] hodgef commented on #68
Thanks for the details, those steps to reproduce should enough. I'll take a look and update the ticket soon.

[2019-05-16 13:19] neXorianus commented on #68
reproduce:

`vue create temp_app`
choose
[code]
then `cd tmp_app && yarn add simple-keyboard`
then add `import Keyboard from 'simple-keyboard';` to `src/views/Home.vue`
results in Type error

[2019-05-16 23:37] hodgef commented on #68
Hello @neXorianus,

This should be fixed as of 2.21.2, please feel free to update and try it out.

Sadly though, it involves setting the type to `any` temporarily, as I didn't find a better way to get rid of the error. If you come across a better solution please feel free to share it and I will update the types.

Commit: https://github.com/hodgef/simple-keyboard/commit/a0c24db9d24c49ee57aae56a8ce2

[2019-05-16 23:37] #68 closed

[2019-05-22 09:27] maxfahl opened #79 "Touch down makes input loose focus"
**Simple-keyboard version**
2.21.0

**Describe the bug**
When using the preventMouseDownDefault property together with useTouchEvents, the input field looses focus when typing on the keyboard. I've attached listeners for focus and blur on my input to toggle visibility of the keyboard. Whenever the textfield looses focus the keyboard hides. It works as expected works correctly with mouse events.

[2019-05-22 21:11] hodgef commented on #79
Hello @maxfahl,

I was not able to reproduce the issue on Chrome emulator nor on an Android tablet.  [Here's the sandbox I used to debug.](https://codesandbox.io/s/simplekeyboardnpmdemos-pjek0)

However, I did notice the input losing focus when tapping *between* the keys (on Android). Could you confirm if this is the issue you're experiencing?

Also, if you could provide a bit more specifics it wo

[2019-05-22 21:11] #79 closed

[2019-05-24 16:30] Dunos opened #80 "Input value not visible when text is longer than the element width"
**Simple-keyboard version**
2.21.0

**Describe the bug**
When typing some long content inside a small input field, once the input is full with content for the current width, you cannot see what you are typing. The expected behaviour should be like the normal input where the text scrolls once you reach the end on the field so you can actually see the characters you type in.

I made an example code

[2019-05-24 16:55] hodgef commented on #80
Hello @Dunos,

If you have a small input element and run :

`input.value = "a very long string................."`,

You'll notice that the browser won't scroll to the end of that inserted string. This is the standard browser behavior, not something simple-keyboard is causing.

I agree that it would be nice for the browser to automatically scroll when a string is inserted through JS to an input, bu

[2019-05-24 16:55] #80 closed

[2019-05-28 22:56] rodrifmed opened #89 "Problem to run angular project with simple-keyboard"
What I did was execute "npm install simple-keyboard --save"

and after I ran my app I received this erro:

[2019-05-28 23:08] hodgef commented on #89
Hello @rodrifmed ,

I'll do a fresh install from `angular-cli` and try to reproduce the issue. I'll update this in a bit.

Regards,
Francisco Hodge

[2019-05-28 23:19] hodgef commented on #89
Hello @rodrifmed ,

I was not able to reproduce the issue on a fresh Angular 8 install. This specific issue seems to be related to your project setup. I'd recommend heading over to the angular-cli page and getting a fresh install.

https://cli.angular.io/

![image](https://user-images.githubusercontent.com/25509135/58518445-40d35e80-817d-11e9-9dac-684a973d8470.png)

Regards,
Francisco Hodge

[2019-05-28 23:19] #89 closed

[2019-05-28 23:48] rodrifmed commented on #89
Hi Francesco,

I`m using webpack, maybe this is the problem with your lib?

regards,

Rodrigo Medeiros

On Tue, May 28, 2019 at 4:19 PM Francisco Hodge <notifications@github.com>
wrote:

[2019-05-28 23:51] rodrifmed commented on #89
Hi Francesco,

It is my fault I was importing a wrong lib

thanks for your fast reply!

regards,

Rodrigo Medeiros

On Tue, May 28, 2019 at 4:48 PM Rodrigo Felizola Medeiros <
rodrifmed@gmail.com> wrote:

[2019-05-28 23:52] hodgef commented on #89
Glad to hear that it works now! Feel free to reach out if you have any other issues :)

[2019-05-29 02:18] tehChromic opened #90 "Phystical Keyboard input for Arabic layout"
Hi,
I am having an issue which is that I would like to be able to type on my physical keyboard and have the keys trigger click events on the virtual keyboard - this is for typing on an american keyboard and having the input field be in Arabic.

I've found the physicalKeyboardHighlight and actually it doesn't seem to highlight any of my letter keys (using Chrome on Linux). I've also found the physi

[2019-05-29 02:39] hodgef commented on #90
Hello @tehChromic,

It's really hard to actually debug your specific issue without a reproducible example. If you could visit the [demos page](https://franciscohodge.com/projects/simple-keyboard/demo-showcase/), edit one of the demos as to show the issue and share the link, then I'd definitely take a look.

Also, one way to check if `physicalKeyboardHighlight` is globally broken for your OS/Browse

[2019-05-29 20:58] tehChromic commented on #90
Thanks for prompt reply and direction Francisco!

I've dug in and discovered that my physical keyboard words as expected in the demo. However I've found that using 'arabic' layout causes the issue - the physical keyboard produces no response in the simplekeyboard and the input produces english letters. Here are the only pieces of code I've changed from the demo:

[code]

[2019-05-29 21:13] hodgef commented on #90
Hello @tehChromic,

Thanks for the follow up, although I'm a bit unsure of what you're trying to achieve.

If you have a QWERTY physical keyboard and simple-keyboard set up with an Arabic layout, then physicalKeyboardLayout won't highlight any Arabic keys.

For instance, when you hit the "q" key in your physical keyboard, no key will be highlighted in simple-keyboard as the key "q" won't exist in

[2019-05-29 21:19] tehChromic commented on #90
Francisco,

I see. What you are saying is that physical keyboard maps to the virtual key value, where I am looking for keys to map to virtual key position or index. The use case is a language learning application, and the idea is that the user can get used to typing their querty keyboard and have the virtual keyboard act as a kind of visual superimposition, so that the student can get physical sen

[2019-05-29 21:27] hodgef commented on #90
@tehChromic,

Thank you for the clarification, I understand now :)

I think this would have to be done through custom highlighting. I'll try something out and report back shortly.

[2019-05-29 22:21] hodgef commented on #90
Hello @tehChromic,

Here's a very rough attempt:

https://codesandbox.io/s/simplekeyboardlayoutsdemonpm-vu38i

It basically grabs the position of the pressed button (within a qwerty layout) then goes and highlights the button at that position in simple-keyboard.

I did this as fast as possible, so the code is not very good (especially the throw in getLayoutKeyIndex).
 However I hope it helps.

Reg

[2019-06-01 00:37] tehChromic commented on #90
Francisco,
Thanks so much for the incredible and prompt solution!

The solution you provided is working perfectly on my machine, and agreed it
seems a bit complex, but that's to be expected given that it's a quick hack
to get behavior that was not intended originally.

However I hope you can appreciate that the use case is valuable. Here's a
Pen of my rewrite of your code to better meet my needs:

[2019-06-01 23:30] hodgef commented on #90
Hello @tehChromic,

Here's an improved version of my example, using the layouts from [`simple-keyboard-layouts`](https://github.com/hodgef/simple-keyboard-layouts) and set up as a [simple-keyboard module](https://franciscohodge.com/projects/simple-keyboard/modules/).

https://codesandbox.io/s/github/simple-keyboard/simple-keyboard-layouts-key-mapping-module-sample/tree/master/

Hope that helps!

R

[2019-06-02 04:16] tehChromic commented on #90
Francisco,
This works like an absolute charm and you are amazing. One small detail,
using your example, shift key toggles shift mode, but the mapping does not
exist in shift mode. Is this intentional, or an option of the module or
something like that?

Cheers,
Christian

On Sat, Jun 1, 2019 at 4:30 PM Francisco Hodge <notifications@github.com>
wrote:

[2019-06-02 04:38] hodgef commented on #90
Hello @tehChromic,

Thanks! Mappings in shift seem to be working. You basically have to hold down shift then press the desired button. The example is a bit barebones and quickly put together though, so it won't cover all bases (e.g.: There will be bugs). I hope however that you can take that and turn it into how you want it to work.

Regards,
Francisco Hodge

[2019-06-02 06:04] tehChromic commented on #90
Ah OK, I skipped a step in that case: for some reason when I hit shift in
either your demo or my client code, the shift acts a bit like a caps lock:
the keys are shifted permanently until I hit shift again. In the shifted
state there is no key mapping going on after the shift key is released,
however if I hit a second key after the shift is pressed, it does indeed
map highlight. However once relea

[2019-06-02 06:10] hodgef commented on #90
Indeed this releasing shift behavior would need to be made custom. This and some other custom approaches are explored in this [test sandbox](https://codesandbox.io/s/n5mllkkmyl).

Regards,
Francisco Hodge

[2019-06-02 06:16] tehChromic commented on #90
Gotcha, OK.

I have one more question which I don't see in the docs or console logging
the keyboard instance: suppose I want to destroy the instance, because I am
using components with routing and only need one instance of the keyboard at
a time, but may need another route to display no keyboard or may need to
re-instantiate, maybe with a different target or source language. Is the
way to do this

[2019-06-02 06:30] hodgef commented on #90
That is something that totally flew under my radar, thanks for bringing it up! I'll ship this asap and update this ticket.

Thanks,
Francisco Hodge

[2019-06-02 07:27] hodgef commented on #90
Hey @tehChromic,

The method `destroy` is now available as of version 2.22.0:
https://github.com/hodgef/simple-keyboard/releases/tag/2.22.0

Regards,
Francisco Hodge

[2019-06-02 07:27] #90 closed

[2019-06-02 19:43] tehChromic commented on #90
Wow, do you sleep?! Awesome.

On Sun, Jun 2, 2019, 12:27 AM Francisco Hodge <notifications@github.com>
wrote:

[2019-06-02 19:53] tehChromic commented on #90
Ug, sorry to be a pain, I've got 2.22.0 in npm and cdn and neither has a
destroy method on the instance ... I'm using exactly like in the docs ..
what am I doing wrong?

Thanks!
Christian

On Sun, Jun 2, 2019 at 12:43 PM Christian Coulon <christianco@gmail.com>
wrote:

[2019-06-02 19:53] tehChromic commented on #90
NM, weird cache build issue, all good!

On Sun, Jun 2, 2019 at 12:52 PM Christian Coulon <christianco@gmail.com>
wrote:

[2019-06-05 12:28] Dante-dan opened #95 "Add Chinese mode with pinyin"
**Is your feature request related to a problem? Please describe.**
I can't add some Chinese words

**Describe the solution you'd like**
Add the options to choose the words or phrase.

**Describe alternatives you've considered**
no

**Additional context**
no

[2019-06-05 12:33] hodgef commented on #95
@Dante-dan ,

This option is called `layouts` and can be found at the beginning of the docs.
https://simple-keyboard.com/documentation/

Regards,
Francisco Hodge

[2019-06-05 12:33] #95 closed

[2019-06-05 15:41] sofiaps opened #100 "Prevent multiple events from firing on key press"
Hello there! Is there a way to prevent events from firing multiple times on key-down? Thank you in advance!

[2019-06-05 15:45] hodgef commented on #100
Hello @sofiaps,

Could you provide an example of this happening? Are you able to reproduce this issue here?
https://codesandbox.io/s/simplekeyboardnpmdemos-f7yx8

Will reopen once I get more info.

Regards,
Francisco Hodge

[2019-06-05 15:52] sofiaps commented on #100
@hodgef thank you for the prompt response! For example, when I click on a button and I hold it pressed, the number/letter continues to append to the input until I release the button. Is there a way to have the button triggered just once no matter how long the button is being held down?

[2019-06-05 15:59] hodgef commented on #100
Hello @sofiaps,

Oh, that is something that is not in currently, but I can definitely release this later today.
I'll update the ticket once it's ready.

Thanks,
Francisco Hodge

[2019-06-06 02:45] hodgef commented on #100
Hello @sofiaps,

The option `disableButtonHold` is now available as of simple-keyboard 2.23.0. Feel free to try it out!

More info:
https://github.com/hodgef/simple-keyboard/releases/tag/2.23.0

Regards,
Francisco Hodge

[2019-06-06 02:45] #100 closed

[2019-06-06 18:21] sofiaps commented on #100
Hello @hodgef,

Works perfectly, thank you! :)

[2019-06-06 18:48] just10minutes opened #101 "Is it possible to use this keyboard with Nuxt?"
Hi Team,

Is there a documentation or any lead on how can we use this keyboard on Nuxt apps?

Thanks

[2019-06-06 20:36] hodgef commented on #101
Hello @just10minutes,

Unfortunately I'm not very familiar with Nuxt and haven't been able to get the data binding right.

Here's my (failing) attempt:
https://codesandbox.io/s/codesandboxnuxt-lcyot

If you're able to get it working, I would really appreciate if you could share the fix!

Here's the Vue demo for reference:
https://codesandbox.io/s/github/hodgef/vue-simple-keyboard/tree/master/

Bes

[2019-06-06 20:36] #101 closed

[2019-06-19 10:26] neXorianus commented on #100
could you please add the typing for this property?
should be as simple as `disableButtonHold: boolean;`

[2019-06-19 11:05] andrevenancio opened #113 "Keyboard integration"
It would be nice to add `keyup` even listeners for development so we can quickly type stuff without having to press it.

If you have a readOnly input field and you have `keyup` even listener on the page you still may want to have the field change by injecting the e.key onto the <Keyboard /> component. right now all logic is handled internally and the onChange event changes the input field. Would b

[2019-06-19 13:40] hodgef commented on #113
Hello @andrevenancio,

Do you mean something like this? (as in when you type, a key is pressed in simple-keyboard)

https://codesandbox.io/s/github/simple-keyboard/react-simple-keyboard-layout-keys-mapping/tree/master/

Currently there's the option `physicalKeyboardHighlight` where you'd press a key in your physical keyboard and this key would highlight in the virtual keyboard. I could add an opti

[2019-06-19 13:40] #113 closed

[2019-06-19 16:10] e404r opened #114 "keyboard layout language switcher kit for simple-keyboard"
hi, I have an idea: This is a [demo github ](https://github.com/e404r/simple-keyboard-layouts-switcher) and [full Demo ](http://djfun.space/skls/index.html)

[2019-06-19 21:53] hodgef commented on #114
Thanks a lot for this nice project @e404r,

I have included it to the following showcase:
https://franciscohodge.com/projects/simple-keyboard/implementations/

Keep up the good work !
Francisco Hodge

[2019-06-19 21:53] #114 closed

[2019-06-19 22:36] e404r commented on #114
Thank you for this project

[2019-06-20 23:33] tehChromic opened #115 "Simple Keyboard Layout Mapping Module onpointerdown is not a function"
**Simple-keyboard version**
latest

**Describe the bug**

TypeError: buttonElement.onpointerdown is not a function
Platform: safari and iOs chrome
Using simple_keyboard_layout_mapping module

**Screenshots**
<img width="1017" alt="Screen Shot 2019-06-20 at 4 30 32 PM" src="https://user-images.githubusercontent.com/1296288/59887658-125e3300-9379-11e9-973f-4e01dcf06578.png">

[2019-06-21 00:33] hodgef commented on #115
Hello @tehChromic,

Does the following example work for you in your browser/OS?
https://codesandbox.io/s/github/simple-keyboard/simple-keyboard-layouts-key-mapping-module-sample/tree/master/

If it does, it means there's something different in your implementation that is causing the issue, and I would need a sandbox demo/repro of that.

I'll close the ticket for now and reopen when I get this info

[2019-06-26 11:36] adoniskrasniqi opened #120 "VueJS incompatible"
Unable to use it on VueJS, because it does not work as a component.
Also please update ReadMe on Github, it's rather odd to read the docs on your personal page.

[2019-06-26 12:20] hodgef commented on #120
Hello @adoniskrasniqi ,

If you're looking to use someone's software instead of creating your own, and would like to request help from the author, you should at least take the effort to explain the errors you've had and what you've tried.

I've seen this project used as a component in VueJS without issue.

Regarding the readme, thanks for the suggestion, but I'll decline.

Regards,
Francisco Hodge

[2019-06-26 12:20] #120 closed

[2019-06-26 12:54] adoniskrasniqi commented on #120
**It does not work as a  component** meaning that you can not import, put it inside components object, then use it inside template as `<keyboard />`
Also if you have another item with class `simple-keyboard` inside the template, it crashes _simple keyboard_

[2019-06-26 12:59] hodgef commented on #120
Check out this example of someone using simple-keyboard as a component in Vue:

https://github.com/MaksZhukov/vue-node-etranslate/blob/994ff56162d420341b56300073d6b7f33f341522/client/src/components/VirtualKeyboard.vue

Also, if you want to have multiple instances of `simple-keyboard`, you should give them a different class, otherwise they will override each other:

https://simple-keyboard.com/qa-u

[2019-07-01 23:16] tehChromic commented on #115
Hi, thanks for prompt one and pardon slow one:

Yes it appears to be an issue in that codepen:

<img width="1280" alt="Screen Shot 2019-07-01 at 4 12 58 PM" src="https://user-images.githubusercontent.com/1296288/60471915-8622fa00-9c1b-11e9-8a46-54e478fd4e56.png">

[2019-07-02 12:32] hodgef commented on #115
Hey @tehChromic,

It seems safari doesn't support pointer events yet:
https://caniuse.com/#feat=pointer

Here's that same demo using click events:
https://codesandbox.io/s/simple-keyboard-layouts-demo-npm-m7848

Regards,
Francisco Hodge

[2019-07-02 12:32] #115 closed

[2019-07-02 14:08] tehChromic commented on #115
Thanks Francisco! I suppose I could have figured that one myself and will
try to use you less.

But question: I'm implementing your excellent keyboard for a sizeable
project and may have more issues and requests. Do you prefer I create new
issues in the tracker or use this thread? I'm not sure what's better.

Thanks,
Christian

On Tue, Jul 2, 2019, 5:32 AM Francisco Hodge <notifications@github.com

[2019-07-02 18:41] hodgef commented on #115
Hello @tehChromic ,

Glad to hear that it works!

Feel free to create new issues as needed or reach out on [discord chat here](http://franciscohodge.com/simple-keyboard/chat/join) (whatever is easier for you). I'll do my best to respond quickly.

Thank you,
Francisco Hodge

[2019-07-04 11:51] ramstein74 opened #131 "regex to force 01-123456/01"
Hello i need force the user to fill something like dd-dddddd/dd
i tried
inputPattern: {
  'default': /^\d{2}-\d{6}\/d{2}$/,
}

but it does not work.
Can you help ?

[2019-07-04 12:25] hodgef commented on #131
Hello @ramstein74,

[`inputPattern`](https://franciscohodge.com/projects/simple-keyboard/documentation/#inputPattern) tests individual keys, not the whole input. It's meant for simple checks like ensuring users only enter numbers.

In your example, when the user enters "0" in the keyboard, it will be tested against the regex `/^\d{2}-\d{6}\/\d{2}$/` and will not match.

I would suggest instead to

[2019-07-04 12:25] #131 closed

[2019-07-04 19:12] eduboxgithub opened #132 "Not rendering properly CSS in Ionic4 with Angular"
**Simple-keyboard version**
I'm using the latest version 2.23.2.

**Describe the bug**
I'm using Ionic 4 with Angular 7 to build a PWA.
I installed your great keyboard with npm and followed the Angular examples, but I'm struggling to make it work. The keyboard is instantiated, but it seems the CSS in not rendering properly or correctly loaded.

What could be breaking the CSS?

I created a simple s

[2019-07-04 19:14] hodgef commented on #132
Hello @eduboxgithub,

Have you disabled `ViewEncapsulation` like in the following demo? If not, please give it a try:
https://codesandbox.io/s/github/hodgef/angular-simple-keyboard/tree/master/?fontsize=14

Regards,
Francisco Hodge

[2019-07-04 19:14] #132 closed

[2019-07-05 08:23] eduboxgithub commented on #132
Hello @hodgef !

Thank you for your time and support.

I forgot to mention that I had tried that hypothesis, but I was getting an error when opening the application:

Error: Can not find module 'tslib'

However, after your comment, I checked the code again and noticed that the automatic import of ViewEncapsulation, performed by VSCode, pointed to another location:

**Automatic import VSCode:**
`im

[2019-07-05 12:04] hodgef commented on #132
Oh yes I had to disable VSCode's automatic imports myself because it kept adding wrong imports. Glad that you were able to get it working!

Regards,
Francisco Hodge

[2019-07-06 23:24] just10minutes commented on #120
@adoniskrasniqi were you able to make it working using component option? I am also in need of such option. Provided example is slightly advanced for me to understand. Looking for a simple solution if there is any.

Thanks.

[2019-07-08 03:24] hodgef commented on #120
Hello @just10minutes, @adoniskrasniqi,

I'm sorry for the trouble. I've updated the main VueJS demo to make it more component friendly:
[Check out the demo here](https://codesandbox.io/s/github/hodgef/vue-simple-keyboard/tree/master/?fontsize=14&module=%2Fsrc%2FApp.vue)

Regards,
Francisco Hodge

[2019-07-08 07:29] just10minutes commented on #120
@hodgef Hat's off to you for making this demo. This will really help the needy like me who is not a pro on technologies.

Thanks once again

[2019-07-12 14:09] emiljohansson opened #144 "Some event listeners are not removed on destroy"
**Simple-keyboard version**
2.23.3

**Describe the bug**
After destroying a keyboard instance, I still see some listeners attached to the `document` object and new ones are added for each instance. I believe it is coming from https://github.com/hodgef/simple-keyboard/blob/master/src/lib/services/PhysicalKeyboard.js#L33
They're anonymous so I am not able to manually remove them.

Thanks

[2019-07-12 14:18] hodgef commented on #144
Hello @emiljohansson,

You are correct, [`destroy()`](https://simple-keyboard.com/documentation/#destroy) currently only removes caret positioning events that are set [here](https://github.com/hodgef/simple-keyboard/blob/ea84c35e32a8e8a4ce031a4997bc3d67ac683f52/src/lib/components/Keyboard.js#L606). I forgot about the PhysicalKeyboard events (which are used for the [`physicalKeyboardHighlight`](htt

[2019-07-12 14:28] emiljohansson opened #145 "onKeyReleased or onKeyUp option"
**Is your feature request related to a problem? Please describe.**
It would be helpful to be able to listen when the user release a key press, similar to `onChange` and `onKeyPress`. Working with the google autocomplete api, I need to be able to re-focus the field after the user has pressed a key.

**Describe the solution you'd like**
Expose a `onKeyReleased` (or similar) in the options, like `onK

[2019-07-12 14:37] hodgef commented on #145
Hello @emiljohansson,

Just as a side note, If you want to avoid losing input focus, you can enable the option [`preventMouseDownDefault`](https://simple-keyboard.com/documentation/#preventMouseDownDefault).

Getting back on topic: I see the value in having the `onKeyReleased` feature built-in. I will implement it as part of the next minor release. Should be out by EOW or before.

Thanks !

[2019-07-12 14:57] emiljohansson commented on #145
@hodgef Thanks for the instant responses on both tickets! 💯 It's a great module, very easy to work with!

[2019-07-14 15:27] #144 closed

[2019-07-14 15:55] #145 closed

[2019-07-14 16:05] hodgef commented on #144
Hello @emiljohansson,

Sorry for the delay, I ended up taking the opportunity to do a bit of code cleanup.

As of the latest version, `destroy()` should be disposing of all event listeners set by simple-keyboard. Feel free to try it out!

Regards,
Francisco Hodge

[2019-07-14 16:10] hodgef commented on #145
Hello @emiljohansson,

`onKeyReleased` is now available as of the latest version. Feel free to update and try it out!

https://github.com/hodgef/simple-keyboard/releases/tag/2.24.0

Regards,
Francisco Hodge

[2019-07-14 16:22] mccaffreyp opened #154 "Error Loading CSS from CDN"
Getting errors loading

https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css

saying .simple-keyboard not found

due I think to the line actually being commented out

 */body,html{margin:0;padding:0}.simple-keyboard{font-family:HelveticaNeue........

[2019-07-14 16:25] hodgef commented on #154
Could you show me a screenshot of the errors? That line is not commented out, as you can see `*/` marks the end of the comment.

I'l reopen once I get this information.

Regards,
Francisco Hodge

[2019-07-14 16:25] #154 closed

[2019-07-14 21:18] emiljohansson commented on #145
@hodgef Thanks! it works as expected.

[2019-07-14 21:20] emiljohansson commented on #144
@hodgef Thank you! I don't think i see any dead listeners anymore.

[2019-07-15 22:17] bencreighton opened #155 "Input Mask Breaks"
Hi Francisco,

It looks like your latest version of simple-keyboard breaks the input mask.

-Ben

[2019-07-15 22:22] hodgef commented on #155
Hello @bencreighton,

Thanks a lot for bringing this to my attention. I'll work on a fix right away.

Regards,
Francisco Hodge

[2019-07-15 22:41] hodgef commented on #155
Hello @bencreighton,

The issue [should now be fixed](https://travis-ci.org/hodgef/simple-keyboard-input-mask/builds/559169066) as of `simple-keyboard-input-mask@2.0.1`.
Sorry for the trouble!

Regards,
Francisco Hodge

[2019-07-15 22:41] #155 closed

[2019-07-15 23:39] bencreighton commented on #155
No trouble at all.  Thanks for fixing it so quickly.

-Ben

[2019-07-17 10:20] diomed opened #156 "virtual keyboard doesnt type"
**Simple-keyboard version**
As some bugs have been addressed in later versions, please ensure you are running the latest.

**Describe the bug**
on official example, if I click letters via mouse, it types them.
but if I click on them via my keyboard, it doesn't type them.

[2019-07-17 10:22] diomed opened #157 "customization"
How to customize keyboard?

I have typical Croatian letters

č ć ž đ

that I'd like to add.
How could I add them and make them functional?

[2019-07-17 12:24] hodgef commented on #157
Hello @diomed,

You can use the `layout` option. Check out the documentation for more details:
https://simple-keyboard.com/documentation/#layout

Regards,
Francisco Hodge

[2019-07-17 12:24] #157 closed

[2019-07-17 13:03] hodgef commented on #156
Hello @diomed,

When you type on your physical keyboard, simple-keyboard won't type. That is expected behavior, as  simple-keyboard only responds to _pointer events_.

 If you want simple-keyboard to respond to _key events_, you can code this as custom functionality. For example: Here's an approach I provided for issue #90

https://codesandbox.io/s/simple-keyboard-layouts-demo-npm-4s4uv

Regards,

[2019-07-17 13:03] #156 closed

[2019-07-19 11:21] DQvsRA opened #158 "[Feature Request] Working with keyboard or remote arrow keys"
**Describe the solution you'd like**
I would like to navigate within this virtual keyboard keys using the physical keyboard arrows or remote controller keys.

[2019-07-19 12:44] hodgef commented on #158
Hello @DQvsRA,

I think the [Key Navigation module](https://franciscohodge.com/projects/simple-keyboard/demo-showcase/module-key-navigation/) is what you're looking for. Feel free to check it out.

Regards,
Francisco Hodge

[2019-07-19 12:44] #158 closed

[2019-07-22 19:55] stfnndrsn opened #171 "".simple-keyboard" was not found in the DOM."
**Simple-keyboard version**
`2.24.1`

**Describe the bug**
I tried to implement SimpleKeyboard as a component - using the code from CodeSandbox as reference.

**Screenshots**
![image](https://user-images.githubusercontent.com/28970/61660854-1d371b00-accb-11e9-9d0b-7108804bb7cc.png)

![image](https://user-images.githubusercontent.com/28970/61660890-317b1800-accb-11e9-9821-5bfabf529387.png)

**Code*

[2019-07-22 21:32] tehChromic opened #172 "Alternate Layouts with simplekeyboard_layout_mapping"
Hi Francisco,

I am building a library of modified language layouts to work with the layout mapping module you built - we need different character layout and shift keys defined.

Current issue: when I use the shift key to load the alternate layout, using your example here:
[code]
Shift itself works great but the layout mapping does not work for the shift keys unless I toLowerCase both the button k

[2019-07-22 22:31] hodgef commented on #171
Hello @stfnndrsn,

The error in question means that simple-keyboard was not able to find the DOM element _at the time of instantiation_. Meaning, when `new Keyboard(...)` was called.

I tried to reproduce this in a fresh Vue project, and did not get this error:

https://github.com/simple-keyboard/vue-simple-keyboard-test/blob/master/src/App.vue

![image](https://user-images.githubusercontent.com/2

[2019-07-22 22:31] #171 closed

[2019-07-22 23:27] hodgef commented on #172
Hello @tehChromic,

Before delving into the issue, I'd like to point out that as of `2.24.0`, `keyboard.physicalKeyboardInterface` has been renamed to `keyboard.physicalKeyboard`. If you update simple-keyboard, feel free to rename that property in your example as it's done here:

https://codesandbox.io/s/simple-keyboard-layouts-demo-npm-4s4uv

**Regarding the passing of a custom object as layout**

[2019-07-22 23:27] #172 closed

[2019-07-23 18:42] tehChromic commented on #172
Francisco,

Totally understand - you can't spend all your time on basic code that a
developer can pickup from any tutorial. In this case I did not understand
that a sourceLayout option could be a string or an object, and I probably
could have gathered that from the docs or the source code - pardon me.

However I am not sure I communicated the issue well. To be clear, the
layout mapping module will

[2019-07-23 21:08] tehChromic commented on #172
Dear Francisco,
Many pardons, but I have been working to implement as you suggested however
I may have uncovered a further bug. From your demo, simply commenting out
the module and passing these layout values produces unexpected behavior:

sourceLayout: "english",
targetLayout: "arabic" //,
//modules: [LayoutMapping]

The result ought to be an arabic keyboard, but it is english. Here is the
pen:

[2019-07-23 21:54] tehChromic commented on #172
Francisco,

One more piece of the puzzle, and thank you again for patience, but I do
think there's a bug in here somewhere:

https://codesandbox.io/s/simple-keyboard-layouts-demo-npm-9cf7d

   - An error appears when a "layout" and the module are loaded, but that
   the error disappears when a targetLayout:"arabic" is set.
   - When the module is commented out, and "targetLayout" is set in
   addi

[2019-07-23 22:54] hodgef commented on #172
Hello @tehChromic,

I'll recap:

1. The use case you're trying to accomplish is not supported by `simple-keyboard`.
2. Since this use-case is not supported, what we've done here is to create custom code.
3. This custom code was provided as a workaround you could try. It was not meant to be an extensive, bug-free, or plug-and-play solution.

[Like I said on May 29th..](https://github.com/hodgef/sim

[2019-08-11 22:05] ecin opened #196 "Allow adding custom attributes to keyboard buttons."
**Is your feature request related to a problem? Please describe.**
In order to improve screenreader pronunciation of the keyboard's keys, it'd be useful to allow setting a custom `aria-label` value on each key, e.g. `aria-label='bee'` on the `b` key.

**Describe the solution you'd like**
A possible generic solution would be to allow setting arbitrary attributes on specified keys, similar to how th

[2019-08-12 00:24] #196 closed

[2019-08-12 01:34] hodgef commented on #196
Hello @ecin,

The option `buttonAttributes` is now available of the latest versions:

- simple-keyboard `2.25.0` [(Docs)](https://simple-keyboard.com/documentation/#buttonAttributes)
- react-simple-keyboard `1.26.0` [(Docs)](https://simple-keyboard.com/react/documentation/#buttonAttributes)

Feel free to reach out if you find any issues.

Regards,
Francisco Hodge

[2019-08-12 14:47] ecin commented on #196
Wow, thanks for the super prompt response, @hodgef!

[2019-08-19 10:39] thomas3577 opened #202 "duplicate of onKeyReleased in index.d.ts"
**Simple-keyboard version**
V 2.26.1

**Describe the bug**
When building the Angular App I get the following error message:

`ERROR in ../node_modules/simple-keyboard/build/index.d.ts:150:5 - error TS2300: Duplicate identifier 'onKeyReleased'.

150     onKeyReleased?: (button: string) => any;
[code]
../node_modules/simple-keyboard/build/index.d.ts:185:5 - error TS2717: Subsequent property declarat

[2019-08-19 11:58] hodgef commented on #202
Hello @thomas3577,

Sorry about that, I'll investigate.

Regards,
Francisco Hodge

[2019-08-19 12:27] hodgef commented on #202
Hello @thomas3577 ,

I've released version `2.26.2` which should fix the issue. Feel free to update and give it a try,

Regards,
Francisco Hodge

[2019-08-19 12:27] #202 closed

[2019-08-19 16:24] thomas3577 commented on #202
Works fine with V2.26.2.
Thanks for the super fast fix :-)

[2019-08-29 12:24] itssampath opened #212 "Not Displaying in IE 11 - Even the demo page"
**Simple-keyboard version**
We tried to use Simple keyboard in Angular 8. Working fine in FireFox.

**Describe the bug**
Not Displayed in IE 11. I could see script error.
Root cause is - In index.js
(l = b.classList).add.apply(l, _toConsumableArray(t.getButtonThemeClasses(e)))
throws "Argument not optional"

**Screenshots**
Try opening demo page in IE 11. No Keyboard is displayed.

[2019-08-29 13:42] hodgef commented on #212
Hello @itssampath,

simple-keyboard does not support Internet Explorer.

In a previous demo I had the following message shown:

![image](https://user-images.githubusercontent.com/25509135/63945243-f9d95b80-ca40-11e9-84ad-712263b23ba6.png)

I will look into adding it back just as a heads up to users.

Regards,
Francisco Hodge

[2019-08-29 13:42] #212 closed

[2019-09-02 18:21] omarcostahamido opened #221 "return key?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I can't use return key - newline

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I would like to actually have a return key

**Describe alternatives you've considered**
A clear and concise

[2019-09-02 22:21] hodgef commented on #221
Hello @omarcostahamido,

To input a newline when you hit `{enter}`, you can use the `newLineOnEnter` option:

[code]
https://simple-keyboard.com/documentation/#newLineOnEnter

Regards,
Francisco Hodge

[2019-09-02 22:21] #221 closed

[2019-09-02 23:19] omarcostahamido commented on #221
terrific. thanks a lot.

[2019-09-10 08:30] cijohowsep87 opened #227 "Simple keyboard is not working in IE"
**Simple-keyboard version**
As some bugs have been addressed in later versions, please ensure you are running the latest.

**Describe the bug**
A clear and concise description of what the bug is. Providing a [sandbox example](https://codesandbox.io/s/vanilla) or code depicting the issue is important, as this will help us reproduce the issue.

**Screenshots**
If applicable, add screenshots to help

[2019-09-12 18:43] andreabisello opened #228 "i'm not able to use on a vue project"
hi,
i read https://franciscohodge.com/projects/simple-keyboard/demos/vue-basic-setup/ but i'm able to use in my vue cli project.

step

1) npm install simple-keyboard --save
2) in my component

[code]

i make the import as usual

[code]

i put in the template

[code]

error occur

![image](https://user-images.githubusercontent.com/2149815/64811660-fa740500-d59d-11e9-8dbf-34edd0f8aceb.png)

please,

[2019-09-12 18:51] #228 closed, assigned to hodgef

[2019-09-16 20:26] madhurikulkarni opened #232 "Multiple Inputs in Vue environment"
I was checking the documentation and saw that `inputName` can be used for multiple input. Could you please share a demo or some pointers, in regard with Vue.

[2019-09-17 03:03] hodgef commented on #232
Hello @madhurikulkarni,

Here's an example I just set up:

https://codesandbox.io/s/github/simple-keyboard/vue-simple-keyboard-multiple-inputs/tree/master/?fontsize=14&module=%2Fsrc%2FApp.vue

I hope it helps as a base for your implementation.

Let me know if you come across any issues.

Regards,
Francisco Hodge

[2019-09-17 03:03] #232 closed

[2019-09-17 07:21] madhurikulkarni commented on #232
Thank you for the demo .

[2019-09-17 20:19] madhurikulkarni commented on #232
Follow up to this question, I am trying to create form elements like so without the `Input.vue` component.
[code]
But every field ends up having the same value. Is it the wrong usage of `inputName`. ?

[2019-09-17 21:15] hodgef commented on #232
Hello @madhurikulkarni,

Here's an example without the input loop nor the Input component:
https://codesandbox.io/s/github/simple-keyboard/vue-simple-keyboard-multiple-inputs-example2/tree/master/?fontsize=14&module=%2Fsrc%2FApp.vue

Hope it helps!

Regards,
Francisco Hodge

[2019-09-18 23:25] niksajanjic opened #233 "Change the behavior of `inputName` and allow keyboard to be inactive"
**Is your feature request related to a problem? Please describe.**

I'm using one keyboard with all inputs in my app. I was a bit surprised when I realized that avoiding `inputName` creates `default` one for us.

For instance, let's say I have a keyboard shown constantly in my app at the bottom of the screen. In the beginning, `inputName` is `undefined` because I haven't focused any input. Once I

[2019-09-19 04:03] hodgef commented on #233
Hello @niksajanjic,

Thank you for the detailed feedback and suggestions! I'll provide some insight into some of the aspects you've mentioned.

When building simple-keyboard, the main thought was to make it **independent from input elements**. This means you could have simple-keyboard output text wherever you wanted, be it a `div`, a `span`, you name it. You can see [this in action on the intro pa

[2019-09-19 04:03] #233 closed

[2019-09-19 11:41] niksajanjic commented on #233
Hi,

Thanks for your quick response. I like another approach you proposed with CSS (didn't think about it though). In my case, we decided to show/hide keyboard so it's no longer an issue for me to make the keyboard inactive while no input is focused. I still feel it might make sense to allow inactivity by some flag, but as we can see, there are multiple different ways to get around that with very

[2019-09-23 15:19] ProggerPete opened #240 "Errors with physicalKeyboardHighlight"
**Simple-keyboard version**
Latest

**Describe the bug**
physicalKeyboardHighlight option doesn't highlight keys while shift is pressed.
https://franciscohodge.com/projects/simple-keyboard/demos/physical-keyboard-highlight-demo/

The demo generates errors in IE and fails to run.

[2019-09-23 15:53] hodgef commented on #240
Hello @ProggerPete,

Could you specify which keys? I can't seem to reproduce this here (I'm holding shift down the whole time):

https://www.loom.com/share/6f9e649cd8974b38b91f2eb182286f2c

The `physicalKeyboardHighlight` feature could be improved however. I've noted this [here](https://github.com/hodgef/simple-keyboard/projects/3#card-26802335) and will see how I can improve this feature sometime

[2019-09-23 15:53] #240 closed

[2019-09-23 16:39] ProggerPete commented on #240
Your video demonstrates exactly the problem I'm referring to.  I can see you press A several times because it shows in the input field, but not once does it highlight on the keyboard image.

When I said IE, I actually meant Edge, but possibly that's what you mean too.

[2019-09-23 16:51] hodgef commented on #240
Hello @ProggerPete,

"A" doesn't highlight since it doesn't exist on the layout ("a" is, but "a" !== "A").

Or did you mean something else?

Regards,
Francisco Hodge

[2019-09-23 16:56] ProggerPete commented on #240
Ok, I get what you're saying.  It breaks my expectations, but whether I'm a valid yard stick for general opinion is up for debate.

[2019-09-23 17:08] hodgef commented on #240
@ProggerPete,

If you find `physicalKeyboardHighlight` limiting, you can always go custom. Here's a custom implementation where the input keys are set to lowercase. It might be what you're looking to achieve:

https://codesandbox.io/s/github/simple-keyboard/simple-keyboard-custom-highlight-button-v2/tree/master/

Best,
Francisco Hodge

[2019-09-24 20:14] wolverline opened #241 "IE fails to render"
React-simple-keyboard version 2.0.4

IE 11 fails to render Keyboard object. It tosses:
SCRIPT65535: Argument not optional
index.js (788,1)

It seems this component doesn't support IE. It should have been described somewhere.

Also Backspace key still has issues.

[2019-09-24 20:39] hodgef commented on #241
Hello @wolverline,

I currently have browserlist configured to support IE 11:
[code]
https://browserl.ist/?q=%3E0.2%25%2C+not+dead%2C+not+op_mini+all

In practice though, there's always something when testing with IE. Be it webpack DevServer not working for dev, polyfills to be added, demos to be changed, etc.

It's just too much of headache to support a browser with ~2% market share (IE 11).

I'l

[2019-09-25 15:47] hodgef commented on #241
Hello @wolverline ,

I have updated the READMEs to warn about the lack of support for IE:

https://github.com/hodgef/simple-keyboard/#dart-compatibility
https://github.com/hodgef/react-simple-keyboard#dart-compatibility

I have also added targeted warnings for IE users across relevant docs and demos.

![image](https://user-images.githubusercontent.com/25509135/65616941-dc3cda80-df89-11e9-8f5e-11a1

[2019-09-25 15:47] #241 closed

[2019-09-25 20:38] mohitgir commented on #101
`<template>
  <div :class="keyboardClass" />
</template>

<script>
// import Keyboard from 'simple-keyboard'
import 'simple-keyboard/build/css/index.css'

export default {
  name: 'SimpleKeyboard',
  props: {
    keyboardClass: {
      default: 'simple-keyboard',
      type: String
    },
    // eslint-disable-next-line vue/require-default-prop
    input: {
      type: String
    }
  },
  data: ()

[2019-09-25 21:25] nashfx opened #242 "Keyboard dissapears with ngIf condition"
I'm using the keyboard exactly as the angular example (https://franciscohodge.com/projects/simple-keyboard/demos/angular-basic-setup/)

If I place an If condition to show or hide the keyboard in the **simple-keyboard** div (or above div) the keyboard just disappears

[code]

if you click the button the keyboard and the input should show/hide, but it remains disappeared

Do you have any clue why ca

[2019-09-26 05:00] hodgef commented on #242
Hey @nashfx,

What's happening is basically simple-keyboard not finding the DOM element at initialization, which results in an error:

![image](https://user-images.githubusercontent.com/25509135/65657647-4b4e1980-dff2-11e9-9649-ef7dfec39740.png)

If you set show to "true" by default, it'll work. But then when you hide and show the keyboard again, it won't show anything, because simple-keyboard wou

[2019-09-26 05:00] #242 closed

[2019-09-26 15:48] niksajanjic opened #243 "Add method to change caretPosition or update the docs"
**Is your feature request related to a problem? Please describe.**

In a way it is. Let's say we have an autocomplete component. While you type something in your input with the keyboard, the dropdown list keeps updating underneath. Once you click on one of those suggestions from the dropdown it will populate that input with a selected suggestion. I will also update the keyboard to let it know that

[2019-09-27 05:41] kevzlou7979 commented on #55
@isdiop THe code does not work as it will set the value with the current text so nothing happens.
@hodgef Is there an update on this? thanks

[2019-09-28 07:38] pastuh opened #244 "Physical input to virtual keyboard?"
**Is your feature request related to a problem? Please describe.**
If i press my keyboard, i see highlighted numbers on virtual keyboard, but i can't see updated inputs.

If i click row off numbers, i can see in console: _Key pressed: 5_
If i click numeric keypad number, i see nothing.

**Describe the solution you'd like**
I need to program every input? Or there exists some code and i missed that.

[2019-09-29 21:21] hodgef commented on #244
Hello @pastuh,

I'm not completely sure what you mean. If you are using the `physicalKeyboardHighlight` option, it will only highlight keys. It does not press them. There would need to be an extra option to press the highlighted keys, which is something I'm planning to eventually release here:

https://github.com/hodgef/simple-keyboard/projects/3#card-24458238

Please let me know if I understood t

[2019-09-29 21:21] #244 closed

[2019-09-30 21:47] jschuenke1 opened #256 "angular 7 issue"
**Simple-keyboard version**
"version": "2.26.5"

**Describe the bug**
I get an error on compile:
src/app/views/form/form.component.ts(66,34): error TS2339: Property 'onKeyPress' does not exist on type 'FormComponent'.

this occurs for this call:
  ngAfterViewInit() {
    this.keyboard = new Keyboard({
      onChange: input => this.onChange(input),
      onKeyPress: button => this.onKeyPress(button

[2019-09-30 22:06] hodgef commented on #256
Hello @jschuenke1,

Have you created the `onKeyPress` method in your component?

In [this working demo](https://codesandbox.io/s/github/hodgef/angular-simple-keyboard/tree/master/?fontsize=14&module=%2Fsrc%2Fapp%2Fapp.component.ts) (line 29) you can see `onKeyPress` being defined.

Regards,
Francisco Hodge

[2019-09-30 22:06] #256 closed

[2019-09-30 22:19] jschuenke1 commented on #256
Thanks, I missed that but have it working now!

Jeff Schuenke
Senior Director of Software Development

M: 415 601 0860<tel:(415)%20601-0860> | @: jschuenke@viscira.com
Viscira, LLC | 909 Battery Street | San Francisco, CA 94111<https://maps.google.com/?q=901+Battery+Street+%7C+San+Francisco,+CA+94111&entry=gmail&source=g>

From: Francisco Hodge <notifications@github.com>
Reply-To: hodgef/simple-ke

[2019-10-08 08:23] werewolf7160 opened #268 "jquery/js : old value in field is kept"
I have create a fiddle based on the code sandbox : [https://jsfiddle.net/werewolf7160/afxobu9c/1/](url)
In simple, if enter some text(1), clear with the button(2) and re-enter some text(3), the previous text appear as it was not deleted.
1. (clicked on 'q' and 'w')
![image](https://user-images.githubusercontent.com/31860486/66379184-4192c180-e9b5-11e9-921b-183777a95483.png)

2.
![image](https://us

[2019-10-08 08:39] werewolf7160 commented on #268
I have resolve the problem by using `SimpleKeyboardInstances.simpleKeyboard.input.default='';` after I clean my input field.

[2019-10-08 08:39] #268 closed

[2019-10-08 12:20] hodgef commented on #268
Glad you've solved it @werewolf7160!

You can also use [keyboard.clearInput()](https://simple-keyboard.com/documentation/#clearInput) to clear the internal input.

Regards,
Francisco Hodge

[2019-10-13 15:31] grimace opened #274 "Is it possible to replace the input field on the fly leaving the keyboard up"
I would like to tab through  a number of fields in a form and leave the keyboard visible, applying the keyboard to each new field as I tab.  Is that possible?

[2019-10-13 15:40] hodgef commented on #274
Hello @grimace,

To accomplish this, you can use the [`inputName`](https://simple-keyboard.com/documentation/#inputName) option. So when an input is focused, it will set that option to a value (the input's id for example).

Here's an example in vanilla js:
https://codesandbox.io/s/github/hodgef/simple-keyboard-npm-demos/tree/uc-multiple-inputs

Let me know if you have any questions!
Francisco Hodg

[2019-10-13 15:40] #274 closed

[2019-10-13 18:01] grimace commented on #274
Thanks so much!

[2019-10-14 08:24] shrsulav opened #275 "Keyboard size and font size issue"
**Simple-keyboard version**
Using CDN

**Describe the bug**
The keyboard looks very small. It was working fine in a webpage of size 800x480, but when the size is changed to 1920x1200, the keyboard size is not proper.

**Screenshots**
![kbd-bug](https://user-images.githubusercontent.com/23706555/66737658-49a6a180-ee8c-11e9-920b-a31833f9739b.JPG)

[2019-10-14 20:48] hodgef commented on #275
Hello @shrsulav,

The keyboard is responsive, so this behavior is expected. Please feel free to adjust the CSS in your project so it fits your needs.

Thanks,
Francisco Hodge

[2019-10-14 20:48] #275 closed

[2019-10-17 18:24] grimace opened #278 "I just want to make the buttons bigger. do I need a custom theme?"
also, with buttonTheme, I want to set a class.  do I have to define individual buttons?

 buttonTheme: [
        {
          class: "my-button",
          buttons: "{enter} {bksp} q Q"  <---  do I have to do this?
        },

[2019-10-17 22:31] hodgef commented on #278
Hello @grimace ,

Indeed! That's how it's done :)

Regards,
Francisco Hodge

[2019-10-17 22:48] #278 closed

[2019-10-30 19:19] tehChromic opened #286 "module listeners still active after keyboard destroy"
2.26.17

Event listeners within a module are still attached after keyboard is destroyed.

To replicate use the physical keyboard after the simple-keyboard is destroyed and watch the console - I have added a keyboard.destroy() call after one second:

https://codesandbox.io/s/simple-keyboard-layouts-demo-npm-ogbut

[2019-10-30 20:03] hodgef commented on #286
Hello @tehChromic,

`destroy` only removes the listeners set by the main simple-keyboard process. Any given module would need to implement their own destruction method (or override the default one) depending on what it does, if it sets any listeners, etc.

I will add a note in the `destroy` docs shortly to clarify this.

Thanks!
Francisco Hodge

[2019-10-30 20:03] #286 closed

[2019-10-30 22:04] tehChromic commented on #286
Ah makes perfect sense, thanks!

[2019-11-05 06:31] AmanChhabra-A746623 commented on #62
once I give fix value to "value" variable, backspace does not work and on clicking any key it starts new input. Ideally it should continue to add input after value which is given in input.

e.g I assigned value="abcd";

why is it so?

[2019-11-05 12:57] hodgef commented on #62
Hello @AmanChhabra-A746623,

You need to update the internal simple-keyboard input with your default value. To do that, check out `setInput`.

https://simple-keyboard.com/documentation/#setInput

Regards,
Francisco Hodge

[2019-11-07 12:39] mmben opened #294 "Keyboard stays in memory"
**Simple-keyboard version**
2.26.24

**Describe the bug**
I can't get the keyboard instance out of memory. I noticed 2 possible issues:

1. Simple-Keyboard-Instances in the window are never removed.
If you check line 132 of the keyboard class, the instance is added to the window.
`window["SimpleKeyboardInstances"][
      this.utilities.camelCase(this.keyboardDOMClass)
    ] = this;`
But I can't se

[2019-11-07 13:59] hodgef commented on #294
Hello @mmben,

Thanks for the detailed report. Indeed, simple-keyboard only removes the listeners that are set [here](https://github.com/hodgef/simple-keyboard/blob/6fe56c3abc4f7843926ea417bda5ffae02318959/src/lib/components/Keyboard.js#L632).

I will release a fix tackling the issue this evening. I'll keep you posted!

Thanks,
Francisco Hodge

[2019-11-07 16:39] hodgef commented on #294
Hello @mmben,

I have pushed [this commit](https://github.com/hodgef/simple-keyboard/commit/d92f84f5c3aac250b382775ab3e0bdb00ab2c2c2) which should improve garbage collection.

You can try it out by updating to `simple-keyboard@latest`.

Feel free to reach out if you find any issues.

Thanks!
Francisco Hodge

[2019-11-07 16:42] mmben commented on #294
Wow! Your dedication and response time is really awesome! Thank you so much. I will try it out right away.

[2019-11-07 17:04] mmben commented on #294
And yes, I can confirm that none of my objects are retained in memory anymore after using your update. Awesome work. Thanks again.

[2019-11-07 17:05] hodgef commented on #294
Glad to hear! Thanks again for reporting this 🎉

[2019-11-10 14:49] saic77 opened #295 "If keyboard already has input value. Backspace key doesn't work and keyboard entirely starts new input on pressing any key"
Simple-keyboard version:: 2.26.20

Description-

If keyboard already has value. Following things happen:

1) Backspace doesn't work.
2) If user presses any key it starts new input instead of appending to existing input.

Sandbox link-

https://codesandbox.io/s/github/hodgef/angular-simple-keyboard/tree/master/?module=%2Fsrc%2Fapp%2Fapp.component.ts

Assign any input to "value" variable and issue w

[2019-11-10 15:02] hodgef commented on #295
Hello @saic77,

If you want to set simple-keyboard's input to a value, you can use `this.keyboard.setInput("My Value")`

https://simple-keyboard.com/documentation/#setInput

Thanks,
Francisco Hodge

[2019-11-10 15:02] #295 closed

[2019-11-10 15:16] saic77 commented on #295
Above sandbox link already have setInput method but issue is still there. How to use this method?

[2019-11-10 15:38] saic77 opened #296 "How to get cursor position in simple keyboard"
Is there is any way to get cursor position in simple keyboard?
Didn't found one in documentation

[2019-11-10 19:39] hodgef commented on #295
Hello @saic77,

I don't get what's the issue with that sandbox. Backspace is working in there and if you type and tap simple-keyboard's keys, the input is appended.

Now, if you edit that sandbox and change the input value, then that value will be out of sync with simple-keyboard. So to put them in sync, you need to *also* call `setInput`.

So any time you change the input value outside simple-key

[2019-11-10 19:54] hodgef commented on #296
Hello @saic77,

There's `keyboard.getCaretPosition()` but it's an internal method for which there are no types declared.

I'll track this issue [here](https://github.com/hodgef/simple-keyboard/projects/3#card-29001234) so it can be included in a future release.

Thanks,
Francisco Hodge

[2019-11-10 19:54] #296 closed

[2019-11-13 08:36] mmben commented on #294
The fix for this bug contains a subtle difference in behavior.
When creating the keyboard, you can pass the class-name of an element that should host the keyboard.
Before the fix for this bug, the keyboard would leave this element alone when destroying the keyboard. So creating and destroying the keyboard could be done repeatedly.
After the fix, this might not work anymore, since the keyboard will

[2019-11-13 11:59] #294 closed

[2019-11-13 12:03] hodgef commented on #294
Hello @mmben,

Sorry about that. I've pushed https://github.com/hodgef/simple-keyboard/commit/c36acbb5f6a5ffd8995eb885ca3dfc9df44be350 which should fix this. It's now released under version 2.27.4.

Regards,
Francisco Hodge

[2019-11-18 11:15] gre0071 opened #305 "Build error / error file does not exist"
**Current version 2.27.10 - does not exist:**
/node_modules/simple-keyboard/build/css/**simple-keyboard.css**
/node_modules/simple-keyboard/build/**simple-keyboard.js**

**Version 2.25.3 - is correct**

[2019-11-18 12:20] hodgef commented on #305
Hello @gre0071,

The unminified sources have been removed as of version 2.26.0:

https://github.com/hodgef/simple-keyboard/releases/tag/2.26.0

You can use these assets instead:

JS: `https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.js`
CSS: `https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css`

Regards,
Francisco Hodge

[2019-11-18 12:20] #305 closed

[2019-11-20 21:42] brad-niksa opened #306 "No Option for stopMouseDownPropagation"
v2.27.10

Looking in the index.d.ts file, I see no reference to stopMouseDownPropagation, its an easy fix on my end, but thought I would let you know.

[2019-11-20 22:01] hodgef commented on #306
Thanks for reporting this @brad-niksa,

This should be fixed per #307 and on version `2.27.11` which just got released.

Regards,
Francisco Hodge

[2019-11-20 22:01] #306 closed

[2019-11-25 21:50] Youhan opened #316 "integration with vuex"
Thanks for the nice package!

I am trying to create a keyboard for all inputs of a Vue app on different pages.
I intend to have it so that on `@focus` of an `input` the keyboard shows up.
The keyboard components will be placed at the top level of the DOM in the `layout.vue` and the methods would be handled by `Vuex`.
Is there any example fo this?

[2019-11-25 22:36] hodgef commented on #316
Hello @Youhan,

I don't have a vuex example handy. However, there's a vue example about how to handle multiple inputs with a single keyboard instance:

https://codesandbox.io/s/github/simple-keyboard/vue-simple-keyboard-multiple-inputs-example2/tree/master/?fontsize=14&hidenavigation=1&module=%2Fsrc%2FApp.vue&theme=dark

You can also check out the following Q&A entries for more info:
- [Q : How to

[2019-11-25 22:36] #316 closed

[2019-11-27 03:33] dedosmedia opened #319 "preventMouseDownDefault: true issue"
Whenever I use  preventMouseDownDefault: true I can see the caret all the time, but if at the time of writing I change the caret to the middle of the word to add some missing letters, once I press a key the caret will be placed at the end of the string although the characters will be added ad the right place.

https://codesandbox.io/s/simple-keyboard-npm-demos-7mzqe?fontsize=14&hidenavigation=1&th

[2019-11-27 03:52] hodgef commented on #319
Hello @dedosmedia,

Indeed, when the focus is kept on the input, it is necessary to adjust the element's caret position.

There's an example of caret position handling in the [`preventMouseDownDefault` docs entry](https://simple-keyboard.com/documentation/#preventMouseDownDefault). Here's the sandbox in question:

https://codesandbox.io/s/github/simple-keyboard/simple-keyboard-preventmodefault-car

[2019-11-27 03:52] #319 closed

[2019-11-27 03:56] dedosmedia commented on #319
Thanks so much for your Super Quick answer!!!.
Yes, I agree it would be useful to have this as built-in functionality. Anyway, I am going to use this workaround at this moment.

[2019-12-03 13:05] sense-it-gmbh opened #328 "`simple-keyboard` CSS-Class is not set with custom selector"
**Simple-keyboard version** 2.27.27

**Describe the bug**

[code]

[code]

The keyboard is not styled properly since the `simple-keyboard` CSS-Class is missing on the root element.

*Expected behavior:* simple-keyboard is adding the CSS-Classes required for basic functionality (`simple-keyboard`)\
*Actual behavior:* the `simple-keyboard` class is missing

EDIT: Adding the class in browser-devtools

[2019-12-03 13:42] hodgef commented on #328
Hello @sense-it-gmbh,

This is noted on the Q&A entry for "How to give a different base class to the keyboard":
https://franciscohodge.com/projects/simple-keyboard/qa-use-cases/different-base-class/

The idea behind it was to allow people to opt-out entirely from the default styles by changing classes, instead of having to override them. However I think it'll be more intuitive to add an option for

[2019-12-03 13:42] #328 closed

[2019-12-05 05:01] seAfnan opened #329 "Bootstrap Typeahead is not working with simple-keyboard, why ?"

[2019-12-05 05:24] hodgef commented on #329
Hello @seAfnan,

I think bootstrap-typeahead might be listening to the input's ["change"](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/change_event) event or something like that. In all the simple-keyboard demos, input is changed via Javascript which do not trigger any such events. These you would need to [trigger yourself](https://developer.mozilla.org/en-US/docs/Web/Guide/Events/

[2019-12-05 05:24] #329 closed

[2019-12-05 05:53] seAfnan commented on #329
@hodgef can you help in how I can trigger keyboard key when using simple-keyboard ? I just simply want to get typeahead working with simpel-keyboard. It will be a great regard.

[2019-12-05 19:53] myvictorlife opened #334 "Input Type Time"
**Simple-keyboard version**
simple-keyboard@2.27.24

**Describe the bug**
I try to use the input type ''time" but it's not working.
I receive that message:

The specified value "01:00 am" does not conform to the required format.  The format is "HH:mm", "HH:mm:ss" or "HH:mm:ss.SSS" where HH is 00-23, mm is 00-59, ss is 00-59, and SSS is 000-999.

**Screenshots**
<img width="1293" alt="bug-input-typ

[2019-12-06 00:37] hodgef commented on #334
Hello @myvictorlife,

simple-keyboard works best with inputs of "text" type, more info on why can be found here: https://github.com/hodgef/react-simple-keyboard/issues/247#issuecomment-543791385

But the main reason it doesn't work with your use-case is that simple-keyboard is not aware that you're restricting your input element. When you tap on the buttons it'll track the input internally as ente

[2019-12-06 00:37] #334 closed

[2019-12-09 16:59] flakobatako opened #340 "Change position."
Is it possible to make the keyboard fixed to the bottom (A la Windows 10/Android virtual keyboard)?

Thanks in advance.

Wonderful library!

[2019-12-09 23:51] hodgef commented on #340
Hey @flakobatako,

I'd recommend accomplishing this with CSS.

That'll give you more flexibility to achieve many use-cases, such as this one by @Youhan:

![customize](https://user-images.githubusercontent.com/25509135/70482818-95ed1700-1ab4-11ea-9da0-6b16d9c606c5.gif)

Regards,
Francisco Hodge

[2019-12-09 23:51] #340 closed

[2019-12-10 15:02] flakobatako opened #343 "Is it possible to use the virtual keyboard with an autocomplete control?"
I have this use case:

i' m trying to use the virtual keyboard with a vue-select control with AJAX autocomplete, but i can't change the text in the search box programatically, and the search don't get updated.

Is it possible or has anyone implemented this succesfully? It doesn't have to be the v-select component, any control would do, as long it has autosearch.

Thanks.

[2019-12-11 00:16] hodgef commented on #343
Hello @flakobatako, I think the maintainer of `vue-select` would be your best bet, as the unknown seems to be how to trigger vue-select programmatically.

My guess is that only internal key listeners have access to this: https://github.com/sagalbot/vue-select/blob/master/src/components/Select.vue#L27

Once we can trigger vue-select programmatically, then the rest is much easier to handle.

_______

[2019-12-11 00:16] #343 closed

[2019-12-11 00:28] flakobatako commented on #329
I believe it is in the input event, becuse the input event input triggers when we modify the input.

Look at this fiddle: https://jsfiddle.net/flakobatako/fp7x1rho/

 Right now i'm exactly in the middle of a similar requirement, so i'm gonna try this.

[2019-12-11 00:49] hodgef commented on #329
Hello guys,

@seAfnan, as linked above, you can trigger events with Javascript:
https://developer.mozilla.org/en-US/docs/Web/Guide/Events/Creating_and_triggering_events

e.g:
[code]

Simple-keyboard has a rough utility function to turn KeyboardEvents to layout buttons [(`this.keyboard.physicalKeyboard.getSimpleKeyboardLayoutKey`)](https://github.com/hodgef/simple-keyboard/blob/master/src/lib/servi

[2019-12-11 02:13] flakobatako commented on #329
Thanks i forked your codesandbox and i could so far pass the value to the autocomplete, but now we need to focus the input programatically.

But somehow don't work

So i'm assuming this soehow has to do with the component onfocus/onblur behavior.

Right now i believe it would be better if i create a custom autocomplete component.

Thanks again.

[2019-12-11 19:02] flakobatako commented on #329
@seAfnan
I managed to make it work. It feels very hacky but it works:
https://codesandbox.io/s/vue-select-comparison-phvpk

The only thing missimg is the backspace function, but sould be rather simple.

I ended using bootstrap-vue typeahead, beacuse the vue select was too much restrictive.

Thanks @hodgef for the support.

[2019-12-12 01:29] hodgef commented on #329
Hey @seAfnan,

Indeed, bootstrap-vue-typeahead looks much easier to work with.

Here's a slightly tweaked version of your example: https://codesandbox.io/s/vue-select-comparison-0umvi

Hope it helps!
Francisco Hodge

[2019-12-12 01:36] hodgef commented on #343
For anyone who finds this issue from search:

Further solutions discussed here
https://github.com/hodgef/simple-keyboard/issues/329#issuecomment-564808656

[2019-12-12 17:57] flakobatako commented on #329
Hi brother.

Thanks. It's much better.

It seems that vue-bootstrap typeahead component is deprected, they indeed mention here https://github.com/alexurquhart/vue-bootstrap-typeahead/issues/7#issuecomment-493673426 that it would be better to use the vue-simple-suggest.

I'll give it a shot, but thanks to that not mature state of the typeahead component, ironically it's much more flexible.

Thanks

[2019-12-15 18:42] flakobatako opened #348 "Custom button theme not working in vue with complex/custom buttons."
**Simple-keyboard version**
2.27.37

**Describe the bug**
I'm trying to customize my keyboard passing the following option in my VUE mounted hook.
buttonTheme: [
        {
          class: "hg-red",
          buttons: "Q q 1 {bksp} {enter} {space}"
        }
      ]

https://codesandbox.io/s/vue-layout-54b8l

The style is aplied to the Q, q and 1 keys, but is not aplied for the "named" buttons.

*

[2019-12-15 18:51] flakobatako commented on #348
Nevermind this css from the example did work:

.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: rgb(255, 0, 0, 0.7);
  color: white;
}

[2019-12-15 18:51] #348 closed

[2019-12-19 15:00] Xenoha opened #363 "Multiple Dynamic inputs using a textarea element"
**Simple-keyboard version**
As some bugs have been addressed in later versions, please ensure you are running the latest.

I am not sure if this is a bug or a poor use of your software. However, I am having trouble implementing your multiple inputs solution from the below sandbox with minor differences including textarea boxes and dynamic inputs property. Simple Keyboard version 2.27.6 | Vue versi

[2019-12-19 16:09] hodgef commented on #363
Hey, can you edit the sandbox you linked and provide the new link:
https://codesandbox.io/s/github/simple-keyboard/vue-simple-keyboard-multiple-inputs/tree/master/?fontsize=14&module=%2Fsrc%2FApp.vue

Without this repro, I'd have to recreate the sandbox from your images and that'll take time.

Best,
Francisco Hodge

[2019-12-19 18:28] Xenoha commented on #363
https://codesandbox.io/s/nervous-merkle-3dc20

https://codesandbox.io/embed/nervous-merkle-3dc20?fontsize=14&hidenavigation=1&theme=dark

I didn't bother with the keyboard CSS. The keyboard will appear at the top of the pink container, so if you want to see the box appear click the screen some where in the middle of the container.

[2019-12-20 00:45] hodgef commented on #363
Hello @Xenoha,

I think there's an issue with deep watching of objects in vue, I've seen this issue before and can't really explain why it's happening. It doesn't seem to be anything to do with simple-keyboard, as the methods that concern it are being fired.

Anyway, here's a workaround:
https://codesandbox.io/s/heuristic-voice-tdy72

Hope it helps!
Francisco Hodge

[2019-12-20 04:14] Xenoha commented on #363
I agree that there is something going on with the watchers in vue. I tried .sync as well as making them deep and immediate with no luck. Thank you for such a quick reply! As a final thought, where do you suggest I place the setInput call for when the user clicks back into the text area? In the onFocus method just take the current textarea value and set it?

[2019-12-30 11:38] fabiiomiiguel opened #372 "Update Vuejs demo showcase"
**Is your feature request related to a problem? Please describe.**
Keep input focused after click keyboard key.

**Describe the solution you'd like**
I made a Vuejs version based on yours with persistent focus on input after touch on keyboard, if you want I can pull request that. :)

**Describe alternatives you've considered**
None.

**Additional context**
No context, just thank you by this amazin

[2019-12-30 14:42] hodgef commented on #372
Hey @fabiiomiiguel ,

That would be awesome. Do feel free to create a PR / share the link here and I'll check it out :)

I'll close the ticket but tag it as follow up so I can keep track.

Best,
Francisco Hodge

[2019-12-30 14:42] #372 closed

[2019-12-30 16:49] fabiiomiiguel commented on #372
[https://codesandbox.io/embed/vue-simple-keyboard-zsrek?fontsize=14&hidenavigation=1&theme=dark](url)

Simply added onKeyReleased() and emited an event to focus the pretend input, if you want i have more code like, selection delete or replace with one charecter :)

[2019-12-30 17:09] hodgef commented on #372
Thanks for this @fabiiomiiguel ! I like this very straightforward approach.

Currently to keep the focus on the input there's the setting [`preventMouseDownDefault`](https://franciscohodge.com/projects/simple-keyboard/documentation/#preventMouseDownDefault) but if you look at the demo [here](https://franciscohodge.com/projects/simple-keyboard/demos/preventmousedowndefault-demo/) there's extra logi

[2019-12-30 17:28] fabiiomiiguel commented on #372
Sorry I forgot the caret, check it now :)

[2020-01-03 07:26] RajniPal opened #373 "onKeyPress function to be fired by pressing Enter key- requested"
Hi,

on mouse click, onkeypress function is calling. but when press enter, it does not fire.
I want to do this behavior , that when user press enter, then it's onkeypress fire. because we are devleoping application for Ada. means user just hear and perform action.

Please help as it's very urgent

**Simple-keyboard version**
As some bugs have been addressed in later versions, please ensure you are

[2020-01-03 15:12] hodgef commented on #373
Hello @RajniPal,

`onKeyPress` does fire when you click `{enter}` or any other key.

Check out this demo, and you can see the console.logs firing:
https://codesandbox.io/s/github/hodgef/simple-keyboard-npm-demos/tree/master/?from-embed

If your implementation is not behaving like this, feel free to share it with me so I can investigate.

Regards,
Francisco Hodge

[2020-01-03 15:12] #373 closed

[2020-01-03 15:22] hodgef commented on #373
Now I understand your request better. You mean "press" as in "pressing the physical keyboard key should trigger a press on the virtual keyboard". Right?

Here's how you can accomplish that:
https://codesandbox.io/s/simple-keyboard-npm-demos-ftnwi

Please refer to [the docs](https://simple-keyboard.com/documentation) for any other options you can use.

Regards,
Francisco Hodge

[2020-01-16 11:05] matths opened #391 "npm install error"
Hello,

I've just clone the repo and tried to do a `npm install`, which automatically tries to run a `node scripts/build.js`but fails with the following error:

[code]
I just want to be able to make a production ready build by myself.
Any help welcome.

Thanks, Matthias

[2020-01-16 12:43] matths commented on #391
Sorry, seems to be an issue with node version 13.1 only. Upgraded to 13.6 and it works like a charm.
I'll close the issue.

[2020-01-16 12:43] #391 closed

[2020-01-16 15:55] hodgef commented on #391
Glad that it's fixed now @matths !

Best,
Francisco Hodge

[2020-01-27 15:50] nbrignol opened #398 "Toggle layout button defined in layout"
Hi, thanks for this module !

Similar to your special `{command}` buttons, you could set a special layout toggle button that ... toggle the current layout defined in braces (or whatever).

Very handy because you can define layouts without implementing "handleShift"-like methods.

Exemple :
[code]

[2020-01-27 16:18] hodgef commented on #398
Hello @nbrignol! This is a nice proposal that would simplify the user code.

However, I think the current approach is more flexible, since it will be able to adapt to most use cases.

For example, If the user wants to do a check before changing a layout, or to call a function when a layout is changed, having a `handleShift` method would make this easier. If a layout changing key was added, there w

[2020-01-27 16:18] #398 closed

[2020-01-28 08:30] nbrignol commented on #398
Yes of course you'll have to keep the current {command} approach !
Thank you again for this keyboard.

[2020-01-29 22:50] Xenoha opened #402 "failure to load multiple keyboard instances in vuejs"
I forked your multiple input example to highlight something that I am experiences in a large application that has many components. It seems like the keyboard will only load with a single instance running on any one view. So, if I have multiple components that have different things going on in the view and want to have a keyboard for each one. It seems to not render the keyboards. Have you seen thi

[2020-01-30 02:42] hodgef commented on #402
Hello @Xenoha!

The example you've listed shows how to handle multiple inputs with a single instance. To have **multiple instances** of simple-keyboard, you'll need to give a different class to each one. Otherwise, they'll just override each other.

[Here's some demos](https://franciscohodge.com/projects/simple-keyboard/qa-use-cases/multiple-keyboard-instances/). You can use the JS one as referenc

[2020-01-30 02:42] #402 closed

[2020-01-30 04:15] JeffWinder opened #403 "Question: why doesn't hit enter in default mode go to new line?"
In default mode hit enter doesn't go to new line in the demo and in my app with an html text area. In the Apple/iOS demo it does when the return button is clicked. I'm on a Mac, just wondering if this is expected behaviour? Great lib, thanks!

[2020-01-30 04:20] hodgef commented on #403
Hello @JeffWinder,

For that functionality you need to enable the option `newLineOnEnter`.
https://simple-keyboard.com//documentation/#newLineOnEnter

Best,
Francisco Hodge

[2020-01-30 04:20] #403 closed

[2020-01-31 12:47] Xenoha commented on #402
@hodgef thanks for the examples. I was able to get it working with the provided demos! Thanks again for the assistance!

[2020-02-04 13:23] Xenoha commented on #363
@hodgef the example you provided I have implemented in my project with a tweak to allow me to better track the annotation textarea (available in the workaround you sent). The problem is that if you switch back and forth to previous boxes, the input update of the keyboard doesn't seem to track the value in the box and the backspace stops working. Am I missing a prop in the keyboard to handle the pr

[2020-02-04 23:17] hodgef commented on #363
Hello @Xenoha,

I took a look and had to comment this to get it to work:

![image](https://user-images.githubusercontent.com/25509135/73796118-625bff80-477a-11ea-90c3-e3baa7eed0e0.png)

https://codesandbox.io/s/nervous-frog-4v3mw

Hope that helps!
Francisco Hodge

[2020-02-04 23:17] #363 closed

[2020-02-05 00:51] Xenoha commented on #363
@hodgef
I would have never thought to remove setting the input to the keyboard.

I'm not entirely sure how this works, but thanks a lot for assisting!

[2020-02-05 01:00] hodgef commented on #363
Hmm, I might have to revisit the Vue demos. I added that input watcher to fix an issue, but I can't remember what. It seems not to be needed (even in the basic demo). I'll take a look, but at least I hope that the quick fix gets you going in the meantime :)

Best,
Francisco Hodge

[2020-02-05 17:42] leticia-p opened #416 "Dynamic node to insert the keyboard"
**Problem description**
I'm using v2.27.0 with Vanilla js.

I was trying to use the keyboard into an application that uses shadow DOM, and I got stuck in this problem:
![image](https://user-images.githubusercontent.com/34240738/73793941-2333ab80-4786-11ea-909f-f60e4789aece.png)
That happens because the `querySelector` doesn't get the node because of shadow DOM.

**Describe the solution you'd like*

[2020-02-07 04:58] hodgef commented on #416
Hello @leticia-p,

This feature has been released as of v2.28.0.

Some caveats though: The node must be a `div` and have a class!
**More info and usage:** https://github.com/hodgef/simple-keyboard/releases/tag/2.28.0

Note: The docs will be updated soon with this change.

Regards,
Francisco Hodge

[2020-02-07 04:58] #416 closed

[2020-02-07 13:25] FringeCoder opened #420 "Increase size of specific buttons"
![merge height](https://user-images.githubusercontent.com/5707766/74032836-36788e00-49b5-11ea-9f36-e655b3037641.png)

I would like some of the buttons to span two rows in height. In the screenshot I would like to have one button for DEL and one button for OK spanning both rows leaving the other buttons where they are. Is there a way to do this?

[2020-02-07 15:02] hodgef commented on #420
Hey @FringeCoder,

The [button grouping feature](https://franciscohodge.com/projects/simple-keyboard/qa-use-cases/style-customize-group-of-buttons/) can take care of that. Check out this demo:

https://codesandbox.io/s/github/simple-keyboard/sk-numeric-row-button-container-demo/tree/master/

Best,
Francisco Hodge

[2020-02-07 15:02] #420 closed

[2020-02-08 16:14] JeffWinder opened #421 "swipe keyboard: 'modules' does not exist in type 'KeyboardOptions'"
**Simple-keyboard version**
+ swipe-keyboard@2.0.84
+ simple-keyboard@2.27.78

**Describe the bug**
Importing in Angular 8 project:
[code]
Declaring class var:
`keyboard: Keyboard;`

in ngOnInit:
[code]
This gives me the error:
_Argument of type '{ newLineOnEnter: true; onChange: (input: string) => void; onKeyPress: (button: string) => void; useMouseEvents: true; modules: any[]; }' is not assignab

[2020-02-08 16:38] hodgef commented on #421
Hello @JeffWinder,

Sorry about the missing type! It should be now fixed with the newly released version 2.28.6.

Regards,
Francisco Hodge

[2020-02-08 16:38] #421 closed

[2020-02-08 17:00] JeffWinder commented on #421
confirming the error is gone in 2.28.6., thanks!

[2020-02-13 17:54] leticia-p commented on #416
Hello, @hodgef,

Thank you so much for implementation and also for the speed.
I've already used whith the new changes, it helped a lot!!

Regards,
Letícia C. Pereira

[2020-02-26 21:20] CHANDRAKANTHREDDY93 opened #433 "Replace Shift and Alt keys with icons"
Is there a way to replace Shift, Enter and Alt button symbols with custom icons?
I'm trying to implement it in Angular, would be great if you point me with a working example.

[2020-02-26 21:30] hodgef commented on #433
Hey @CHANDRAKANTHREDDY93,

You can just pass in html to the `display` option, like so:
[code]
https://simple-keyboard.com/documentation/#display

You can also add an icon through CSS, the choice is yours.

Regards,
Francisco Hodge

[2020-02-26 21:30] #433 closed

[2020-03-03 15:46] brkicmilan opened #440 "keyboard-popup"
**Describe the solution you'd like**
Hello @hodgef ,

I think it is necessary to add this functionality to the keyboard as well to avoid character buildup.

**Additional context**
![keyboard-popup](https://user-images.githubusercontent.com/36232421/75791949-9b819280-5d6d-11ea-8072-c6dcd3609bc7.png)

[2020-03-03 17:52] hodgef commented on #440
Hello @brkicmilan,

I agree that this would be a nice addition, perhaps as a [module](https://franciscohodge.com/projects/simple-keyboard/modules/). I will track this item in the [Enancement Proposals](https://github.com/hodgef/simple-keyboard/projects/3#column-3744996) and pick it up when I have some time to implement it. I will also consider any PRs for such a feature.

Regards,
Francisco Hodge

[2020-03-03 17:52] #440 closed

[2020-03-04 19:38] CHANDRAKANTHREDDY93 commented on #433
Thank you. But what if I've pass those icons dynamically in Angular? Can I use some thing like this
{
display: {
`{shift`: `<img [src]="shift">`
}
}

[2020-03-05 00:32] hodgef opened #441 "Keyboard Navigation marker resets on re-render"
**Simple-keyboard version**
latest

**Describe the bug**
simple-keyboard-key-navigation marker should not reset on keyboard re-render.

[2020-03-05 01:07] #441 closed

[2020-03-05 01:10] hodgef commented on #441
Fixed as of simple-keyboard-key-navigation@2.1.19

[2020-03-05 02:18] hodgef commented on #433
Hey @CHANDRAKANTHREDDY93,

The library will set the value directly in the DOM with innerHTML, so it won't be processed by Angular.

I would recommend just passing a raw HTML to that field. e.g:

[code]

Regards,
Francisco Hodge

[2020-03-05 12:16] Felix-N opened #444 "Icons for keys"
I'd like to use icons for keys, in particular backspace, shift, caps and tab.

Any plans of adding this feature or how to do it now?

[2020-03-05 12:17] Felix-N opened #445 "Multi row key"
I'd like to show language specific layouts. However the german layout has a enter key spanning 2 rows.

Any idea how to do this?

[2020-03-05 15:04] hodgef commented on #445
Duplicate of #420

[2020-03-05 15:04] #445 closed

[2020-03-05 15:06] hodgef commented on #444
Duplicate of #433

[2020-03-05 15:06] #444 closed

[2020-03-05 18:57] CHANDRAKANTHREDDY93 opened #446 "Adding material svg instead of button hex values"
Hi
I'm trying to add svg dynamically instead of buttons. But I wasn't able to do so. Please help me with this.
Below is the snippet of what I tried

{
  display: {
'{shift}': '<mat-icon [svgIcon]=shift'/>'
}
}

[2020-03-05 21:03] hodgef commented on #446
@CHANDRAKANTHREDDY93,

Like I said on #433, you can only pass raw html to that property. No Angular code.

Regards,
Francisco Hodge

[2020-03-05 21:03] #446 closed

[2020-03-06 09:17] ngoctrunght19 opened #447 "Two simple-keyboards in a form"
**Simple-keyboard version**
2.28.24

**Describe the bug**
I have two div boxes with class 'simple-keyboard', but only the first shows the virtual keyboard, the second does not shows.

**Screenshots**
![image](https://user-images.githubusercontent.com/20590769/76069727-e3025b80-5fc5-11ea-90fe-f669b21820b2.png)

[2020-03-06 12:34] lukavuletic opened #448 "Pass reference of an input variable through options"
My suggestion is to make one able to pass value through options which will be changed internally with setInput().

Problem I have encountered with this is if one is using a component and wants to implement custom logic with onKeyPress button, all the logic has to be implemented through keyboardRef and then written on the actual onKeyPress prop. Other way is to pass a ref to the store if one would

[2020-03-06 14:55] hodgef commented on #447
Hello @ngoctrunght19,

Check out this Q&A entry:
<https://franciscohodge.com/projects/simple-keyboard/qa-use-cases/multiple-keyboard-instances/>

Regards,
Francisco Hodge

[2020-03-06 14:55] #447 closed

[2020-03-06 15:50] CHANDRAKANTHREDDY93 commented on #446
@hodgef
Thanks for the response.
I tried to create mat-icon dynamically using Renderer2 in Angular and passing that element to the display but it doesn't work. Below is the snippet of it.

Example:
     const div = this.renderer.createElement('div');
      const matIcon = this.renderer.createElement('mat-icon');
      this.renderer.appendChild(matIcon, this.renderer.createText('home'));
      this

[2020-03-06 15:55] hodgef commented on #446
I think the issue is that you're passing a div's _object_ to an option that expects raw a raw html _string_.

Can you try passing `div.outerHTML` or `div.innerHTML` instead?

[2020-03-06 16:05] CHANDRAKANTHREDDY93 commented on #446
I tried both this. But it is not displaying the icons. It is displaying text only.

[2020-03-06 16:06] hodgef commented on #446
Hmm, how about using just the plain material icons in html?

https://material.io/resources/icons/?style=baseline

eg:
[code]

[2020-03-06 16:15] CHANDRAKANTHREDDY93 commented on #446
Ya unfortunately that didn't help either. But this is working in stackblitz

[2020-03-06 16:21] hodgef commented on #446
Did you add `encapsulation: ViewEncapsulation.None,` in your component? I see no reason why that shouldn't work in your env while it works in StackBlitz 🤔 At that point I think it's not an issue with simple-keyboard

[code]

[2020-03-06 16:33] CHANDRAKANTHREDDY93 commented on #446
![keyboard code](https://user-images.githubusercontent.com/23726910/76102417-f994bc80-5f9d-11ea-95dc-6879a78a7e60.PNG)
![Uploading Keyboard Err.PNG…]()

Yes I've encapsulation set to none in my component. I've added the image of the keyboard on the browser and its code in the Dom.

[2020-03-06 16:34] hodgef commented on #446
I don't see any `ics-image-uppercase` in material-design. Are you sure you got it from here?
https://material.io/resources/icons/?icon=compare_arrows&style=baseline

[2020-03-06 16:35] CHANDRAKANTHREDDY93 commented on #446
No that's our custom icon. I've it inside my assets folder and registered inside the icon registry module

[2020-03-06 16:37] hodgef commented on #446
Does it work when you use a standard material icon?

[2020-03-06 16:40] CHANDRAKANTHREDDY93 commented on #446
No it doesn't work either.

[2020-03-06 16:43] hodgef commented on #446
In that case I would need from you a test repository or at least a sandbox demo that shows the issue. Otherwise I can't help much sadly. I don't like having a long back and forth, looking at the code is way faster than guessing.

[2020-03-06 16:48] CHANDRAKANTHREDDY93 commented on #446
Will give you test repo in just a bit

[2020-03-06 23:51] CHANDRAKANTHREDDY93 commented on #446
@hodgef
It is working with icons from here.
https://material.io/resources/icons/?icon=compare_arrows&style=baseline

But it doesn't work icons from Assets folder. Not sure why? Any suggestion would be greatly appreciated.

[2020-03-07 02:44] hodgef commented on #446
Once again: Please provide a repo or sandbox where I can see the issue happening and debug it. We've already done some back and forth guessing here and I don't want to continue doing that.

Regards,
Francisco Hodge

[2020-03-11 09:44] truonganhhoang opened #450 "Hide mobile keyboard"
Could you have a flag to allow hiding the virtual keyboard of mobile devices when your keyboard is active.

[2020-03-11 15:55] hodgef commented on #450
Hey @truonganhhoang,

I think what you're asking is for the mobile keyboard not to show up when you tap on an input. This is something you would have to fix on the input itself and it's out of scope for simple-keyboard.

Check out this StackOverflow solution:
https://stackoverflow.com/a/7610923/1467941

Thanks,
Francisco Hodge

[2020-03-11 15:55] #450 closed

[2020-03-12 22:54] patrickjholloway opened #452 "Getting a compile error when trying to use the new element constructor in TypeScript"
**2.28.27**

**Describe the bug**
Getting a compile error when trying to use the new element constructor in TypeScript:
Argument of type 'Element' is not assignable to parameter of type 'string'.

**Screenshots**
<img width="1086" alt="Screen Shot 2020-03-12 at 6 54 11 PM" src="https://user-images.githubusercontent.com/1310877/76574512-e9e01100-6492-11ea-9913-66acb27453bc.png">

[2020-03-12 23:23] hodgef commented on #452
@dependabot-bot rebase

[2020-03-12 23:31] hodgef commented on #452
Thanks for the PR @patrickjholloway ! I'm looking into this right away.

[2020-03-12 23:35] #452 closed

[2020-03-18 09:10] atifsaddique211f opened #454 "Error integrating in Angular 9"
**Simple-keyboard version**
  "simple-keyboard": "^2.28.31",

**Describe the bug**
Issue integrating in Angular 9 app.
https://github.com/CTemplar/webclient

**Screenshots**
<img width="1381" alt="Screenshot 2020-03-18 at 2 09 17 PM" src="https://user-images.githubusercontent.com/8865972/76943999-162bdf80-6922-11ea-826b-7de7cdda550e.png">

[2020-03-18 11:46] atifsaddique211f commented on #454
After spending a bit of time, I fixed the issue, thank you. no worries.

[2020-03-18 11:46] #454 closed

[2020-03-18 14:02] hodgef commented on #454
Glad it works now!

[2020-03-26 18:30] ajoslin103 opened #476 "Trouble using w/NextJS"
using react-simple-keyboard with NextJS fails with

I will update this issue with my solution shortly

Al;

starting from the NextJS tutorial, create an app & add this as the pages/index.js file

[code]

and add this as the pages/_app.js file

[code]

The result is this error:

[code]

[2020-03-26 18:30] #476 closed

[2020-03-26 19:21] ajoslin103 commented on #476
yeah, came to the same conclusion -- now I've wrapped the simple-keyboard

[code]
and use it thusly

[code]

which is basically the same as your src/lib/components/Keyboard.js

but that is not in your build folder...

[2020-03-26 19:26] ajoslin103 commented on #476
I used your simple-keyboard with Aurelia the week before last - and got around the needing multiple keyboard with this:

which is the same as yours:

So I keep ending up where you've been

(I did say you were fast :)

Wish your build included a wrapper of some sort

At your speed I bet you're handling some React requirements that I don't know about yet

🥇

[2020-03-26 20:10] hodgef commented on #476
Excellent, I'm glad it's working!

Regarding the wrapper, it really makes sense to have that built-in. The reason I'm only adding those to demos (such as [this one](https://franciscohodge.com/projects/react-simple-keyboard/demos/typescript-hooks-demo/) and [this one](https://franciscohodge.com/projects/simple-keyboard/demos/vue-basic-setup/)) is just to help with the maintainability of the project

[2020-03-26 20:23] ajoslin103 commented on #476
I totally understand!  Each keystroke takes physical time and [dammit] we must sleep at some point.  You've only got so many keystrokes in a day -- this one took time, so did that one !!

How can I contribute what works for me by the end of this project -- be it to a demo or whatever?

[2020-03-26 20:44] hodgef commented on #476
Agreed 😄 About contributing, if you want to share a NextJS demo/sandbox, feel free to link in here and I can add it to the getting started guide. Thanks a lot!

[2020-03-27 03:21] ajoslin103 commented on #476
https://codesandbox.io/s/nextjs-cevwj

(I think...)

it's not working yet for me and I'm out of time for tonight

[2020-03-28 05:02] ajoslin103 opened #482 "Auto-size to fit container width"
Is there any way to setup a numeric keypad to expand to fit the size of the enclosing div ?

[2020-03-28 05:47] hodgef commented on #482
@ajoslin103 That would probably be done with CSS. If you want me to be more specific, I would need more specific information (e.g: A screenshot of what you have to see what exactly needs adjusting).

[2020-03-28 05:47] #482 closed

[2020-03-28 06:01] ajoslin103 commented on #482
thanks, I can provide an URL tomorrow

[2020-04-08 02:55] CrashyBang commented on #131
Note the docs link above for **Input validation** does not work.

Cheers.

[2020-04-08 02:59] hodgef commented on #131
Thanks @CrashyBang ! I've updated the link.

Regards,
Francisco Hodge

[2020-04-15 07:59] mbretter opened #509 "custom button label and value"
**Is your feature request related to a problem? Please describe.**
When adding a custom button is there any possibility to define the value which will be written into the input box?
I've added a new button named "clear", within the onKeyPress event I'm handling the action (clearing the input field in this case), but the keyboard writes the name of the button into the input field.

**Describe the s

[2020-04-15 14:37] hodgef commented on #509
Hey @mbretter,

When you call your button `clear`, clicking it will append that exact word to your input.
To have a "function button", you have to add the curly braces to the name: `{clear}`.

Then in your `onKeyPress`, you can do:

[code]

Check out the [`layout`](https://simple-keyboard.com/documentation/#layout) docs for a layout example.

If you'd like to edit the label of the button, you can

[2020-04-15 14:37] #509 closed

[2020-04-15 14:48] mbretter commented on #509
thanx for the info with the curly braces, this seems to work, but clearing the inputfield does not work then:

[code]

when removing the curly braces the clearInput works, but the word "clear" will be written into the field as described above

cheers

[2020-04-16 06:05] vatsalnarry2 opened #511 "2 keyboards are not visible in browser"
Hi,

I have created 2 keyboard in app.js ,only 1 keyboard is visible.
Could you please let me know whther
![1 keyboard displayed](https://user-images.githubusercontent.com/63771450/79420321-57bdb200-7fd6-11ea-9525-f3f053dad349.PNG)
 we can have 2 simple keyboard in app.js file or not

[2020-04-16 13:55] hodgef commented on #511
Hello @vatsalnarry2,

Take a look at this Q&A entry:
https://franciscohodge.com/projects/simple-keyboard/qa-use-cases/multiple-keyboard-instances/

Regards,
Francisco Hodge

[2020-04-16 13:55] #511 closed

[2020-04-18 14:23] tprophet74 opened #514 "How to implement functions keys (F1 to F24)"
Hello,

My name is Carles and I usually work with customers using the IBM i midrange system.

I write mobile web applications and I was wondering if there's a way to implement functions keys (Fx) from F1 to F24.

Thanks so much in advance.

[2020-04-19 01:06] hodgef commented on #514
Hello @tprophet74,

If by implement you mean to display them in your layout, check out these demos:
https://franciscohodge.com/projects/simple-keyboard/demo-showcase/full-keyboard/
https://codesandbox.io/s/n5mllkkmyl?file=/src/index.js

However if you want these virtual keys to work just like the physical keys (e.g: Pressing F5 refreshes, etc), that's a Javascript question out of scope for this li

[2020-04-19 01:06] #514 closed

[2020-04-19 03:49] tprophet74 commented on #514
Hi again,
What I just need is the keyboard to send the corresponding keycode ot the browser, not to execute the typical function F5=refresh.
Regards,
Carles

[2020-04-19 05:01] hodgef commented on #514
Hey Carles,

In this example you can see (among other things) the keycodes in the console when you press the keys:

https://codesandbox.io/s/n5mllkkmyl?file=/src/index.js:2925-2930

![image](https://user-images.githubusercontent.com/25509135/79679981-a63a9e80-81d8-11ea-88a7-0bb3d55ce583.png)

If you want to dispatch/trigger a keyboardEvent in JS, check out this StackOverflow answer:
https://stacko

[2020-04-20 06:16] vatsalnarry2 commented on #511
I am able to display 2 keyboard.But unable to bind to 2 input.Could you please let me how to do that my code is below

import React, { Component } from "react";
import { render } from "react-dom";
import Keyboard from "react-simple-keyboard";
import "react-simple-keyboard/build/css/index.css";
import "./index.css";

class App extends Component {
  state = {
    layoutName: "default",
    input1: "

[2020-04-20 10:02] vatsalnarry2 opened #515 "2 keyboard instance are not binding to 2 input field"
Hi,

I am able to display 2 keyboard in browser, but when i click.In browser console i see clicked button details are displayed, but not binded to my input fields. My code is below

import React, { Component } from "react";
import { render } from "react-dom";
import Keyboard from "react-simple-keyboard";
import "react-simple-keyboard/build/css/index.css";
import "./index.css";

class App extends C

[2020-04-20 14:35] kamilogerto2 opened #520 "Anuglar 9 SSR support"
Hey. :)
It seems that there is a problem with window reference when running the project in SSR mode with linked simple-keyboard. Since SSR is very sensitive for window checking - it's possible to improve the library with that?

For now it's one of the blockers for us to switch fully to Angular 9.

![Zrzut ekranu z 2020-04-20 16-31-25](https://user-images.githubusercontent.com/15246741/79763888-ed3

[2020-04-20 14:38] hodgef commented on #520
Hey @kamilogerto2,

For SSR, you can use a conditional import

[code]

Best,
Francisco Hodge

[2020-04-20 14:38] #520 closed

[2020-04-20 14:42] kamilogerto2 commented on #520
@hodgef I was thinking about that but also I know that the libraries are trying to be prepared for such cases. It's easier for developers later. But - thank you for involvement ;)

[2020-04-20 14:46] hodgef commented on #520
I see. It's a fair request, I will add it to the [Enhancements project](https://github.com/hodgef/simple-keyboard/projects/3) and hopefully take it up soon.

Thanks,
Francisco Hodge

[2020-04-20 14:50] kamilogerto2 commented on #520
Thanks! :)

[2020-04-20 14:54] hodgef commented on #515
Hello @vatsalnarry2,

It seems you have based your code on [this example](https://franciscohodge.com/projects/react-simple-keyboard/demos/multiple-instances-demo/), but you need to adjust it to work with two inputs. For example:

If you want each keyboard to target a different input, you can't use `sharedProps`. You need to provide different onChange handlers to each instance, different inputs, et

[2020-04-20 14:54] #515 closed

[2020-04-20 20:22] nicoabie commented on #212
I completely support the decision of the author @hodgef to not support IE11.
Unfortunately there exist cases where people are hired to make it work in IE11 because some institutions like banks still work with such browsers.

The issue here described is because IE11 does not support certain operations with multiple arguments in classList [see here](https://developer.mozilla.org/en-US/docs/Web/API/E

[2020-04-20 20:52] hodgef commented on #212
Thanks for sharing this fix @nicoabie ! Much appreciated

[2020-04-21 06:37] kamilogerto2 commented on #520
@hodgef I just implemented the dynamically import but then due to dynamic - our animation is a little bit crash. So for now I will leave it like it is but I am waiting for that improvement from your side (unfortunately I don't have a lot of time for doing that :( ) ;)

[2020-04-21 13:40] hodgef commented on #520
Hello @kamilogerto2,

Unfortunately I won't be able to pick this one up in the near future. It will be released eventually but I don't have an estimate.

Thanks,
Francisco Hodge

[2020-04-27 06:36] kamilogerto2 commented on #520
Just a quick reference how it was solved in another project :) https://github.com/naver/hammer.js/commit/af3f98f663ad9d046e496d1c7cf81f0ff9c74660

[2020-05-04 17:11] bluelemonade opened #544 "how to useoptions in vuejs component"
**Simple-keyboard version**
its not an bug, I tried to change some behaviours in the options like the used buttons and change the displayed name. Where can I change these options!

by the way, really great work!

**Describe the bug**
 this.keyboard.setOptions({
        layoutName: shiftToggle,
        theme: "hg-theme-default",
        maxLength: 40,
        display: {
            '{bksp}': '<<<',

[2020-05-04 17:15] hodgef commented on #544
Hey @bluelemonade,

You can set these options when instantiating the Keyboard for the first time, e.g:

[code]

[2020-05-04 17:15] #544 closed

[2020-05-04 18:03] bluelemonade commented on #544
thanks!

[2020-05-05 12:56] flemgs opened #548 "Add possibility to hold {arrowleft} and {arrowright}"
**Is your feature request related to a problem? Please describe.**
User can't move the cursor inside the input by holding left arrow or right arrow on the virtual keyboard.

**Describe the solution you'd like**
I want `{arrowright}` and `{arrowleft}` to be added to the list of keys that can be held, so I could implement in the `onKeyPress` callback the cursor moving behavior.

**Describe alternati

[2020-05-05 23:57] #548 closed

[2020-05-06 00:04] hodgef commented on #548
Hey @flemgs,

This should now be working as of 2.29.18. I added the buttons to the list as a quick fix, but eventually I'll put out an option to make this configurable.

Thanks!
Francisco Hodge

[2020-05-06 17:56] bluelemonade opened #550 "reset input"
**Simple-keyboard version**
As some bugs have been addressed in later versions, please ensure you are running the latest.

**Describe the bug**
I got following error when I call clearInput after saving the text from the input field via axios http

vue.runtime.esm.js?2b0e:619 [Vue warn]: Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Ins

[2020-05-06 18:03] #550 closed

[2020-05-06 19:00] bluelemonade commented on #550
ok, I should reset the input in the input field.

[2020-05-08 09:42] tppandey opened #552 "Unable to launch simple-keyboard [Error: 'undefined' is not a function (evaluating 'e.includes("[")')]"
**Simple-keyboard version**
latest version v2.29.20

 I have used simple-keyboard in my application and is deployed in Dish TV,  browser version(Firefox 16.0.1). There was no issue until 28th April, now I am getting issue related to CDN. PFA below.

![Screenshot from 2020-05-07 16-54-26](https://user-images.githubusercontent.com/995848/81393621-4e8bb500-913e-11ea-8810-248f5bd2cfc9.png)

[2020-05-08 09:44] #552 closed

[2020-05-08 09:49] vineshbc opened #553 "Unable to launch simple-keyboard [Error: 'undefined' is not a function (evaluating 'e.includes("[")')]"
Simple-keyboard version
latest version v2.29.20

I have used simple-keyboard in my application and is deployed in Dish TV, browser version(Firefox 16.0.1). I am getting issue related to CDN. PFA below.

![Screenshot from 2020-05-07 16-54-26](https://user-images.githubusercontent.com/36573730/81394206-37999280-913f-11ea-934e-63736f4b4264.png)

[2020-05-08 13:44] hodgef commented on #553
Hey @vineshbc, since you've reached out in Discord I'll close this issue and respond there. Thanks

[2020-05-08 13:44] #553 closed

[2020-05-13 18:12] alejandroclaro commented on #476
Please consider reopen this issue.

The proposed solution is not complete and it's more like a hack than another thing.

For example, we need to have a reference to the instance of the widget in a Vue.js component that is written in Typescript. We can use dynamic import in the mounted hook, or use `require('simple-keyboard').default`. However,  when that is done, the typescript declaration is not

[2020-05-13 18:21] alejandroclaro opened #557 "ReferenceError: window is not defined"
**Simple-keyboard version**
Version: 2.29.17

**Describe the bug**
When the simple keyboard is included in a Vue.js component written in typescript and used in an electron application if the package is imported, the following error occurs at runtime:

A similar issue was reported in #476. The workaround mentioned in this ticket is not a complete solution. When dynamic import, or `require` directly

[2020-05-13 18:39] hodgef commented on #476
Hello @alejandroclaro,

Simple-keyboard requires a browser (`window`) to function. Adding a dummy `window` object so that a build doesn't fail actually seems more like a hack to me. Instantiating simple-keyboard only when the minimal requirements to run it are met seems to be better practice.

I think this is basically an argument about convenience, and I'm not against convenience.

I committed in

[2020-05-13 18:41] hodgef commented on #557
Hello @alejandroclaro,

I don't think you'll see this error in the renderer of an electron application. I think you're probably using SSR where window is not defined.

Regarding out of the box SSR support without conditional imports, please check out my response to your first comment here:

https://github.com/hodgef/simple-keyboard/issues/476#issuecomment-628173273

I'll close this as a dupe of #5

[2020-05-13 18:41] #557 closed

[2020-05-15 11:32] alejandroclaro commented on #557
@hodgef Please don't close this issue. This is a real issue and not the same cause in #520.

We are not using any SSR. We are loading the Vue component in a renderer process in a electron application. The window is eventually defined, but not at the moment the modules are imported.

We have a traditional electron setup:

[code]

and the Vue.js component that wraps 'simple-keyboard' is imported in

[2020-05-15 11:38] alejandroclaro commented on #476
Hi @hodgef

We are not using any SSR. It happens in a traditional electron application setup. I also answer with the details here https://github.com/hodgef/simple-keyboard/issues/557#issuecomment-629185031

[2020-05-15 17:42] hodgef commented on #557
Could you provide a repro for this? I cannot reproduce this on a Vue Electron application.

![image](https://user-images.githubusercontent.com/25509135/82079852-8d2aed80-96b1-11ea-987d-8566a8522b23.png)

It seems to work with the same code as the basic Vue demo (without conditional imports):

https://codesandbox.io/s/github/hodgef/vue-simple-keyboard/tree/master/?from-embed=&file=/src/App.vue:286-

[2020-05-18 14:10] andrelutza commented on #57
Hello,
I'm having the same error, but your fix did not solve my issue. Here is my test repository: https://github.com/andrelutza/keyboard-test
Any ideas what it might be?
Thanks!

[2020-05-18 16:43] hodgef commented on #57
@andrelutza It's an issue with your Jest config
In jest.config.js, find this:
[code]
and replace it with this
[code]

[2020-05-19 12:21] alejandroclaro commented on #557
Hi @hodgef we found the problem, but I still think simple-keyboard should not be accessing the window variable during the import.

The problem is that we have a package that needs to export a function to set-up a IPC communication between the main and renderer process. This package also has a Vue.js component that is only imported from the renderer process. What is happening, is that when we impor

[2020-05-19 14:32] hodgef commented on #557
My understanding is that an import should not trigger a `window` error, since the constructor is not yet called. Only when you try to instantiate the Keyboard (`new Keyboard(...)`) should it fail, since it requires a browser to be usable.

The conditional import was added in SSR demos since it wouldn't make sense to import an UI component if it's not going to be instantiated. But having a static i

[2020-05-20 09:30] alejandroclaro commented on #557
Thanks @hodgef

I will try to find some time to publish a repository with the bug to provide a playground for this. We are still struggling with this and the workaround is pretty ugly. We had to create a shim and introduce 'require(/simple-keyboard').default' inside the class to be able to get rid of the error.

[2020-05-25 14:21] lima66 opened #562 "With v-model.trim the value disappears"
Simple-Keyboard: 2.29.25

I have different input field and i use v-model.trim for automatically remove the whitespace from user input.
After typing the value disappears.
If i remove .trim it works perfectly.

 Great lib, thanks!

[2020-05-26 04:27] hodgef commented on #562
Hey @lima66, thanks for the heads up! I'll set up a demo and see if I can fix it on my end.

[2020-05-28 01:06] hodgef commented on #562
Hey @lima66, sorry for the delay. I was able to reproduce this, but I don't think I can fix this within the library. I think the best approach will be a docs entry to warn about it. I'll flag it as such and track it here: https://github.com/hodgef/simple-keyboard/projects/3#column-3774141

Thanks,
Francisco Hodge

[2020-05-28 01:06] #562 closed

[2020-06-09 06:18] ayalaSuperUser opened #578 "'Could not find a declaration file for module 'simple-keyboard-input-mask' in angular8"
**Simple-keyboard version**
 "simple-keyboard": "2.29.24"
 "simple-keyboard-input-mask": "2.2.71"

I have problems when i use 'simple-keyboard-input-mask' package in angular 8.
The installation end successfully, but when i am trying to use the module in the code, i have few errors:

1. Module declaration : _import inputMask from "simple-keyboard-input-mask";_
error:  **"Could not find a declaratio

[2020-06-09 12:21] Centaurnia opened #579 "How to add keyboard as attribute to input element? (In Angular)"
I have created a component (one ts file) for simple-keyboard. It has html, css and ts functionalities and selector name is 'input[simple-keyboard]'.
Trying to add this component as attribute to input element in other pages.
In this way: <input [simple-keyboard] />
Please help to do the same in angular.

Note: It works for Div element 'div[simple-keyboard]'. not for Input element.

[2020-06-09 14:12] hodgef commented on #579
Hey @Centaurnia, sorry I'm not sure how to accomplish that. I've never added simple-keyboard as an attribute to inputs before.

I'd suggest asking on StackOverflow, so someone with more knowledge on that can help.

Regards,
Francisco Hodge

[2020-06-09 14:12] #579 closed

[2020-06-09 15:56] Kimp-hub opened #580 "Change the style of the whole page when integrating the virtual keyboard in Angular"
When I integrated the virtual keyboard, it changed the style of the whole page in Angular 8/9, how could I avoid this? I think it was because I used ViewEncapsulation.None as the demo code for Angular.
Thank you so much for answering my problem.

[2020-06-09 16:07] hodgef commented on #580
Hello @Kimp-hub,

Simple-keyboard writes directly to DOM, so it doesn't get the Angular artifacts needed for ViewEncapsulation.

However, one clever dev in the simple-keyboard Discord (Luke) wrote this:

So if you're having difficulties setting ViewEncapsulation to None, I would suggest linking to simple-keyboard's css in your angular.json or importing it in your styles.scss

Hope that helps,
Fran

[2020-06-09 16:07] #580 closed

[2020-06-10 03:58] Centaurnia commented on #579
No problem. I'll post in StackOverflow. Thank you.

[2020-06-11 06:36] ayalaSuperUser commented on #578
Hi hodgef,

do you have any answer for me?

[2020-06-11 13:48] hodgef commented on #578
Hey @ayalaSuperUser, sorry I've been a bit busy. Regarding the first point, the modules do not have types for now. I recommend you to declare this module as shown here:
https://stackoverflow.com/a/50516783

For the second point, this is something I'd have to fix within simple-keyboard. I'll try to get this fixed today.

Regards,
Francisco Hodge

[2020-06-12 05:32] #578 closed

[2020-06-12 05:35] hodgef commented on #578
Hello @ayalaSuperUser, the second issue should be fixed as of the latest release. However please apply the workaround detailed above the first issue.

Best,
Francisco Hodge

[2020-06-12 06:55] Centaurnia opened #582 "Downkeyboard logic in appleIOS keyboard"
Hi, I'm using appleIOS keyboard in angular mode. It's very useful.
I need to hide the keyboard if I touch anywhere else in the page. Used on-focusout to hide the keyboard.
onInputFocusOut() {
	this.keyboard.destroy();
}
But the keyboard gets hide even if I press the keyboard button.
My thought: I can see the downkeyboard button here. Can you please tell me the logic for the same?

I have referred

[2020-06-12 13:29] hodgef commented on #582
Hello @Centaurnia,

You can't use a input focus-out because the keyboard is not part of the input and would be hidden when you use it.

In the show/hide demo you've linked you can see an event being added to the document, which is what you need.

[code]

You can also try libraries to detect click outside: https://www.npmjs.com/package/ng-click-outside

Regards,
Francisco Hodge

[2020-06-12 13:29] #582 closed

[2020-06-14 07:00] ayalaSuperUser commented on #578
Hey @hodgef,

Thanks a lot for your very quick and  clear answers!

1.  I declared the module as you pointed me here: https://stackoverflow.com/a/50516783
2.  I reinstalled simple-keyboard

It was compiled successfully!

Thanks,
Ayala.

[2020-06-15 06:49] Centaurnia commented on #582
Okay. I'll try this. Thank you 👍

[2020-06-19 23:48] juanMorenoDev opened #588 "Can I add custom action buttons to the Keyboard?"
I would like to add custom buttons to the keyboard, something like {Accept} {insert} or another kind of shift to switch between difrente layouts, or lenguages like {spanish} etc..

[2020-06-20 00:21] hodgef commented on #588
Hello @juanMorenoDev,

Check out the following Q&A page, it also has some demos:
https://hodgef.com/simple-keyboard/questions-answers/edit-add-new-buttons-keyboard/

Regards,
Francisco Hodge

[2020-06-20 00:21] #588 closed

[2020-06-20 00:27] juanMorenoDev commented on #588
Thanks!

[2020-06-26 02:23] angga-dev opened #595 "Korean layout support >2 letter syllables block?"
Hi,

I type (ᄀ, ᅥ, ᄂ), I want results like (건) but the end result becomes (거 ᄂ). Is there a way to get the desired results?

English isn't my first language, so please excuse any mistakes.

[2020-06-26 02:37] hodgef commented on #595
hello @angga-dev,

Sadly we don't support this yet. We only support the unicode characters that stack by themselves (e.g: https://hodgef.com/simple-keyboard/demos/?d=hindi) but that's about it.

This means that you'll have to do some **custom implementation** to achieve this.

For example, adding custom logic in [`onChange`](https://hodgef.com/simple-keyboard/documentation/options/onchange/) or [`

[2020-06-26 02:37] #595 closed

[2020-07-07 00:58] vrobot opened #606 "error with new Keyboard Constructor"
I was trying to get your virtual keyboard demo to work with an app I build using electron js.

I keep getting the following error:

<img width="305" alt="Screen Shot 2020-07-06 at 17 57 05" src="https://user-images.githubusercontent.com/10933553/86679160-2b507b00-bfb2-11ea-9a8f-96d1726baefb.png">

which states that Keyboard is not a Constructor.

Do you have any suggestions on how I should proceed

[2020-07-07 02:45] hodgef commented on #606
Hey @vrobot,

Does it work when you import it?

[code]

If that's defined it should work per the demos, otherwise there might be an issue with your setup. Feel free to debug this further or provide a demo repository so I can investigate.

Regards,
Francisco Hodge

[2020-07-07 02:45] #606 closed

[2020-07-07 03:39] hodgef commented on #606
At this point I'm not exactly sure what your setup is (e.g.: are you using webpack, what library, are you trying to run the keyboard in the main or renderer process, etc).

I would ask you to please provide a minimal git repository so I can look at this further.

Thanks

[2020-07-07 04:18] hodgef commented on #606
Thanks Venkat, I was able to take a look and figured out the issue.

Please use this import statement instead:
[code]

Then it should not throw the "Keyboard is not a Constructor" error. I'll look into updating the docs with this information.

Regards,
Francisco Hodge

[2020-07-07 04:30] hodgef commented on #606
This is most likely because the library is being imported in the main process (before site rendering). You'd need to call the script only when the document is available.

For example (since you're using jQuery)

[code]

[2020-07-07 05:26] hodgef commented on #606
No problem, I just opened a PR in your repository with a fix. I hope you can take it from there. If you need more examples please check out the docs:

https://hodgef.com/simple-keyboard/

Thanks

[2020-07-10 06:50] oleksii-shaposhnikov opened #609 "Custom caret implementation"
**Is your feature request related to a problem? Please describe.**
The "simple keyboard" works very well. But how did you guys solve the problem with missing caret cursor?

**Describe the solution you'd like**
If the field should be read-only, what are the ways to see the caret cursor? I tried to implement a simple HTML-based solution, but it works quite buggy and it would be good if you tried to

[2020-07-10 11:53] BjoernKW opened #610 "Using one keyboard service instance with multiple inputs and components across an entire React application"
**Is your feature request related to a problem? Please describe.**
While the example given [here](https://hodgef.com/simple-keyboard/questions-answers/use-simple-keyboard-multiple-inputs/) works perfectly fine one has to duplicate those methods (_onChangeInput_, _onChangeAll_ etc.) in each component that makes use of simple-keyboard.

**Describe the solution you'd like**
I'd like a service that pr

[2020-07-10 12:28] BjoernKW commented on #610
Closed in favour of this more specific issue in the more appropriate [react-simple-keyboard](https://github.com/hodgef/react-simple-keyboard) repository: https://github.com/hodgef/react-simple-keyboard/issues/665

[2020-07-10 12:28] #610 closed

[2020-07-10 14:12] hodgef commented on #609
Hello @oleksii-shaposhnikov,

What do you mean by "missing caret cursor"?

If you're referring to the input losing focus when the keyboard is used, check out the `preventMouseDownDefault` option
https://hodgef.com/simple-keyboard/documentation/options/preventmousedowndefault/

Regards,
Francisco Hodge

[2020-07-10 14:12] #609 closed

[2020-07-10 14:20] oleksii-shaposhnikov commented on #609
Let's imagine, that the input must always be read-only because the app should control what the user is typing.
In this case, while using the simple-keyboard, the caret cursor (the one that flashes near the text) is missing, because of the read-only field. Hope it makes sense

[2020-07-10 14:29] hodgef commented on #609
Hm this seems to be more of a general question about making a cursor display on a read-only input field. simple-keyboard is just where you type stuff, anything input-related is left to the user to handle.

That being said, I think you can just send the simple-keyboard value to a `div` which has a fake `::after` CSS cursor. That should do the trick.

Regards,
Francisco Hodge

[2020-07-15 12:38] balasacoe opened #613 "Can we have spatial navigation support?"
Can we have spatial navigation support for this keyboard to support in Web TV? If this is already available can you please help me for the document.

[2020-07-15 14:47] hodgef commented on #613
Hey @balasacoe ,

Check out [simple-keyboard-key-navigation](https://hodgef.com/simple-keyboard/modules/key-navigation/). There's some demos included there as well.

Regards,
Francisco Hodge

[2020-07-15 14:47] #613 closed

[2020-07-31 02:08] ianidi opened #627 "Right mouse click on a keyboard key causes infinite input (key is being jammed)"
Title says it all.

[2020-07-31 02:14] hodgef commented on #627
Hello @ianidi,

I haven't been able to reproduce this in the demos: https://hodgef.com/simple-keyboard/editor/?d=hodgef/simple-keyboard-npm-demos/tree/master

Could you provide a sandbox demo with the issue happening? More infos such as browser, OS would also help.

Note: If the browser doesn't fire the onpointerup for some reason (e.g: tab being pressed, mouse going out of window) this might happ

[2020-07-31 02:14] #627 closed

[2020-08-05 06:32] Centaurnia opened #636 "How to add Icon in the layout"
Hi @hodgef, I'm trying to add an Icon to the layout. Can I do the same.

In the below layout instead of one shift key I wanted to add one icon. Kindly give some idea how to place it.
                                default: [
					"q w e r t y u i o p {bksp}",
					"a s d f g h j k l {enter}",
					"{shift} z x c v b n m , . {shift}",
					"{alt} {space} {downkeyboard}"
				],

[2020-08-05 06:41] Centaurnia commented on #636
Sorry I have seen your reply from other Icon issue.
I'll open the issue again If I am not getting the result after trying the below one.
(https://github.com/hodgef/simple-keyboard/issues/433)

Thank you 👍

[2020-08-05 09:48] Centaurnia commented on #636
Hi @hodgef I need to combine these two icon and show it as the attached image. Can you please help on this.
<img width="27" alt="downKeyboard" src="https://user-images.githubusercontent.com/64918196/89398385-abdbd600-d72e-11ea-92da-7a3ed1efad63.PNG">

"{downkeyboard}": "⌨",
"{downkeyboard}": "🞃",

[2020-08-05 13:06] tuomassa opened #637 "Backspace does not delete selected text"
**Simple-keyboard version**
2.29.72

**Describe the bug**
Selecting text and pressing backspace does not delete selected text

[2020-08-05 13:52] hodgef commented on #636
Hello @Centaurnia,

You can either include both icons and style them:

[code]

... or you can add the image directy, but with a backtick ( ` ) if you want to put a variable in it.
[code]

Note: The display option takes in [Raw HTML](https://github.com/hodgef/simple-keyboard/issues/433#issuecomment-594992889). If it doesn't work you'd have to check in the inspector what it is actually outputting.

[2020-08-05 13:52] #636 closed

[2020-08-05 13:57] hodgef commented on #637
Hello @tuomassa,

Thanks for reporting this, I'll have a look at it soon.

[2020-08-05 14:16] Centaurnia commented on #636
Yes. It works fine in both way. Thank you so much @hodgef 👍

[2020-08-06 05:05] tuomassa commented on #637
Thanks a lot for taking a look at it!

Another related behavior that virtual keyboard users are used to, is when you select a word for example and press any letter, it replaces selected text with that letter, without having to press backspace first

[2020-08-07 16:21] b-karin commented on #316
I've forked a sandbox example to show how you can easily integrate simple-keyboard with Vuex.
No changes to SimpleKeyboard component, but in App.vue you change data to computed from mapGetters
[code]

and in your store:
[code]

In my example keyboard opens on focus. You can then add smth. like vue-click-outside to close the keyboard, but make sure not to fire it when user clicks on keyboard itself

[2020-08-10 16:42] gsouf commented on #595
@hodgef just fyi, the keyboard cannot be used for korean without this feature. Most of korean words are formed of 3 characters in a stack

[2020-08-10 19:29] hodgef commented on #595
Thanks for the heads up @gsouf,

My approach for simple-keyboard is to provide generic modules and to keep the codebase lean... sadly this combos change I feel is quite language specific and would add to the maintenance concerns. Unless someone who needs this wants to help by putting forward a PR or to releasing a module/plugin I don't think this functionality will be supported any time soon.

I w

[2020-08-11 00:31] hodgef commented on #637
Thanks @tuomassa, I added the changes to commit https://github.com/hodgef/simple-keyboard/commit/1f335f6b6262780f7613f977ae25aa36ce0bc92d. However, this added some issues with the [modules](https://hodgef.com/simple-keyboard/modules/). I'll put this task on hold for now while I fix these. When everything is ready, I'll post here and release to npm. Thanks!

[2020-08-13 14:02] digvijayad opened #646 "inputMask with multiple input fields"
**Simple-keyboard version**
Simple Keyboard- v2.29.96
simple-keyboard-input-mask v2.2.121

**Describe the bug**
Following the example of "How to use simple-keyboard with multiple inputs", I tried using the input mask with one of the input fields by setting the input mask in the `onInputFocus` event. However no inputMask is applied. If input mask is set as provided in the inputMask example. Both th

[2020-08-13 14:09] hodgef commented on #646
Hey @digvijayad,

Thanks for reporting this. A similar issue has been raised last week in the [simple-keyboard chat](https://simple-keyboard.com/chat), I'm currently rewriting the input-mask module which should address these issues.

I'll let you know here when that's ready. Hopefully by the end of the week I'll have a release out.

Thanks,
Francisco Hodge

[2020-08-13 19:37] digvijayad commented on #646
Hey @hodgef ,
I think i have found the culprit.

When module is initialized. You are returning false if `keyboard.options.inputMask` option is not available. Since module is not initialized, mask is not set when you change it dynamically in the `onInputFocus` event.

The workaround  for this is to initialize the inputMask in the constructor, and then remove it in the `onInputFocus` when not needed

[2020-08-24 12:02] Centaurnia commented on #637
Hi @hodgef Any update on this issue?

[2020-08-26 05:11] hodgef commented on #637
Hey @Centaurnia, really sorry for the delay. There was one modules bug that was driving me nuts.

I've now released v2.30.0 to a [staging dist](https://docs.npmjs.com/adding-dist-tags-to-packages) that you can use right away:

`npm install simple-keyboard@2.30.0 --save`

So for now it's accessible if you specify the version when installing (as shown above). This is because I still have to update t

[2020-08-26 05:29] Centaurnia commented on #637
No Problem. Thanks a lot for the fix 👍

[2020-08-26 05:41] karthikaanoop opened #656 "Double Tap Issue"
We are getting double tap while clicking on the keys slowly like in the center when the span of the key character is coming.
It is only coming when we click the individual key at the real center only.
No issue if we press the full button as whole.

Looks like this is because disablebuttonhold property not working inside the span element. i.e if we press only the letter (inside the span), disablebu

[2020-08-26 06:22] karthikaanoop commented on #637
We tried this fix for backspace but it is not working as expected.
When we select and do backspace, it is not getting deleted and also getting copy pasted as shown below -

Step1: Selecting multiple characters & Pressing backspace -The backspace doesnt delete the selected text.
![image](https://user-images.githubusercontent.com/28105296/91268017-2b8b1c80-e792-11ea-9f49-6f43790db5f8.png)

Step2: We

[2020-08-26 15:08] Centaurnia commented on #637
Hi @hodgef, We get the same issue which @karthikaanoop posted in the above comment. Can you please take a look and give some solution.

[2020-08-26 15:40] hodgef commented on #637
Hey guys, I cannot seem to reproduce this in the following 2.30.0 sandbox (Windows 10, Chrome 84):
https://codesandbox.io/s/festive-solomon-jpwl5

Can you reproduce that issue in the above sandbox? If not there might be something weird going on. Maybe it only happens on some devices.

Note: There's at least one limitation with the input selection at the moment. For instance, when you select the te

[2020-08-28 03:11] hodgef commented on #656
Hello @karthikaanoop,

Does this also happen when using one of the following options?

- [autoUseTouchEvents](https://hodgef.com/simple-keyboard/documentation/options/autousetouchevents/)
- [useMouseEvents](https://hodgef.com/simple-keyboard/documentation/options/usemouseevents/)

I think your issue might be caused by PointerEvents being too sensitive, so hopefully the other pointer types (click/t

[2020-08-28 03:11] #656 closed

[2020-08-30 21:09] Youhan commented on #316
This one is pretty old but maybe good to get the idea
https://codesandbox.io/s/demo-nuxt-spa-simplekeyboard-vuex-wi3kk

[2020-08-31 13:34] mgesmundo opened #660 "Not working on Apple Safari 13.x (desktop and mobile)"
Hi there,
very best project! I'm sorry but the version 2.29.106 is not working on Apple Safari: the function buttons (e.g. {shift}) do not change the layout. Please try to press the shift button on the online demo. It works fine on Google Chrome and Mozilla Firefox (both on the same Apple MacBook).
Thank you.

[2020-08-31 13:55] hodgef commented on #660
Hello @mgesmundo,

For some reason in the main demo the shift key is not working (only on Mac):
https://hodgef.com/simple-keyboard/demos/

However, it does seem to work in the sandbox:
https://codesandbox.io/s/github/hodgef/simple-keyboard-npm-demos/tree/master/?from-embed

![clicktest](https://user-images.githubusercontent.com/25509135/91727719-14707400-eb70-11ea-9c55-725e218ecc5f.gif)

This is p

[2020-08-31 13:55] #660 closed

[2020-08-31 14:14] mgesmundo commented on #660
Wow! Super fast answer! Yes I've the same issue but the useMouseEvents option fix it.
Thank you.

[2020-09-03 04:14] #637 closed

[2020-09-03 05:24] #646 closed

[2020-09-03 05:45] hodgef commented on #646
Hello @digvijayad, thanks for the workaround!

I have published new versions of simple-keyboard (2.30.0) and simple-keyboard-input-mask (3.0.0) that should support multiple inputs out of the box.

Here's the new usage:
[code]

Here's a multi-inputs example:
https://github.com/simple-keyboard/simple-keyboard-input-mask/blob/master/demo/main.js

I have updated the module docs and demos with the new

[2020-09-03 05:53] hodgef commented on #637
Hello guys - I've gone ahead and merged selection support to master. New users that install simple-keyboard will be getting this functionality. I'll keep an eye out for any issues that might arise with caret positioning.

Thanks!
Francisco Hodge

[2020-09-08 13:32] donno2048 opened #677 "New standard for the Hebrew keyboard"
In the demos site (https://hodgef.com/simple-keyboard/demos/) there is an Hebrew keyboard which is ordered according to the old standard

The new standard changes only 7 places (marked in the picture below) so it would be easy to move them...

![](https://sm.pcmag.com/pcmag_il/photo/default/new-keyboard-layout_gkxd.jpg)

[2020-09-08 22:44] hodgef commented on #677
Hey @donno2048,

Thanks for raising this issue. Do you mind [editing the layout](https://github.com/simple-keyboard/simple-keyboard-layouts/blob/master/src/lib/layouts/hebrew.js) and submitting a PR for this? Otherwise a text character map/reference would really help (to be able to copy the characters).

It appears most places are still using the layout we already have, e.g:

https://www.branah.co

[2020-09-09 13:32] donno2048 commented on #677
I submitted a [PR](https://github.com/simple-keyboard/simple-keyboard-layouts/pull/657)

[2020-09-09 15:44] #677 closed

[2020-09-10 22:16] raffademello opened #682 "Modules - multiple masks"
Hi Hodgef !

Is there a way to add more mask modules ?
ex:
modules: [inputMaskPhone][inputMaskDate],
inputMaskPhone: {
            "default": {
                mask: '+1 (999) 999-9999',
                regex: /^[0-9]+$/
            }
        },
inputMaskDate: {
            "default": {
                mask: '99/99/9999',
                regex: /^[0-9]+$/
            }
        },

I would like to

[2020-09-11 02:53] hodgef commented on #682
Hello @raffademello,

I created this module with multiple inputs in mind, but I'm not sure if the multiple components use-case will also work.

However, you could to set the new options with [`setOptions`](https://hodgef.com/simple-keyboard/documentation/methods/setoptions/).

[code]

This way you can change the config on the fly. Another way is to use [`keyboard.destroy()`](https://hodgef.com/sim

[2020-09-11 02:53] #682 closed

[2020-09-22 08:07] tuomassa opened #695 "Changing caret position requires double click on touchscreen?"
**Simple-keyboard version**
2.30.18

**Describe the bug**
After updating to this version, I have to click twice (not double-click per se) to update caret position when using device mode (touch emulation) in Chrome. Unfortunately I cannot test on real touch screen, but I suppose same issue is there. If I single click somewhere between letters and input text, it is appended to the last caret positio

[2020-09-22 08:41] Mathaeusxs commented on #695
I can verify that on real touch screen there is same problem as described. Same in Chorme using device mode.. used version was "2.29.43".

Using version 2.29.0 fixes that problem for me.

[2020-09-23 05:33] hodgef commented on #695
Hello guys, this would need further investigation and probably a little refactor. For now I added a temp fix (released in 2.30.21) but I'll follow up and push a proper solution soon.

Best,
Francisco Hodge

[2020-09-24 03:06] #695 closed

[2020-09-24 03:15] hodgef commented on #695
Hey @tuomassa and @Mathaeusxs, I reverted some of the caret handling code to what we had in 2.29. This should fix the issues on mobile. This proper fix is on **v2.30.24** and onward. Feel free to try it out.

Thanks!
Francisco Hodge

[2020-09-25 08:40] yzy0704YZY opened #700 "Can we also support something similar to 'preventMouseDownDefault' for touch event also?"
**Is your feature request related to a problem? Please describe.**
I would like to integrate the keyboard onto a smart display device which only has touch screen.

**Describe the solution you'd like**
For example, when detected 'touchend' event, it will call preventDefault().

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-09-27 22:33] #700 closed

[2020-09-27 22:51] hodgef commented on #700
Hello @yzy0704YZY ! `preventMouseDownDefault` is already called for the events corresponding to "mousedown", e.g: touchstart, pointerdown, etc.

touchend and touchcancel fires up the "mouseup" event handler instead. For these events, I've added the following new options:

- [preventMouseUpDefault](https://hodgef.com/simple-keyboard/documentation/options/preventmouseupdefault/)
- [stopMouseUpPropag

[2020-09-29 04:47] yzy0704YZY commented on #700
Good to know! Thank you Francisco!

[2020-09-29 11:45] vineethma opened #703 "Go to Next and Go to Previous input field"
Is it possible to give a next and previous button for going to next input field and previous input fields of a form group in Angular 5

The feature I required is something that is available in angular and IOS default keyboard

[2020-09-29 13:28] hodgef commented on #703
Closing this as it was answered in the Discord chat:

Regards,
Francisco Hodge

[2020-09-29 13:28] #703 closed

[2020-10-01 15:16] Doc999tor opened #704 "API for closing keyboard"
Simple-keyboard is a perfect, very flexible package
Among the other features it has `.destroy` method but there is no nice way to call it
I'd like to use some setting: `{ destroyOnBlur: true }` which will autoclose if the user clicked outside `.simple-keyboard` html wrapper
Maybe `simple-keyboard` has some similar functionality already?
It's a very basic use case - to close the on-screen keyboard

[2020-10-01 15:22] hodgef commented on #704
Hello @Doc999tor,

This is not built in since it would require simple-keyboard to know what's the input element (I try to keep the library as generic as possible). However you can add it without much effort.

Here's a guide on how to add this functionality (check out the "JS demo"):
https://hodgef.com/simple-keyboard/questions-answers/implement-show-hide-toggling/

Thanks!
Francisco Hodge

[2020-10-01 15:22] #704 closed

[2020-10-07 05:30] soumen-cn opened #712 "Hebrew keyboard showing special character to wrong side"
**Describe the bug**
When I type and special character in Hebrew keyboard it is placing the special character to the wrong side until I type any Hebrew character. Like if I try to enclose the word within a bracket []. But in some situations, the special character may the last character of the sentence. In this scenario, the special character cannot be placed in the proper position.

**Screenshots*

[2020-10-09 01:40] hodgef commented on #712
Hello @soumen-cn,

I am able to reproduce this with the following hebrew virtual keyboards:

https://www.branah.com/hebrew
https://www.lexilogos.com/keyboard/hebrew.htm
https://gate2home.com/Hebrew-Keyboard

This leads me to believe that this is not a simple-keyboard issue but an issue with Chrome in general.

You can report a chrome bug here:
https://bugs.chromium.org/p/chromium/issues/list

Rega

[2020-10-09 01:47] hodgef commented on #712
Hey @soumen-cn, sorry I for some reason thought you were talking about the text orientation. Let me have a second look at this.

[2020-10-10 03:07] Rabbitzzc opened #725 "this component can be implemented as a Web Component."
**Is your feature request related to a problem? Please describe.**
I think this component can be implemented as a Web Component. This makes it easier to cross - end.

[2020-10-11 15:32] hodgef commented on #725
Hello @Rabbitzzc,

Thanks for the suggestion! I currently have no plans to turn simple-keyboard into a Web Component, but I might revisit this in the future.

Regards,
Francisco Hodge

[2020-10-11 15:32] #725 closed

[2020-10-13 12:36] soumen-cn commented on #712
Hi @hodgef

Thanks for the reply. `direction: rtl;` fixed my issue in the input box.
But if you look at `onChange` method on it is returning the wrong input. The position of any special character is not in the proper position initially.

Open the link: https://hodgef.com/simple-keyboard/demos/?d=hebrew and check the console.
Try with trying special characters with Hebrew characters.

[2020-10-14 14:59] soumen-cn commented on #712
Hello @hodgef

I have noticed that when I press any brackets like `[ ] ( ) {  }`  they are showing wrong brackets, the opposite one. Also showing different in the console.

[2020-10-14 15:05] hodgef commented on #712
Hello @soumen-cn, this is probably because of the `direction: rtl` CSS that we talked about before.

I think what we need here is an `rtl: true` option in simple-keyboard. This way the input will be entered correctly from the source. I'll work on it and release an update this week.

Thanks!

[2020-10-16 04:14] #712 closed

[2020-10-16 12:11] dblachut-adb opened #734 "clearInput method does not fire onChange event"
**Simple-keyboard version**
https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/index.min.js
https://cdn.jsdelivr.net/npm/simple-keyboard@latest/build/css/index.css
https://cdn.jsdelivr.net/npm/simple-keyboard-key-navigation@latest/build/index.min.js

**Describe the bug**
calling clearInput method does not fire onChange("") event.

[2020-10-16 13:28] dblachut-adb opened #735 "Can physical keyboard actually input text through simple keyboard instance?"
**Is your feature request related to a problem? Please describe.**
On devices without keyboards and mouse (e.g TV) this module can be used together with simple-keyboard-key-navigation and it works great.

Sometimes in is handy to run the app on PC browser to test something quickly. For such case the physical keyboard could imitate the same behavior as on button pressing,

**Describe the solution y

[2020-10-16 14:02] hodgef commented on #734
Hello @dblachut-adb, this is as intended. The `onChange` callback is only fired when you press a button.

Methods such as `clearInput`, `setInput` and `replaceInput`, do not trigger onChange because if you call them you can handle other side effects at that same spot in the code without the need for onChange.

I think this has worked pretty well so far - however, if I get several requests to chang

[2020-10-16 14:02] #734 closed

[2020-10-16 14:04] dblachut-adb commented on #734
Okay, no problem, thanks for the answer!

[2020-10-16 14:11] superhackerboy opened #736 "Apply class to letter on press"
**Simple-keyboard version**
^2.4.68

**Describe the bug**
React Hooks. I want to apply a CSS class to a letter when it's pressed. I have [this template](https://github.com/superhackerboy/hollywood-hangman/blob/1eef1123aea98f1c4adb90293fe3e12835cfd6d4/src/components/Movie.js#L17) as my state. Setting `buttons: letter.toUpperCase()` works but the letter will obviously be replaced with the next lette

[2020-10-16 14:24] hodgef commented on #735
Hey @dblachut-adb, thanks for this proposal - I think it will be useful indeed.

One think to note with `physicalKeyboardHighlight` is that is has some limitations. Basically what it does it take your physical keyboard `keyCode` and searches a button in your simple-keyboard layout with the same name, then applies highlighting to it.

https://github.com/hodgef/simple-keyboard/blob/f4b87e76a8251b695

[2020-10-16 14:37] dblachut-adb commented on #735
Sounds great, but maybe together with ```physicalKeyboardHighlightPress``` there could also be ```physicalKeyboardInput``` which would work on all physical keyboard keys (not only those in layout)?
My point with such approach is that you will not have to switch to e.g. numeric key layout to enter some number.

I think this may violate some other options like ```inputPattern``` though... Let me kno

[2020-10-16 17:19] hodgef commented on #735
Hmm I think my issue with `physicalKeyboardInput` is pretty similar than in https://github.com/hodgef/simple-keyboard/issues/734 - I only call `onChange` when a simple-keyboard button is pressed, since there's a flow and checks that happen on each button press and I wouldn't like a potential `physicalKeyboardInput` to bypass those.

So when it comes to composing text I would definitely route it th

[2020-10-19 05:01] vineethma opened #742 "Auto Scroll is not happening when using simple keyboard"
I have a form group. where there is multiple input fields. But when I click a input field in the bottom of the window, the keyboard comes over the input field. I want the page to be scrolled and keyboard should always come below the selected input field.

Can Someone please help me with this

[2020-10-20 23:59] hodgef commented on #742
Hello @vineethma,

This is custom behavior that you would have to implement into your application.

- One approach would be to insert a simple-keyboard target div (`<div class="simple-keyboard"></div>`) inside your input group.
So when you focus the input, you would initialize the keyboard, and when you click outside you would call `keyboard.destroy()`

- Another (easier) approach would be to just

[2020-10-20 23:59] #742 closed

[2020-10-21 00:12] faceru opened #748 "Cursor positioning does not work with InputMask module"
Hello, is it possible to somehow fix the problem with the mask priority. If you use your mask, and try to correct the value not at the end, then the cursor jumps to the end. I understand this because InputMask and InputPattern are more important than value. It is possible to fix this or it is a nuance of your keyboard implementation.

[2020-10-21 00:12] #748 closed

[2020-10-21 00:54] #735 closed

[2020-10-21 02:12] hodgef commented on #735
The option `physicalKeyboardHighlightPress` is now live as of v2.32.0. Here are docs for it:
https://hodgef.com/simple-keyboard/documentation/options/physicalkeyboardhighlightpress/

Thanks!
Francisco Hodge

[2020-10-21 07:06] inglesuniversal opened #749 "Feature request: Bind microphone key on physical keyboard (iPhone, iPad, Android) to a custom key"
For years I have tried to find a way to bind the microphone key on my iphone to a html5 element, button and your amazing script would be so much more enhanced if this can become a reality.

As an Educator (ESL) mobile apps can benefit by having a direct button or key binding directly to the mobile devices key which controls the voice over or speech recognition feature of the phone while dictating

[2020-10-21 13:47] hodgef commented on #749
Hello @inglesuniversal, sadly I don't think this is possible. Perhaps a native keyboard app would have access to this kind of integration. Simple-keyboard runs in a browser, therefore it can't bind itself to events outside of the browser.

Regards,
Francisco Hodge

[2020-10-21 13:47] #749 closed

[2020-10-22 14:00] behzadsoleimani opened #758 "Doesnt work simple-keyboard on iframe"

[2020-10-22 14:05] hodgef commented on #758
@behzadsoleimani, please provide more details on what your trying to achieve specifically. The issue template was added for a reason!

[2020-10-22 14:05] #758 closed

[2020-10-22 15:50] kirty0110 opened #759 "maxLength validation not working for .com button if the last button pressed is .com"
We have a usecase where user can enter max 50 characters in an input field, but if the user pressed .com as 50th character then keyboard allows user to add any number of characters.

sandbox- https://hodgef.com/simple-keyboard/editor/?d=hodgef/simple-keyboard-npm-demos/tree/uc-maxlength

[2020-10-22 15:54] hodgef commented on #759
Hello @kirty0110, I was able to confirm this. I'll have the fix released later this evening. Thanks!

[2020-10-22 16:36] kirty0110 commented on #759
Hello @hodgef, Thanks for your prompt response. Also need to provide yahoo.com, hotmail.com and gmail.com buttons. Can the maxlength property function be made flexible enough to incorporate all this.

[2020-10-22 16:39] hodgef commented on #759
Yes it will be a generic fix that addresses any maxLength overflows of the sort. I thought I had fixed this already before but I'll double check later today. When the release is out I'll post an update here. Cheers

[2020-10-23 03:21] #759 closed

[2020-10-23 03:24] hodgef commented on #759
Hello @kirty0110, this should be fixed as of version 2.32.10. Feel free to give it a try.

Thanks!
Francisco Hodge

[2020-10-23 12:58] kirty0110 opened #760 "Setting internal keyboard caret position in input field not working properly for left and right arrow keys functionality"
Hello @hodgef,

I was trying to implement the left and right arrow keys functionality, but somehow I am unable to set the caret position in the input field. Also after setting the cursor at different position, the OnChange event is giving unexpected values.

Please find this sandbox that reproduces the issue- https://codesandbox.io/s/broken-water-xjo4u?file=/src/app/app.component.ts

Thank You,
@k

[2020-10-23 12:58] kirty0110 commented on #759
Its works now..Thanks:)

[2020-10-23 13:52] kirty0110 opened #761 "How to add a custom button having functionality of backspace button"
Hey @hodgef,

I want to add del button instead of backspace button. The functionality should be same as backspace button but it should appear as "del". And also if I wish to add some more buttons having functionality like the "Next Field" button, how should I proceed, please suggest. I want them to be used as function keys instead of typing keys.

Thanks,
@Kirty0110

[2020-10-23 14:34] hodgef commented on #761
Hello @kirty0110,

You can add a `{backspace}` or a `{bksp}` button and label it as "del" with the [`display`](https://hodgef.com/simple-keyboard/documentation/options/display/) option.
https://codesandbox.io/s/sparkling-framework-x7kdq?file=/src/index.css

Regarding the next field button, this is custom functionality that you would have to implement. You can add a `{next}` button (when you put cu

[2020-10-23 14:34] #761 closed

[2020-10-23 15:02] hodgef commented on #760
Hello @kirty0110,

If you log the `keyboard.caretPosition` you'll notice that it is set to `null` by default. simple-keyboard only sets the caretPosition when it gets it from `element.selectionStart`, which only happens when you click on an input.

So in your case you need to handle the case when caretPosition is null.

Here's an example:
https://codesandbox.io/s/brave-chaplygin-xewwi?file=/src/ap

[2020-10-23 15:02] #760 closed

[2020-10-23 15:43] superhackerboy opened #762 "Open link on keypress"
Where would I go to assign a key to function as a link? Right now I have the code shown as below in the component using react-simple-keyboard. It works on Chrome, however, Safari blocks popups such as this.

[code]

[2020-10-23 15:52] hodgef commented on #762
Hello @superhackerboy,

If you don't want your button to input text you should wrap it in curly braces (e.g: `{mybtn}`). Then you would change the displayed label for this button by using the `layout` option: https://hodgef.com/simple-keyboard/documentation/options/display/

Regarding opening as a link, that's more of a general Javascript question. If you want to avoid popup blockers you'll need t

[2020-10-23 15:52] #762 closed

[2020-10-24 05:47] behzadsoleimani commented on #758
Ui on Our React Project open in a Frame (Iframe), but simple-keyboard crashed in Iframe probably because simple-keyboard search div with "simple-keyboard" class on window.document not Iframe content. please fix it.

[2020-10-25 18:55] ZaneL opened #774 "Why is the input not updating / cursor being set to the correct position? (Vue 2)"
Hello,

I'm new to this reactive stuff so I might just be doing something completely dumb. I've attached a gif so that you can see what I'm trying to do, and what isn't working. Essentially I want the user to be able to click on each input and it loads the label + value of the input into the dialog input and lets them edit the value from the dialog. It's almost working except for the fact that the

[2020-10-25 21:22] hodgef commented on #774
Hello @ZaneL, do you mind providing a test repository for this? I think the description you provided is very helpful, but I'm not sure what could be causing it and would like to debug it further.

I'll close this for now and reopen when I get the repro. Thanks!

[2020-10-25 21:55] ZaneL commented on #774
Thank you!

Here is the link:
[https://codesandbox.io/s/bold-tree-ewxdu?file=/src/components/InputDialogFullKeyboard.vue](https://codesandbox.io/s/bold-tree-ewxdu?file=/src/components/InputDialogFullKeyboard.vue)

If you look in the components _FullKeyboard_ I essentially copied from your vue example. _InputDialogFullKeyboard_ is a component that just has the dialog with the two inputs and a keybo

[2020-10-26 04:05] hodgef commented on #774
Hello @ZaneL,

Here's a fixed version
https://codesandbox.io/s/strange-goldberg-p92sk?file=/src/components/SetupPage.vue

What was missing was an emitter that sends the new value to the parent when the dialog closed.

Hope that helps!
Francisco Hodge

[2020-10-26 04:05] #774 closed

[2020-10-26 07:45] dblachut-adb commented on #735
Perfectly understandable, thank you for the change I will start using it right away!